<div class="legend-container">
    <button md-button [md-menu-trigger-for]="menu" (onMenuClose)="onMenuClose()" (onMenuOpen)="onMenuOpen()" class="legend-button">
      <span class="legend-text">Legend</span><md-icon size="18" class="legend-text">{{menuIcon}}</md-icon>
    </button>

    <md-menu #menu="mdMenu" [overlapTrigger]="false">
        <div *ngFor="let colorSet of colorSets">
            <button md-menu-item *ngFor="let key of colorSet.getAllKeys()">
                <md-icon size="24" [ngStyle]="{'color': getColorFor(colorSet, key)}">{{getIcon(true)}}</md-icon>
                <span [ngStyle]="{'color': getColorFor(colorSet, key)}" >{{key}}</span>
            </button>
        </div>
    </md-menu>

</div>