<div class="legend-container">
    <button mat-button [mat-menu-trigger-for]="menu" (onMenuClose)="onMenuClose()" (onMenuOpen)="onMenuOpen()" class="legend-button">
      <span class="legend-text">Legend</span><mat-icon class="neon-icon-small legend-text">{{ menuIcon }}</mat-icon>
    </button>

    <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <div *ngFor="let colorSet of colorSets">
            <div *ngIf="filteringOn">
            <button mat-menu-item *ngFor="let key of colorSet.getAllKeys()" (click)="keySelected($event, colorSet.name, key)">
                <mat-icon [ngStyle]="{'color': getColorFor(colorSet, key)}">{{ getIcon(colorSet.name, key) }}</mat-icon>
                <span [ngStyle]="{'text-decoration': getTextDecoration(colorSet.name, key)}">{{ key }}</span>
            </button>
        </div>
            <div *ngIf="!filteringOn">
                <button class="resize-icon" mat-menu-item *ngFor="let key of colorSet.getAllKeys()" (click)="stopPropagation($event)">
                    <mat-icon  [ngStyle]="{'color': getColorFor(colorSet, key)}">{{ getIcon(colorSet.name, key) }}</mat-icon>
                <span >{{ key }}</span>
            </button>
            </div>
        </div>
    </mat-menu>

</div>
