<div class="legend-container">
    <button mat-button [mat-menu-trigger-for]="menu" (onMenuClose)="onMenuClose()" (onMenuOpen)="onMenuOpen()" class="legend-button">
      <span class="legend-text">Legend</span><mat-icon class="neon-icon-small legend-text" svgIcon="{{ menuIcon }}"></mat-icon>
    </button>

    <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <div *ngFor="let colorSet of colorSets">
            <div *ngIf="filteringOn">
            <button mat-menu-item *ngFor="let key of colorSet.getAllKeys()" (click)="keySelected($event, colorSet.getColorField(), key)">
                <mat-icon [ngStyle]="{'color': getColorFor(colorSet, key)}" svgIcon="{{ getIcon(colorSet.getColorField(), key) }}"></mat-icon>
                <span [ngStyle]="{'text-decoration': getTextDecoration(colorSet.getColorField(), key)}">{{ key }}</span>
            </button>
        </div>
            <div *ngIf="!filteringOn">
                <button class="resize-icon" mat-menu-item *ngFor="let key of colorSet.getAllKeys()" (click)="stopPropagation($event)">
				  <!-- TODO for THOR-729 -->
                    <mat-icon  [ngStyle]="{'color': getColorFor(colorSet, key)}" svgIcon="{{ getIcon(colorSet.getColorField(), key) }}"></mat-icon>
                <span >{{ key }}</span>
            </button>
            </div>
        </div>
    </mat-menu>

</div>
