<mat-toolbar class="neon-toolbar-thin" color="header" layout-align="space-between center" flex>
    <div #headerText class="header text pull-left" [matTooltip]="options.title" tooltip-position="below">{{ options.title }}</div>
    <span class="fill-remaining"></span>
    <span #infoText class="info text">
        <span class="error-message" *ngIf="errorMessage" [matTooltip]="errorMessage" tooltip-position="below">
            {{ errorMessage }}
        </span>
        <span *ngIf="!errorMessage" class="data-info" [matTooltip]="getButtonText()" tooltip-position="below">
            {{ getButtonText() }}
        </span>
    </span>
    <button mat-icon-button aria-label="Settings" matTooltip="Open/Close the Options Menu" matTooltipPosition="below"
        (click)="toggleGear();">
        <mat-icon>settings</mat-icon>
    </button>
</mat-toolbar>

<div [class.loading-overlay]="loadingCount > 0" [class.not-loading-overlay]="loadingCount == 0">
    <mat-spinner></mat-spinner>
</div>

<div class="body-container">

    <!-- TODO Replace with your visualization components! -->
    <div *ngIf="visualizationData != null">
        <div class="data-item" *ngFor="let item of visualizationData">
            <span class="text" [matTooltip]="item.label + ': ' + item.count" tooltip-position="below">
                {{ item.label }}: {{ item.count }}
            </span>
            <button mat-icon-button class="neon-icon-button-small" aria-label="Add Filter" [matTooltip]="'Add Filter on ' + item.value"
                tooltip-position="below" (click)="filterOnItem(item, false)">
                <mat-icon class="neon-icon-small">search</mat-icon>
            </button>
            <button mat-icon-button class="neon-icon-button-small" aria-label="Replace Filter"
                [matTooltip]="'Replace Filters with Filter on ' + item.value" tooltip-position="below" (click)="filterOnItem(item, true)">
                <mat-icon class="neon-icon-small">find_replace</mat-icon>
            </button>
        </div>

        <!-- TODO Remove if you don't need a chart container element. -->
        <div #subcomponent class="chart-container" style="display: none;">
        </div>
    </div>
</div>
