<mat-toolbar class="neon-toolbar-thin" layout-align="space-between center" flex>
    <div #headerText class="header text pull-left" [matTooltip]="options.title" tooltip-position="below">
        {{ options.title }}
    </div>
    <span class="fill-remaining"></span>
    <span #infoText class="info text">
        <span class="error-message" *ngIf="errorMessage" [matTooltip]="errorMessage" tooltip-position="below">
            {{ errorMessage }}
        </span>
        <span *ngIf="!errorMessage" class="data-info" [matTooltip]="getButtonText()" tooltip-position="below">
            {{ getButtonText() }}
        </span>
    </span>
</mat-toolbar>

<div [class.loading-overlay]="loadingCount > 0" [class.not-loading-overlay]="loadingCount == 0">
    <mat-spinner></mat-spinner>
</div>

<app-data-message *ngIf="showNoData" [displayMessage]="showNoData"></app-data-message>

<div class=" top-container " *ngIf="showLegendContainer()">
    <div class="legend-container">
        <app-legend [colorKeys]="colorKeys" [disabledSets]="disabledSet" (itemSelected)="legendItemSelected($event)">
        </app-legend>
    </div>
</div>

<div class="body-container">
    <mat-list class="annotation-viewer-list-container">
        <div class="mat-list-item-text annotation-viewer-list-item" layout="column">
            <!-- TODO Do not use <table> elements!  Use flex styling! -->
            <ul class="annotation-viewer-table">
                <ng-template ngFor let-item [ngForOf]="data">
                    <li [ngClass]="{
                                'document-row': !options.respondMode || options.highlightInRespondMode,
                                'document-row-no-highlight-respond': options.respondMode && !options.highlightInRespondMode
                            }" (click)="onClick(item)">
                        <span *ngFor="let parts of item.parts" [style.background-color]="parts.highlightColor" [matTooltip]="parts.type"
                            (click)="onClickPart(parts, item); stopEventPropagation($event)" tooltip-position="below">
                            <app-text-with-url [text]=parts.text>
                            </app-text-with-url>
                        </span>
                    </li>
                </ng-template>
            </ul>
        </div>
    </mat-list>
</div>

<!-- need to account for footer only, contribution text only, or footer and contribution text together -->
<div class="footer" *ngIf="showPagination()">
    <div class="footer-button-container">
        <button mat-raised-button [disabled]="page == 1" class="neon-button-small pagination-button" (click)="goToPreviousPage()">
            Previous
        </button>
        <span class="pagination-button-spacer"></span>
        <button mat-raised-button [disabled]="lastPage" class="neon-button-small pagination-button" (click)="goToNextPage()">
            Next
        </button>
    </div>
</div>

<div class="contribution-text" *ngIf="showContribution()">
    <div class="contribution-text-container">
        <a (click)="openContributionDialog()">
            {{ getContributorAbbreviations() }}
        </a>
    </div>
</div>
