# See http://help.github.com/ignore-files/ for more about ignoring files.

# client folder is outdated: ignore it if it exists
/client

**/.terraform
terraform/lambda.zip

# compiled output
/dist
/tmp
/doc
/target

# ignore personal build and run scripts in docker dir
docker/build.sh
docker/run.sh

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/
.vscode/
*.swp
/out-tsc
*~

# misc
/.sass-cache
/connect.lock
/reports/
/libpeerconnection.log
npm-debug.log
testem.log
/typings
.directory
.Rhistory
.history

# e2e
/e2e/*.js
!/e2e/ci.server.js
!/e2e/protractor*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db

#config files
src/app/config/config.json
src/app/config/config.yaml
src/app/config/config\.working\.json
src/app/config/config\.working\.yaml

# custom assets
src/assets/custom/*

# Lockfiles
# The build should depend on the package.json, so don't depend on the lockfiles
yarn.lock
package-lock.json

# Derby database
derby.log
/properties/*

src/app/shared/index\.ts

# Automatically-generated Derby database for saved states and stuff.
savedStates/*

# Linter
.eslintcache

# Proxy config file
proxy.conf.json

src/environments/environment.prod.ts

