<mat-sidenav-container #visualization class="visualization-sidenav">
    <div class="dashboard-selector-container">
        <div class="neon-form-field">
            <app-dashboard-dropdown #dashboardDropdown [dashboards]="dashboards"
                (selectionChange)="setDashboardChoice($event)">
            </app-dashboard-dropdown>
        </div>
        <div class="neon-form-field button-row">
            <button mat-raised-button color="primary" [disabled]="!dashboardChoice" (click)="updateDashboardState()"> Apply </button>
        </div>
    </div>
</mat-sidenav-container>
