.dashboard-selector-container {
    padding: 15px;
}

.dashboard-selector {
    width: 410px;
    padding-left: 15px;
    padding-right: 15px;
}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}

.dashboard-selector-close {
    float: right;
    margin: 4px 6px !important;
}
