<mat-toolbar class="neon-toolbar-thin" color="header" layout-align="space-between center" flex>
    <div class="header text pull-left" [matTooltip]="'Dashboards'" tooltip-position="below">
        Dashboards
    </div>

    <span class="fill-remaining"></span>

    <button mat-icon-button class="column-selector-close" aria-label="Close" matTooltip="Close" tooltip-position="below"
        (click)="emitCloseComponent()">
        <mat-icon class="column-selector-close-icon">close</mat-icon>
    </button>
</mat-toolbar>

<div class="dashboard-selector-container">
    <div class="neon-form-field">
        <mat-form-field class="neon-form-field-flex-5" *ngFor="let dashboard of choiceNodes; let idx = index">
            <mat-select [placeholder]="dashboard.category" (selectionChange)="selectDashboard($event.value,idx)" [value]="choices[idx+1]">
                <mat-option *ngFor="let choice of getNextChoices(dashboard)" [value]="choice">
                    {{ choice.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="neon-form-field button-row">
        <button mat-raised-button class="neon-button-large" [disabled]="!dashboardChoice" (click)="updateDashboardState(dashboardChoice)">
            Apply
        </button>
    </div>
</div>
