<div *ngIf="tabsAndMedia.length > 0">
    <mat-tab-group class="tab-medium" [(selectedIndex)]="selectedTabIndex" headerPosition="below">
        <mat-tab class="tab" *ngFor="let tab of tabsAndMedia; let i = index"
            style="background:url('+tab.selected.link+')" [label]="tab.name">
            <div [ngSwitch]="tab.selected.type">
                <!-- TODO Move into a subcomponent shared with the single-media behavior -->
                <div *ngSwitchCase="mediaTypes.maskImage">
                    <div *ngIf="tab.selected.link" [style.backgroundImage]="tab.selected.link"
                        [title]="tab.selected.name" [id]="'medium' + i"
                        [style.opacity]="calculateOpacity(options.sliderValue)" (load)="setmediaLoaded(tab, i)"
                        [class.image]="true"
                        [class]="tab.selected.border ? ('image with-border border-mat-' + tab.selected.border + ' medium') : 'image medium'">

                    </div>
                    <img *ngIf="tab.selected.mask" [src]="tab.selected.mask" [alt]="tab.selected.name" [id]="'mask' + i"
                        [hidden]="!tab.loaded"
                        [class]="tab.selected.border ? ('image with-border border-mat-' + tab.selected.border + ' mask') : 'image mask'">
                    <mat-slider color="accent" min="0" max="100" step="1" thumbLabel [value]="options.sliderValue">
                    </mat-slider>
                </div>
                <div *ngSwitchCase="mediaTypes.image" [style.backgroundImage]="'url('+tab.selected.link+')'"
                    [title]="tab.selected.name"
                    [class]="tab.selected.border ? ('image with-border border-mat-' + tab.selected.border) : 'image'">
                </div>
                <audio *ngSwitchCase="mediaTypes.audio" controls [attr.autoplay]='options.autoplay ? true : null'
                    [class]="tab.selected.border ? ('audio with-border border-mat-' + tab.selected.border) : 'audio'">
                    <source [src]="tab.selected.link">
                </audio>
                <!-- Use iframe for mediaTypes.video and other types -->
                <iframe *ngSwitchDefault [src]="sanitize(tab.selected.link)" frameborder="0"
                    [class]="tab.selected.border ? ('frame with-border border-mat-' + tab.selected.border) : 'frame'">
                </iframe>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
