:host {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
}


iframe {
    height: 100%;
    width: 100%;
}

ol {
    clear: both;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-content: center;
    padding-inline-start: 2px;
}

li {
    list-style: none;
}

#viewer-container {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

#pres-container {
    position: relative;
    align-content: top;
}

#container-thumb {
    position: relative;
}

// a.media-prev {
//     position: absolute;
//     color: #FFFFFF;
//     background-color: var(--color-dash-item-unselected, lightgrey) !important;
//     border-radius: 4px;
//     top: 40px;
// }

// a.media-prev:hover {
//     position: absolute;
//     color: #FFFFFF;
//     background-color: var(--color-dash-item-selectable, lightgrey) !important;
//     border-radius: 4px;
//     top: 40px;
// }

// a.media-next {
//     position: absolute;
//     color: #FFFFFF;
//     background-color: var(--color-dash-item-unselected, lightgrey) !important;
//     border-radius: 4px;
//     top: 40px;
//     right: 0;
// }

// a.media-next:hover {
//     position: absolute;
//     color: #FFFFFF;
//     background-color: var(--color-dash-item-selectable, lightgrey) !important;
//     border-radius: 4px;
//     top: 40px;
//     right: 0;
// }

.presentation {
    width: 98%;
    height: 280px;
    object-fit: contain;
    border: 3px var(--color-dash-item-selectable, lightgrey);
    border-radius: 5px;
    border-style: groove;
    transition: color 1s ease-in-out 1s;
}
