.thumb {
    opacity: 1;
    width: 90%;
    height: 80px;
    margin: 8px;
    object-fit: cover;
    border: 1px #AAAAAA;
    border-radius: 3px;
    border-style: groove;
    box-shadow: 2px 2px 5px #222222;
}
