:host {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
}


iframe {
    height: 100%;
    width: 100%;
}
.mdb-carousel {
    width: 100%;
}
div {
    .image {
        width: 100%;
        height: 300px;
        margin-bottom: 5px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .inner {
        position: absolute;
      }
      
}



.d-block_w-100_img-fluid{
    width: 100%;
}

.mat-tab-label:hover, // sass-lint:disable-line force-pseudo-nesting
.mat-tab-label-active {
    background-color: #000 !important;
    color: var(--color-dash-item-selectable-text, dimgrey) !important;
}

.mat-slider {
    margin: 0 10px;
    width: calc(100% - 20px);
    z-index: 4;

    ::ng-deep {
        .mat-slider-thumb-label {
            ::after {
                content: '%';
            }
        }

        .mat-slider-thumb-label-text {
            font-size: 11px;
        }
    }
}

