<form class="settings-container" #optionsForm="ngForm">

    <h3>
        <span>Export Format</span>
    </h3>

    <p></p>
    <app-export-control [exportTarget]="exportTarget"></app-export-control>
    <p></p>

    <mat-divider></mat-divider>

    <h3>
        <span>Themes</span>
    </h3>
    <p></p>
    <div class='radio-container' layout="row" mat-margin>
        <mat-radio-group [(ngModel)]="formData.currentTheme" name="currentThemeGroup" (change)="setCurrentTheme(formData.currentTheme)">
            <mat-radio-button class="radio-btn" *ngFor="let theme of themesService.getThemes()" [value]="theme.id">{{ theme.name }}</mat-radio-button>
        </mat-radio-group>
    </div>
    <p></p>

    <mat-divider></mat-divider>

    <h3>
        <span>Display Tools</span>
    </h3>
    <p></p>

    <div class="display-tools-container">
        <div class="checkmark-container">
            <input type="checkbox" [checked]="rightPanelService.showVisShortcut" (change)="rightPanelService.showVisShortcut = !rightPanelService.showVisShortcut">
            Simple Search Bar
            <mat-form-field>
                <mat-select placeholder="Simple Search Field" [(ngModel)]="simpleSearchField" required="true" [disabled]="options.fields.length == 0">
                    <mat-option [value]="emptyField">(None)</mat-option>
                    <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="checkmark-container">
            <input type="checkbox" [checked]="rightPanelService.showVisShortcut" (change)="rightPanelService.showVisShortcut = !rightPanelService.showVisShortcut">
            Show shortcut
        </div>
    </div>

</form>