<form class="settings-container" #optionsForm="ngForm">
    <h3 class="header"> Export Format</h3>
    <app-export-control [exportCallbacks]="getExportCallbacks(widgets)"></app-export-control>

    <mat-divider class="divider"></mat-divider>
    <h3 class="header">Themes</h3>
    <div class='radio-container' layout="row" mat-margin>
        <mat-radio-group [(ngModel)]="formData.currentTheme" name="currentThemeGroup" (change)="setCurrentTheme(formData.currentTheme)">
            <mat-radio-button class="radio-btn" *ngFor="let theme of colorThemeService.getThemes()" [value]="theme.id">{{ theme.name }}
            </mat-radio-button>
        </mat-radio-group>
    </div>

    <mat-divider class="divider"></mat-divider>
    <h3 class="header">Display Tools</h3>
    <div class="display-tools-container">
        <div class="checkmark-container">
            <input type="checkbox" [checked]="showFilterTray" (change)="publishShowFilterTray()">
            Show Filter Builder Icon
        </div>
        <div class="checkmark-container">
            <input type="checkbox" [checked]="showSimpleSearch" (change)="publishShowSimpleSearch()">
            Simple Search Bar
            <div *ngIf="showSimpleSearch">
                <mat-form-field class="dropdown-menu">
                    <mat-select name="simple-search-field" placeholder="Simple Search Field" [(ngModel)]="searchField"
                        (ngModelChange)="changeSimpleSearchFilter()" required="true" [disabled]="fields.length == 0">
                        <mat-option [value]="emptyField">(None)</mat-option>
                        <mat-option *ngFor="let field of fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="checkmark-container">
            <input type="checkbox" [checked]="showVisualizationsShortcut" (change)="publishShowVisualizationsShortcut()">
            Show Visualization Shortcut
        </div>
        <div class="checkmark-container">
            <input type="checkbox" [checked]="showLocalTimes" (change)="publishShowLocalTimes()">
            Show Local Times
        </div>
    </div>
</form>
