<div [class.neon-green-dark-theme]="themesService.getCurrentTheme().id === 'neon-green-dark-theme'">
    <mat-toolbar color="primary">
        <span>{{ filters.formatted.length + ' filter' + ((filters.formatted.length === 1) ? '': 's') }}</span>
    </mat-toolbar>

    <div mat-fill>
        <mat-list>
            <mat-list-item *ngFor="let filter of filters.formatted" class="filter-tray-item filter-tray-filter">
                <button mat-icon-button matTooltip="Remove filter" tooltip-position="below" (click)="removeFilter(filter.ids)">
                    <mat-icon>delete</mat-icon>
                </button>
                <div>{{ filter.name }}</div>
            </mat-list-item>
            <mat-list-item *ngIf="!filters.formatted.length">No Filters Set</mat-list-item>
        </mat-list>
    </div>

    <div mat-fill class="flex">
        <span class="fill-remaining"></span>
        <button mat-raised-button color="primary" (click)="dialogRef.close('close')"> Close </button>
    </div>
</div>
