<div class="visualization-sidenav">
    <mat-toolbar class="neon-toolbar-thin" color="header" layout-align="space-between center" flex>
        <div class="header text pull-left" [matTooltip]="getDefaultTitle()" tooltip-position="below">
            {{ getDefaultTitle() }}
        </div>

        <span class="fill-remaining"></span>

        <button mat-icon-button class="column-selector-close" aria-label="Close" matTooltip="Close" tooltip-position="below"
            (click)="closeFiltersDialog()">
            <mat-icon class="column-selector-close-icon">close</mat-icon>
        </button>
    </mat-toolbar>

    <div class="body-container">
        <app-filter-builder [hidden]="!showFilterBuilderView"></app-filter-builder>
    </div>
</div>
