<mat-sidenav-container class="visualization-sidenav">
    <mat-toolbar class="neon-toolbar-thin" color="header" layout-align="space-between center" flex>
        <div class="header text pull-left" [matTooltip]="getDefaultTitle()" tooltip-position="below">
            {{ getDefaultTitle() }}
        </div>

        <mat-button-toggle-group class="neon-button-toggle-group-small view-toggle" [(ngModel)]="showFilterBuilderView">
            <mat-button-toggle [value]="true">Filter Builder</mat-button-toggle>
            <mat-button-toggle [value]="false">Active Filters</mat-button-toggle>
        </mat-button-toggle-group>

        <span class="fill-remaining"></span>

        <!-- TODO: 943: close button? -->
    </mat-toolbar>

    <div class="body-container">
        <app-filter-builder [hidden]="!showFilterBuilderView"></app-filter-builder>
        <app-current-filters [hidden]="showFilterBuilderView" [widgets]="widgets"></app-current-filters>
    </div>
</mat-sidenav-container>
