<mat-toolbar class="neon-toolbar-thin">
    <span>Required Config</span>
</mat-toolbar>

<!-- Non MultiLayer Support-->
<div class="option-well">
    <mat-form-field class="option-container">
        <mat-select placeholder="Datastore" [(ngModel)]="optionCollection.datastore" required="true"
            [name]="optionCollection._id + '_datastore'" (ngModelChange)="handleChangeDatastore()"
            [disabled]="optionCollection.datastores.length < 2">
            <mat-option *ngFor="let datastore of optionCollection.datastores" [value]="datastore">
                {{ datastore.name }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="option-container" *ngIf="optionCollection.datastore != null">
        <mat-select placeholder="Database" [(ngModel)]="optionCollection.database" required="true"
            [name]="optionCollection._id + '_database'" (ngModelChange)="handleChangeDatabase()"
            [disabled]="optionCollection.databases.length < 2">
            <mat-option *ngFor="let database of optionCollection.databases" [value]="database">
                {{ database.prettyName }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="option-container" *ngIf="optionCollection.database != null">
        <mat-select placeholder="Table" [(ngModel)]="optionCollection.table" required="true" [name]="optionCollection._id + '_table'"
            (ngModelChange)="handleChangeTable()" [disabled]="optionCollection.tables.length < 2">
            <mat-option *ngFor="let table of optionCollection.tables" [value]="table">{{ table.prettyName }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Required Field Config-->
    <app-options-list [options]="optionCollection" [fields]="optionCollection.fields" [bindingsList]="getRequiredFields(optionCollection)"
        [updateOnChange]="updateOnChange">
    </app-options-list>

    <!-- Required Non-Field Config-->
    <app-options-list [options]="optionCollection" [fields]="optionCollection.fields"
        [bindingsList]="getRequiredNonFields(optionCollection)" [updateOnChange]="updateOnChange">
    </app-options-list>
</div>

<mat-toolbar class="neon-toolbar-thin tappable" (click)="toggleOptionalOptions()">
    <span>Optional Config</span>
    <span class="spacer"></span>
    <mat-icon class="neon-icon-small">{{ getIconForOptions() }}</mat-icon>
</mat-toolbar>

<div class="option-well" [hidden]="collapseOptionalOptions">
    <!-- Optional Field Config-->
    <app-options-list [options]="optionCollection" [fields]="optionCollection.fields" [bindingsList]="getOptionalFields(optionCollection)"
        [updateOnChange]="updateOnChange">
    </app-options-list>

    <!-- Optional Non-Field Config-->
    <app-options-list [options]="optionCollection" [fields]="optionCollection.fields"
        [bindingsList]="getOptionalNonFields(optionCollection)" [updateOnChange]="updateOnChange">
    </app-options-list>
</div>
