{
    "name": "Thing",
    "children": [{
        "name": "Event",
        "children": [{
            "name": "Landslide"
        },{
            "name": "Violence"
        },{
            "name": "Looting"
        },{
            "name": "MedicalEmergency"
        },{
            "name": "PeopleTrapped"
        },{
            "name": "MissingPersons"
        },{
            "name": "CollapsedStructure"
        },{
            "name": "CompromisedBridge"
        },{
            "name": "UnstableStructure"
        },{
            "name": "InfrastructureDamage"
        },{
            "name": "RoadBlocked"
        },{
            "name": "PowerOutage"
        },{
            "name": "WaterShortage"
        }]
    }]
}