<mat-sidenav-container class="visualization-sidenav" [class.neon-green-dark-theme]="themesService.getCurrentTheme().id === 'neon-green-dark-theme'">
    <mat-toolbar color="header" layout-align="space-between center" flex>
        <div class="header text pull-left" [title]="createTitle()">{{ createTitle() }}</div>
        <span class="fill-remaining"></span>
        <span class="text" title="Open/Close the Options Menu">{{ getButtonText() }}</span>
        <button mat-icon-button aria-label="Settings" matTooltip="Open/Close the Options Menu" tooltip-position="below" (click)="optionsMenu.toggle();">
            <mat-icon class="mat-24">settings</mat-icon>
        </button>
    </mat-toolbar>

    <mat-sidenav #optionsMenu align="end" class="visualization-sidenav-options">
        <mat-card align="left">
            <mat-card-content>
                <label style="display: inline;" *ngIf="getButtonText()">
                    <mat-icon class="error-icon">error</mat-icon>
                    {{ getButtonText() }}
                </label>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Database" [(ngModel)]="meta.database"
                                required="true" (ngModelChange)="handleChangeDatabase()" [disabled]="meta.databases.length < 2">
                        <mat-option *ngFor="let database of meta.databases" [value]="database">{{ database.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="Table" [(ngModel)]="meta.table" required="true"
                                (ngModelChange)="handleChangeTable()" [disabled]="meta.tables.length < 2">
                        <mat-option *ngFor="let table of meta.tables" [value]="table">{{ table.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="Initial Sort Field" [(ngModel)]="active.sortField"
                                required="true" (ngModelChange)="handleChangeSortField()"
                                [disabled]="meta.fields.length == 0">
                        <mat-option *ngFor="let field of meta.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>

            <!--
                <table cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field>
                                <input [disabled]="optionsFromConfig.limitDisabled" matInput placeholder="Row Limit" [(ngModel)]="active.limit" required="true">
                            </mat-form-field>
                        </td>
                        <td>
                            <button [disabled]="optionsFromConfig.limitDisabled" mat-icon-button aria-label="Refresh" matTooltip="Refresh" tooltip-position="below" (click)="handleChangeLimit()">
                                <mat-icon class="mat-24">refresh</mat-icon>
                            </button>
                        </td>
                    </tr>
                </table>
            -->
                <p></p>
                Column Selector:
                <mat-button-toggle-group #showColumnSelector="matButtonToggleGroup" [(ngModel)]="active.showColumnSelector">
                    <mat-button-toggle value="show">
                        Show
                    </mat-button-toggle>
                    <mat-button-toggle value="hide">
                        Hide
                    </mat-button-toggle>
                </mat-button-toggle-group>
                <p></p>

                <app-unshared-filter [(meta)]="meta"
                                     (unsharedFilterChanged)="unsharedFilterChanged()"
                                     (unsharedFilterRemoved)="unsharedFilterRemoved()"></app-unshared-filter>
                <p></p>

                <app-export-control [exportId]="exportId"></app-export-control>
            </mat-card-content>
        </mat-card>
    </mat-sidenav>
    <div class="body-container data-table-box">
        <div [class.loading-overlay]="isLoading" [class.not-loading-overlay]="!isLoading">
            <mat-spinner ></mat-spinner>
        </div>
        <div class="text-container">
            <div class="filter-reset" *ngFor="let filter of getCloseableFilters()">
                <span class="filter-label" [title]="getFilterTitle(filter.value)">{{ getFilterCloseText(filter.value) }}</span>
                <button mat-icon-button aria-label="Close" [matTooltip]="getRemoveFilterTooltip(filter.value)" tooltip-position="below" (click)="removeLocalFilterFromLocalAndNeon(filter, false, true)">
                  <mat-icon class="mat-18">close</mat-icon>
                </button>
            </div>
        </div>
        <div class="chart-container">
            <ngx-datatable #table class="material table" [rows]="active.data" [columns]="active.activeHeaders" [headerHeight]="30" [footerHeight]="0"
                [rowHeight]="25" [scrollbarH]="true" [scrollbarV]="true" [reorderable]="false" [selectionType]="'single'" (select)="onSelect($event)">
            </ngx-datatable>
            <div *ngIf="active.showColumnSelector=='show'" class="column-selector">
                <div class="column-selector-header"><span> Columns </span>
                    <button mat-icon-button class="column-selector-close" aria-label="Close" matTooltip="Close" tooltip-position="below" (click)="closeColumnSelector()">
                      <mat-icon class="column-selector-close-icon">close</mat-icon>
                    </button>

                </div>
                <div  class="button-row">
                    <button mat-raised-button (click)="deactivateAllHeaders()">
                        <span class="mat-button-wrapper">Uncheck All</span>
                    </button> 
                    <button mat-raised-button (click)="activateAllHeaders()">
                        <span class="mat-button-wrapper">Check All</span>
                    </button>
                </div>
                <mat-list dense class="column-selector-list" (mouseleave)="onMouseLeaveArea(i)" (mousemove)="onMouseMove($event)">
                    <mat-list-item *ngFor="let header of active.headers; let i = index" (mouseenter)="onMouseEnter(i)" (mouseup)="onMouseUp(i)"
                        (mouseleave)="onMouseLeaveItem(i)" [ngStyle]="{'border': header.style.border, 'background-color': header.style.backgroundColor, 'border-top': header.style.borderTop, 'border-bottom': header.style.borderBottom}">
                        <mat-icon (mousedown)="onMouseDown(i)">drag_handle</mat-icon>
                        <mat-checkbox color="primary" [(ngModel)]="header.active" (change)="recalculateActiveHeaders()">{{ header.name }}</mat-checkbox>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-divider"></div>
        <div class="footer-button-container">
            <button mat-raised-button [disabled]="active.page == 1" class="pagination-button" (click)="previousPage()">Previous</button>
            <span class="pagination-button-spacer"></span>
            <button mat-raised-button [disabled]="active.page*active.limit >= (active.docCount)" class="pagination-button" (click)="nextPage()">Next</button>
        </div>
    </div>
</mat-sidenav-container>
