<mat-sidenav-container #visualization class="visualization-sidenav" [class.neon-green-dark-theme]="themesService.getCurrentTheme().id === 'neon-green-dark-theme'">
    <mat-toolbar class="neon-toolbar-thin" color="header" layout-align="space-between center" flex>
        <div #headerText class="header text pull-left" [matTooltip]="options.title" tooltip-position="below">{{ options.title }}</div>
        <span class="fill-remaining"></span>
        <span #infoText class="info text">
            <span class="error-message" *ngIf="errorMessage" [matTooltip]="errorMessage" tooltip-position="below">
                {{ errorMessage }}
            </span>
            <span *ngIf="!errorMessage" [matTooltip]="getButtonText()" tooltip-position="below">{{ getButtonText() }}</span>
        </span>
        <button mat-icon-button aria-label="Settings" matTooltip="Open/Close the Options Menu" tooltip-position="below" (click)="optionsMenu.toggle();">
            <mat-icon>settings</mat-icon>
        </button>
    </mat-toolbar>

    <mat-sidenav #optionsMenu align="end" class="visualization-sidenav-options">
        <mat-card align="left">
            <mat-card-content>
                <div *ngIf="errorMessage">
                    <label class="icon-with-text error-message" [matTooltip]="errorMessage" tooltip-position="below">
                        <mat-icon class="neon-icon-small">error</mat-icon>
                        <div>{{ errorMessage }}</div>
                    </label>
                    <p></p>
                </div>

                <div *ngIf="getButtonText()">
                    <label class="icon-with-text" [matTooltip]="getButtonText()" tooltip-position="below">
                        <mat-icon class="neon-icon-small">info</mat-icon>
                        <div>{{ getButtonText() }}</div>
                    </label>
                    <p></p>
                </div>

                <mat-form-field>
                    <input matInput placeholder="Title" [(ngModel)]="options.title" required="false">
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Database" [(ngModel)]="options.database" required="true"
                                (ngModelChange)="handleChangeDatabase()" [disabled]="options.databases.length < 2">
                        <mat-option *ngFor="let database of options.databases" [value]="database">{{ database.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Table" [(ngModel)]="options.table" required="true"
                                (ngModelChange)="handleChangeTable()" [disabled]="options.tables.length < 2">
                        <mat-option *ngFor="let table of options.tables" [value]="table">{{ table.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Date Field" [(ngModel)]="options.dateField" required="true"
                                (ngModelChange)="handleChangeFilterField()" [disabled]="options.fields.length == 0">
                        <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Group Field" [(ngModel)]="options.groupField" required="true"
                                (ngModelChange)="handleChangeData()" [disabled]="options.fields.length == 0">
                        <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Aggregation" [(ngModel)]="options.aggregation" required="true"
                                (ngModelChange)="handleChangeAggregation()" [disabled]="options.fields.length == 0">
                        <mat-option value="count">Count</mat-option>
                        <mat-option value="sum">Sum</mat-option>
                        <mat-option value="average">Average</mat-option>
                        <mat-option value="max">Maximum</mat-option>
                        <mat-option value="min">Minimum</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field *ngIf="options.aggregation !== 'count'">
                    <mat-select placeholder="Aggregation Field (Y Axis)" [(ngModel)]="options.aggregationField"
                            required="true" (ngModelChange)="handleChangeData()" [disabled]="options.fields.length == 0">
                        <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <span class="toggle-text">Granularity:</span>
                <mat-button-toggle-group class="neon-button-toggle-group-small" [(ngModel)]="options.granularity" (ngModelChange)="handleChangeData()">
                    <mat-button-toggle value="day">Day</mat-button-toggle>
                    <mat-button-toggle value="hour">Hour</mat-button-toggle>
                </mat-button-toggle-group>
                <p></p>

                <div mat-fill class="flex center">
                    <mat-form-field>
                        <input matInput placeholder="Group Limit" [(ngModel)]="options.newLimit" required="true" (keyup.enter)="handleChangeLimit()">
                    </mat-form-field>

                    <button mat-icon-button aria-label="Refresh" matTooltip="Refresh" tooltip-position="below" (click)="handleChangeLimit()">
                        <mat-icon>refresh</mat-icon>
                    </button>
                </div>
                <p></p>

                <app-export-control [exportId]="exportId"></app-export-control>
            </mat-card-content>
        </mat-card>
    </mat-sidenav>

    <div [class.loading-overlay]="isLoading" [class.not-loading-overlay]="!isLoading">
        <mat-spinner></mat-spinner>
    </div>

    <div #filterContainer class="filter-container">
        <app-legend (itemSelected)="legendItemSelected($event)" [fieldNames]="colorByFields" [disabledList]="disabledList"></app-legend>

        <div class="filter-reset" *ngFor="let filter of getCloseableFilters()">
            <span class="filter-label" tooltip-position="below" [matTooltip]="getFilterText(filter)">Date Filter</span>
            <button mat-icon-button class="neon-icon-button-small" aria-label="Close" tooltip-position="below"
                    [matTooltip]="'Delete Filter ' + getFilterText(filter)" (click)="removeLocalFilterFromLocalAndNeon(filter, true)">
                <mat-icon class="neon-icon-small">close</mat-icon>
            </button>
        </div>
    </div>

    <div class="body-container with-filter">
        <div #chartContainer class="chart-container" (click)="stopEventPropagation($event)" (mousedown)="mouseDown($event)" (mouseleave)="mouseLeave($event)">
            <div class="chart-selection" *ngIf="selection.mouseDown" [ngStyle]="{'width.px': selection.width, 'height.px': selection.height, 'left.px':selection.x + selectionOffset.x, 'top.px':selection.y + selectionOffset.y}"></div>
            <app-chart class="chart" #myChart [type]="chart.type" [data]="chart.data" [options]="chart.options"></app-chart>
        </div>
    </div>
</mat-sidenav-container>
