<div class="container">
    <nav>
        <span>Neon Tools</span>
        <span>Program Information</span>
        <span>Data Sources</span>
        <span>Dashboards</span>
        <span>Permissions</span>
        <span>Help</span>
    </nav>
    <section class="program-info">
        <span>Program Name: LORELEI</span>
        <span>Program Sponsor: DARPA</span>
        <span>Program Manager: Boyan Onyshkevych</span>
        <span>PI: Jill Crisman</span>
    </section>
    <section class="contributors">
        <header>
            <span>Contributers</span>
            <p>This dashboard illustrates the hard work by serveral fine contributors, as part of the DARPA LORELEI program.</p>
        </header>
        <main *ngIf="contributors">
            <a *ngFor="let contributor of contributors" class="contributor-detail" [href]="contributor.url" target="_blank">
                <span>
                    <img [width]="contributor.img.width" [height]="contributor.img.height" [src]="contributor.img.src" />
                </span>
                <span>
                    <span>{{contributor.name}}</span>
                    <span>{{contributor.contact.name}}</span>
                    <span><i>{{contributor.contact.phone}}</i></span>
                    <span><i>{{contributor.contact.email}}</i></span>
                </span>
            </a>
        </main>
    </section>
</div>
