<mat-form-field class="neon-form-field-flex-5" *ngIf="!!dashboards">
    <mat-select [placeholder]="dashboards.category" [(value)]="selectedDashboard" (selectionChange)="emitSelectedDashboard()">
        <mat-option *ngFor="let dashboardKey of getDashboardKeys()" [value]="dashboards.choices[dashboardKey]">
            {{ getDashboardName(dashboardKey) }}
        </mat-option>
    </mat-select>
</mat-form-field>

<app-dashboard-dropdown *ngIf="hasMoreChoices()" #nextDropdown [dashboards]="selectedDashboard"
    (selectionChange)="onChildSelectionChange($event)">
</app-dashboard-dropdown>
