<div class="contribution-header">
    <div class="contribution-title">Contributors</div>
    <button mat-icon-button aria-label="Close" matTooltip="Close" tooltip-position="below" (click)="dialogRef.close('close')">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div class="contribution-body">
    <div>The following organizations contributed to this display:</div>
    <div *ngFor="let key of getContributorKeys()" class="contributor">
        <img class="contributor-logo" src="./assets/images/{{getContributorByKey(key).logo}}.ico">
        <div class="details">
            <div>{{ getContributorByKey(key).orgName }}</div>
            <div>{{ getContributorByKey(key).piTeamLead }}</div>
            <div>{{ getContributorByKey(key).contactInfo }}</div>
            <div [innerHtml]="getContributorByKey(key).website"></div><!-- TODO: 305: is this the correct way to render the link? -->
        </div>
    </div>
</div>
