<mat-toolbar class="neon-toolbar-thin" layout-align="space-between center" flex>
    <div #headerText class="header text pull-left" [matTooltip]="options.title" tooltip-position="below">
        {{ options.title }}
    </div>
    <span class="fill-remaining"></span>
    <span #infoText class="info text">
        <span class="error-message" *ngIf="errorMessage" [matTooltip]="errorMessage" tooltip-position="below">
            {{ errorMessage }}
        </span>
        <span *ngIf="!errorMessage" class="data-info" [matTooltip]="getButtonText()" tooltip-position="below">
            {{ getButtonText() }}
        </span>
    </span>
</mat-toolbar>

<div [class.loading-overlay]="loadingCount > 0" [class.not-loading-overlay]="loadingCount == 0">
    <mat-spinner></mat-spinner>
</div>

<app-data-message *ngIf="showNoData"></app-data-message>

<!-- Don't use ngIf here.  Just set the display to none so the flatpickr library can find the elements it needs. -->
<div class="legend"
    [style.display]="((showLegend() || showBackgroundImageUrl(options) || showCustomButtons(options)) && !showNoData) ? '' : 'none'">

    <app-legend *ngIf="showLegend()" [activeList]="legendActiveGroups" [colorKeys]="colorKeys"
        (itemSelected)="handleLegendItemSelected($event)"></app-legend>

    <div class="buttons" [style.display]="(showBackgroundImageUrl(options) || showCustomButtons(options)) ? '' : 'none'">
        <button mat-icon-button *ngIf="showBackgroundImageUrl(options) && !options.zoom" class="neon-icon-button-medium"
            [matTooltip]="'Zoom In'" tooltip-position="below" aria-label="Zoom In" (click)="changeZoom(true)">
            <mat-icon class="neon-icon-medium">zoom_in</mat-icon>
        </button>
        <button mat-icon-button *ngIf="showBackgroundImageUrl(options) && options.zoom" class="neon-icon-button-medium"
            [matTooltip]="'Zoom Out'" tooltip-position="below" aria-label="Zoom Out" (click)="changeZoom(false)">
            <mat-icon class="neon-icon-medium">zoom_out</mat-icon>
        </button>
        <button mat-icon-button *ngFor="let buttonConfig of options.customButtons" class="neon-icon-button-medium"
            [class.active]="isCustomButtonSelected(buttonConfig) && isCustomButtonOnToggle(buttonConfig)"
            [matTooltip]="buttonConfig.name + (isCustomButtonOnToggle(buttonConfig) ? (isCustomButtonSelected(buttonConfig) ? ' ON' : ' OFF') : '')"
            tooltip-position="below" (click)="selectCustomButton(buttonConfig)">
            <mat-icon class="neon-icon-medium" *ngIf="doesHaveProperty(buttonConfig, 'icon')">{{ buttonConfig.icon }}</mat-icon>
            <mat-icon class="neon-icon-medium" *ngIf="doesHaveProperty(buttonConfig, 'svg')" [svgIcon]="buttonConfig.svg"></mat-icon>
        </button>
    </div>

    <div class="date" [style.display]="canHaveDatePicker() ? '' : 'none'">
        <input [id]="'begin_date_' + options._id">
        <b> - </b>
        <input [id]="'end_date_' + options._id" disabled>
    </div>
    <div class="icon" [style.display]="canHaveDatePicker() ? '' : 'none'">
        <img src="./assets/icons/dashboard/calendar.png" width="18" height="18">
    </div>
</div>

<div class="body-container">
    <div class="subcomponent-container zoom" [class.hide]="!showBothViews()" [style.minHeight.px]="minimumDimensionsZoom.height"
        [style.minWidth.px]="minimumDimensionsZoom.width" (click)="stopEventPropagation($event)">

        <div #subcomponentZoom class="subcomponent-element"></div>
    </div>

    <div class="subcomponent-container" [class.main]="showBothViews()" [style.minHeight.px]="minimumDimensionsMain.height"
        [style.minWidth.px]="minimumDimensionsMain.width" (click)="stopEventPropagation($event)">

        <div #subcomponentMain class="subcomponent-element" [class.with-background-image-url]="showBackgroundImageUrl(options)"></div>

        <div class="subcomponent-selection" *ngIf="selectedArea" [style.width.px]="selectedArea.width"
            [style.height.px]="selectedArea.height" [style.left.px]="selectedAreaOffset.x + selectedArea.x"
            [style.top.px]="selectedAreaOffset.y + selectedArea.y"></div>
    </div>
</div>

<canvas #hiddenCanvas class="hidden-canvas"></canvas>

<div class="contribution-text" *ngIf="showContribution()">
    <div class="contribution-text-container">
        <a (click)="openContributionDialog()">
            {{ getContributorAbbreviations() }}
        </a>
    </div>
</div>
