<div *ngIf="!loading && requests.length == 0" class="no-requests">No Configuration Available</div>

<div *ngFor="let request of requests; let i = index;" class="request-section">
    <div class="request-title">{{ request.pretty }}</div>
    <div *ngIf="request.notes != undefined">
        <div *ngFor="let note of request.notes" class="request-description">{{ note }}</div>
    </div>
    <div *ngFor="let property of request.properties">
        <mat-form-field *ngIf="property.file == undefined" appearance="outline" floatLabel="always"
            [class.disabled]="property.disabled">
            <mat-label>{{ createLabel(property) }}</mat-label>
            <textarea matInput *ngIf="property.choices == undefined && property.file == undefined" [placeholder]="createPlaceholder(property)" [(ngModel)]="property.value"
                [name]="property.name" [required]="!property.optional" ngDefaultControl [formControl]="property.angularFormControl"></textarea>
            <mat-select *ngIf="property.choices != undefined && property.file == undefined" [placeholder]="createPlaceholder(property)" [(ngModel)]="property.value"
                [required]="!property.optional" ngDefaultControl [formControl]="property.angularFormControl">
                <mat-option *ngFor="let choice of property.choices" [value]="choice.value">{{ choice.pretty }}</mat-option>
            </mat-select>
        </mat-form-field>
        <div *ngIf="property.file != undefined">
            <input [required]="!property.optional" [class.disabled]="property.disabled" (change)="uploadFile($event, property.name)" type="file" accept="property.types"> <br>
            <!-- <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
            <input hidden (change)="onFileSelected()" #fileInput type="file" id="file"> -->
        </div>
    </div>
    <div>
        <button mat-raised-button class="neon-button-large" [disabled]="!filesDirty && !isValidRequestBody(request)" (click)="submitData(request)">
            Submit
        </button>
        <button mat-raised-button class="neon-button-large" [disabled]="!isValidUserInput(request)" (click)="deleteData(request)"
            *ngIf="doesHaveProperties(request)">
            Reset
        </button>
        <button mat-raised-button class="neon-button-large" (click)="toggleResponse(request)" *ngIf="request.response != undefined">
            {{ request.showResponse ? 'Hide' : 'Show' }} Details
        </button>
        <span *ngIf="request.status != undefined">{{ request.status }}</span>
    </div>
    <ngx-monaco-editor #editor *ngIf="request.showResponse" [options]="{
        readOnly: true,
        theme: 'vs',
        language: 'yaml',
        lineNumbers: true,
        minimap: {
            enabled: false
        }
    }" [ngModel]="retrieveResponse(request)">
    </ngx-monaco-editor>
</div>
