<div class="query-bar">
    <button mat-button mat-icon-button (click)="createFilter(queryBar.value)">
        <mat-icon mat-button>{{ 'search' }}</mat-icon>
    </button>
        <mat-form-field class="full-width" *ngIf="autoComplete">
<!--            autofocus-->
            <input #queryBar matInput [placeholder]="options.placeHolder" class="query-bar-input" [matAutocomplete]="auto" [formControl]="filterFormControl"
                   (keyup)="0" (keyup.enter)="createFilter(queryBar.value)">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    <span [matTooltip]="option">{{ option }}</span>
                </mat-option>
            </mat-autocomplete>
            <button mat-button *ngIf="queryBar.value || (filterId | async)" mat-icon-button aria-label="Clear" (click)="queryBar.value = ''; removeFilter()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
</div>
