<div class="editor">
    <div class="editor-header">Edit Current Dashboard Configuration</div>
    <div class="editor-body">
        <ngx-monaco-editor #editor [options]="{
      theme: 'vs',
      language: 'yaml',
      lineNumbers: true,
      minimap: {
          enabled: false
      }
  }" [(ngModel)]="configText">
        </ngx-monaco-editor>
    </div>
    <div class="editor-footer">
        <mat-form-field>
            <input matInput placeholder="Dashboard Name" maxlength="100" [(ngModel)]="dashboardName">
        </mat-form-field>
        <button mat-raised-button class="neon-button-large" matDialogClose="close" (click)="save()" aria-label="Save as New Dashboard"
            [disabled]="!dashboardName">
            Save as New Dashboard
        </button>
        <button mat-raised-button class="neon-button-large" matDialogClose="close" (click)="cancel()" aria-label="Cancel">
            Cancel
        </button>
    </div>
</div>
