<div class="messages">
  <div class="messages-header">Configuration Editor</div>
  <div class="message-body">
    <div #JsonEditorComponent ></div>
  </div>
  <div class="messages-footer">
    <mat-select placeholder="View Mode" [ngModel]="editorOptions.mode" (selectionChange)="changeMode($event)">
      <mat-option *ngFor="let mode of modes" [value]="mode.value" >
        {{ mode.viewValue }}
      </mat-option>
    </mat-select>
    <button mat-raised-button color="primary" (click)="save()" aria-label="Save"
      matTooltip="Saves configuration to Property Service.  Refresh is required to see changes." matTooltipPosition="below">Save</button>
    <button mat-raised-button color="primary" (click)="delete()" aria-label="Delete"
      matTooltip="Removes any configuration saved in the Property Service.  Configuration will be loaded from yaml or json files." matTooltipPosition="below">Delete</button>
    <button mat-raised-button color="primary" (click)="reset()" aria-label="Reset"
      matTooltip="Reset changes to actively loaded configuation." matTooltipPosition="below">Reset</button>
    <button mat-raised-button color="primary" matDialogClose="close" aria-label="Close"
      matTooltip="Close configuration editor and discard changes." matTooltipPosition="below">Close</button>
  </div>
</div>
