<mat-sidenav-container class="visualization-sidenav" [class.neon-green-dark-theme]="themesService.getCurrentTheme().id === 'neon-green-dark-theme'">
    <mat-toolbar class="neon-toolbar-thin" color="header" layout-align="space-between center" flex>
        <div class="header text pull-left" [title]="meta.title">{{ meta.title }}</div>

        <span class="fill-remaining"></span>

        <button mat-icon-button aria-label="Add" matTooltip="Add New Clause" tooltip-position="below" (click)="addBlankWhereClause()">
            <mat-icon>add_circle</mat-icon>
        </button>

        <button mat-icon-button aria-label="Reset" matTooltip="Reset Filter Builder" tooltip-position="below"
                (click)="resetFilterBuilder()">
            <mat-icon>delete_sweep</mat-icon>
        </button>

        <mat-button-toggle-group #showColumnSelector="matButtonToggleGroup" [(ngModel)]="active.andor" (change)="andOrChanged()"
                class="neon-button-toggle-group-small">
            <mat-button-toggle value="and">
                AND
            </mat-button-toggle>
            <mat-button-toggle value="or">
                OR
            </mat-button-toggle>
        </mat-button-toggle-group>
    </mat-toolbar>

    <div class="body-container contained-scroll-box">
        <div class="main-container">
            <div class="clause-container" *ngFor="let where of active.whereClausesAsList">
                <mat-form-field class="neon-form-field-large clause-item">
                    <mat-select placeholder="Database" [(ngModel)]="where.database"
                                required="true" (ngModelChange)="handleChangeDatabase(where)"
                                [disabled]="meta.databases.length < 2">
                        <mat-option *ngFor="let database of meta.databases" [value]="database">{{ database.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="neon-form-field-large clause-item">
                    <mat-select placeholder="Table" [(ngModel)]="where.table"
                                required="true" (ngModelChange)="handleChangeTable(where)"
                                [disabled]="meta.tables.length < 2">
                        <mat-option *ngFor="let table of meta.tables" [value]="table">{{ table.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="neon-form-field-large clause-item">
                    <mat-select placeholder="Field" [(ngModel)]="where.field"
                                required="true" (ngModelChange)="handleChangeField(where)"
                                [disabled]="meta.fields.length == 0">
                        <mat-option *ngFor="let field of meta.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="neon-form-field-large clause-item">
                    <mat-select placeholder="Operator" [(ngModel)]="where.operator"
                                required="true" (ngModelChange)="handleChangeOperator(where)"
                                [disabled]="active.operators.length == 0">
                        <mat-option *ngFor="let operator of active.operators" [value]="operator">{{ operator.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="neon-form-field-large clause-item">
                    <input matInput placeholder="Value" [(ngModel)]="where.value" (change)="handleValueChange($event, where)">
                </mat-form-field>

                <div class="clause-item clause-button-container">
                    <button mat-icon-button class="neon-icon-button-large clause-button" (click)="activateClause(where)"
                            matTooltip="Activate Clause" tooltip-position="below" *ngIf="!where.active">
                        <mat-icon class="neon-icon-large">check_circle</mat-icon>
                    </button>

                    <button mat-icon-button class="neon-icon-button-large clause-button" (click)="refreshClause(where)"
                            matTooltip="Refresh Clause" tooltip-position="below" *ngIf="where.active">
                        <mat-icon class="neon-icon-large">refresh</mat-icon>
                    </button>

                    <button mat-icon-button class="neon-icon-button-large clause-button" (click)="removeClause(where)"
                            matTooltip="Remove Clause" tooltip-position="below">
                        <mat-icon class="neon-icon-large">delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</mat-sidenav-container>
