<mat-toolbar class="neon-toolbar-thin" layout-align="space-between center" flex>
    <div #headerText class="header text pull-left" [matTooltip]="options.title" tooltip-position="below">
        {{ options.title }}</div>
    <span class="fill-remaining"></span>
    <span #infoText class="info text">
        <span class="error-message" *ngIf="errorMessage" [matTooltip]="errorMessage" tooltip-position="below">
            {{ errorMessage }}
        </span>
        <span *ngIf="!errorMessage" class="data-info" [matTooltip]="getButtonText()" tooltip-position="below">
            {{ getButtonText() }}
        </span>
    </span>
</mat-toolbar>

<div [class.loading-overlay]="loadingCount > 0" [class.not-loading-overlay]="loadingCount == 0">
    <mat-spinner></mat-spinner>
</div>

<app-data-message *ngIf="showNoData"></app-data-message>

<div #newsFeed class="body-container">
    <mat-accordion class="news-feed-container" *ngIf="newsFeedData != null && newsFeedData.length" displayMode="flat"
        [multi]="options.multiOpen">
        <mat-expansion-panel class="news-feed-div" *ngFor="let item of newsFeedData" [class.selectable]="isSelectable()"
            [class.selected]="isSelected(item)">
            <mat-expansion-panel-header [collapsedHeight]="options.multiLineTitle ? 'auto' : '15px'"
                [expandedHeight]="options.multiLineTitle ? 'auto' : '15px'"
                (mousedown)="expandOrCollapse(item.field[options.idField.columnName])">
                <mat-panel-title [class.with-date]="options.dateField.columnName != ''">
                    <span class="date" *ngIf="options.dateField.columnName != ''">
                        {{ relativeTime(item.field[options.dateField.columnName]) }}
                    </span>
                    <span class="text" [class.single-line]="!options.multiLineTitle">
                        {{ item.field[options.titleContentField.columnName] || item.field[options.contentField.columnName] }}
                    </span>
                </mat-panel-title>
                <div *ngIf="item.media">
                    <ng-container [ngSwitch]="item.media.selected.type">
                        <img *ngSwitchCase="mediaTypes.audio" src="/assets/icons/dashboard/baseline-audiotrack-24px.svg">
                        <img *ngSwitchCase="mediaTypes.html" src="/assets/icons/dashboard/baseline-description-24px.svg">
                        <img *ngSwitchCase="mediaTypes.image" src="/assets/icons/dashboard/baseline-photo-24px.svg">
                        <img *ngSwitchCase="mediaTypes.maskImage" src="/assets/icons/dashboard/baseline-photo-24px.svg">
                        <img *ngSwitchCase="mediaTypes.pdf" src="/assets/icons/dashboard/baseline-description-24px.svg">
                        <img *ngSwitchCase="mediaTypes.video" src="/assets/icons/dashboard/baseline-play-24px.svg">
                        <img *ngSwitchCase="mediaTypes.youtube" src="/assets/icons/dashboard/baseline-play-24px.svg">
                    </ng-container>
                </div>
            </mat-expansion-panel-header>
            <mat-panel-description *ngIf="isExpanded(item.field[options.idField.columnName])">
                <div>
                    <div class="text multiple-line" *ngIf="item.field[options.contentField.columnName]">
                        <h4 *ngIf="options.contentLabel">{{options.contentLabel}}</h4>
                        <app-text-with-url [text]=item.field[options.contentField.columnName]></app-text-with-url>
                    </div>
                    <div class="text multiple-line" *ngIf="item.field[options.secondaryContentField.columnName]">
                        <h4 *ngIf="options.secondaryContentLabel">{{options.secondaryContentLabel}}</h4>
                        <app-text-with-url [text]=item.field[options.secondaryContentField.columnName]>
                        </app-text-with-url>
                    </div>
                    <!-- insert ngFor div here, that looks like divs on contentField and secondaryContentField -->
                    <div class="text multiple-line" *ngFor="let cField of options.contentFields; let idx = index">
                        <h4 *ngIf="options.contentLabels[idx]">{{options.contentLabels[idx]}}</h4>
                        <app-text-with-url [text]=item.field[cField.columnName]></app-text-with-url>
                    </div>
                    <div class="appendix">
                        <span class="date" *ngIf="options.dateField.columnName != ''">
                            {{ relativeTime(item.field[options.dateField.columnName]) }}
                        </span>
                        <a mat-icon-button *ngIf="options.filterField.columnName && item.field[options.filterField.columnName]"
                            class="neon-icon-button-contrast" (click)="filterItem(item)">
                            <mat-icon class="neon-icon-small filter-icon" svgIcon="neon_filter"></mat-icon>
                        </a>
                    </div>
                    <app-media-group class=media-group *ngIf="item.media" [media]="item.media">
                    </app-media-group>
                </div>
            </mat-panel-description>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<!-- need to account for footer only, contribution text only, or footer and contribution text together -->
<div class="footer" *ngIf="showPagination()">
    <div class="footer-button-container">
        <button mat-raised-button [disabled]="page == 1" class="neon-button-small pagination-button" (click)="goToPreviousPage()">
            Previous
        </button>
        <span class="pagination-button-spacer"></span>
        <button mat-raised-button [disabled]="lastPage" class="neon-button-small pagination-button" (click)="goToNextPage()">
            Next
        </button>
    </div>
</div>

<div class="contribution-text" *ngIf="showContribution()">
    <div class="contribution-text-container">
        <a (click)="openContributionDialog()">
            {{ getContributorAbbreviations() }}
        </a>
    </div>
</div>
