<mat-toolbar class="neon-toolbar-thin" layout-align="space-between center" flex>
    <div #headerText class="header text pull-left" [matTooltip]="options.title" tooltip-position="below">
        {{ options.title }}</div>
    <span class="fill-remaining"></span>
    <span #infoText class="info text">
        <span class="error-message" *ngIf="errorMessage" [matTooltip]="errorMessage" tooltip-position="below">
            {{ errorMessage }}
        </span>
        <span *ngIf="!errorMessage" class="data-info" [matTooltip]="getButtonText()" tooltip-position="below">
            {{ getButtonText() }}
        </span>
    </span>
</mat-toolbar>

<div [class.loading-overlay]="loadingCount > 0" [class.not-loading-overlay]="loadingCount == 0">
    <mat-spinner></mat-spinner>
</div>

<app-data-message *ngIf="showNoData"></app-data-message>

<div #newsFeed class="body-container">
    <mat-accordion class="news-feed-container" *ngIf="newsFeedData != null && newsFeedData.length" displayMode="flat"
        [multi]="options.multiOpen">
        <mat-expansion-panel class="news-feed-div" *ngFor="let item of newsFeedData" [class.selectable]="isSelectable()"
            [class.selected]="isSelected(item)">
            <mat-expansion-panel-header [collapsedHeight]="'35px'" [expandedHeight]="'35px'" (mousedown)="selectItem(item)">
                <mat-panel-title>
                    <span class="date">{{ relativeTime(item[options.dateField.columnName]) }}</span>
                    <span class="text">{{ item[options.titleContentField.columnName] || item[options.contentField.columnName] }}</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description *ngIf="isExpanded(item)">
                <div>
                    <div class="text multiple-line" *ngIf="item[options.contentField.columnName]">
                        <h4 *ngIf="options.contentLabel">{{options.contentLabel}}</h4>
                        <p>
                            <ng-container *ngIf="hasUrl(item[options.contentField.columnName])">
                                {{removeUrl(item[options.contentField.columnName])}}
                                <a href="{{this.url}}" target="_blank">
                                    {{this.url}}</a>
                            </ng-container>
                            <ng-container *ngIf="!hasUrl(item[options.contentField.columnName])">
                                {{item[options.contentField.columnName]}}
                            </ng-container>
                        </p>
                    </div>
                    <div class="text multiple-line" *ngIf="item[options.secondaryContentField.columnName]">
                        <h4 *ngIf="options.secondaryContentLabel">{{options.secondaryContentLabel}}</h4>
                        <p>
                            <ng-container *ngIf="hasUrl(item[options.secondaryContentField.columnName])">
                                {{removeUrl(item[options.secondaryContentField.columnName])}}
                                <a *ngIf="hasUrl(item[options.secondaryContentField.columnName])" href="{{this.url}}" target="_blank">
                                    {{this.url}}</a>
                            </ng-container>
                            <ng-container *ngIf="!hasUrl(item[options.secondaryContentField.columnName])">
                                {{item[options.secondaryContentField.columnName]}}
                            </ng-container>
                        </p>
                    </div>
                    <div class="appendix">
                        <span class="date">{{ item[options.dateField.columnName] }}</span>
                        <a mat-icon-button *ngIf="options.filterField.columnName && item[options.filterField.columnName]"
                            class="neon-icon-button-contrast" (click)="filterItem(item)">
                            <mat-icon>filter_list</mat-icon>
                        </a>
                    </div>
                </div>
            </mat-panel-description>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<!-- need to account for footer only, contribution text only, or footer and contribution text together -->
<div class="footer" *ngIf="showPagination()">
    <div class="footer-button-container">
        <button mat-raised-button [disabled]="page == 1" class="neon-button-small pagination-button" (click)="goToPreviousPage()">
            Previous
        </button>
        <span class="pagination-button-spacer"></span>
        <button mat-raised-button [disabled]="lastPage" class="neon-button-small pagination-button" (click)="goToNextPage()">
            Next
        </button>
    </div>
</div>

<div class="contribution-text" *ngIf="showContribution()">
    <div class="contribution-text-container">
        <a (click)="openContributionDialog()">
            {{ getContributorAbbreviations() }}
        </a>
    </div>
</div>
