<!-- TODO THOR-1006
<div class='radio-container' layout="row" mat-margin>
    <mat-radio-group [(ngModel)]="exportFormat">
        <mat-radio-button *ngFor="let format of exportFormatList" [value]="format.value">
            {{ (format.name) ? format.name.toUpperCase() : 'Invalid Type' }}
        </mat-radio-button>
    </mat-radio-group>
    <button mat-raised-button class="neon-button-small" color="primary" (click)="handleExportClick()">
        {{ getExportButtonText() }}
    </button>
</div>
-->
