<mat-sidenav-container class="neon-sidenav" [ngClass]="widgetService.getTheme()">
    <mat-sidenav #sideNavRight class="neon-sidenav neon-sidenav-info" mat-fill position="end">
        <div>
            <mat-toolbar class="title" color="primary">
                <span>{{ rightPanelTitle }}</span>
            </mat-toolbar>

            <div class="right-panel-container">
                <div class="about-neon-container" *ngIf="checkPanel('aboutNeon')">
                    <app-about-neon></app-about-neon>
                </div>
                <div class="add-visualization-container" *ngIf="checkPanel('addVis')">
                    <app-add-visualization></app-add-visualization>
                </div>
                <div class="dataset-selector-container" *ngIf="checkPanel('dashboardLayouts')">
                    <app-dataset-selector (activeDatasetChanged)="simpleFilter.setSimpleFilter(); sideNavRight.toggle()">
                    </app-dataset-selector>
                </div>
                <div class="saved-state-container" *ngIf="checkPanel('saveState')">
                    <app-save-state [sidenav]="sideNavRight" [widgetGridItems]="widgetGridItems" [widgets]="widgets"></app-save-state>
                </div>
                <div class="setting-container" *ngIf="checkPanel('settings')">
                    <app-settings [widgets]="widgets"></app-settings>
                </div>
            </div>
        </div>
    </mat-sidenav>

    <mat-toolbar class="neon-toolbar-large neon-toolbar-wide titlebar-header-text" color="primary" layout-align="space-between center" flex>
        <span>{{ datasetService.getName() || "Choose Data..." }}</span>
        <span class="fill-remaining"></span>
        <button mat-icon-button class="neon-icon-button-large" aria-label="Add Visualization" matTooltipPosition="below" id="showVisShortcutButton"
            matTooltip="Add a New Visualization" (click)="setPanel('addVis', 'Visualization'); sideNavRight.toggle()" *ngIf="showVisShortcut">
            <mat-icon class="neon-icon-large">add_circle</mat-icon>
        </button>
        <button mat-icon-button class="neon-icon-button-large" aria-label="Connect to a Custom Data Source"
            matTooltipPosition="below" matTooltip="Connect to a Custom Data Source" (click)="openCustomConnectionDialog()"
            *ngIf="showCustomConnectionButton">
            <mat-icon class="neon-icon-large">storage</mat-icon>
        </button>
        <div class="simple-search-container">
            <app-simple-filter #simpleFilter></app-simple-filter>
        </div>
        <button mat-icon-button class="neon-icon-button-large" aria-label="Show Filters" matTooltipPosition="below" id="showFiltersComponentIcon"
            matTooltip="Show Filters" (click)="toggleFiltersDialog()" *ngIf="showFiltersComponentIcon">
            <mat-icon class="neon-icon-large" *ngIf="changeFiltersComponentIcon()" svgIcon="{{filtersIcon}}"></mat-icon>
        </button>

        <mat-menu #appMenu="matMenu" [backdropClass]="widgetService.getTheme()" yPosition="below" [overlapTrigger]="false">
            <button mat-menu-item (click)="setPanel('addVis', 'Visualization'); sideNavRight.toggle()">
                <mat-icon color="secondary">add_circle</mat-icon>Visualizations</button>
            <button mat-menu-item (click)="setPanel('dashboardLayouts', 'Dashboard Layouts'); sideNavRight.toggle()">
                <mat-icon color="secondary">dashboard</mat-icon>Dashboard Layouts</button>
            <button mat-menu-item (click)="setPanel('saveState', 'Save States'); sideNavRight.toggle()">
                <mat-icon color="secondary">save</mat-icon>Saved States</button>
            <button mat-menu-item (click)="setPanel('settings', 'Settings'); sideNavRight.toggle()">
                <mat-icon color="secondary">settings</mat-icon>Settings
            </button>
            <button mat-menu-item (click)="setPanel('aboutNeon', 'About Neon'); sideNavRight.toggle()">
                <mat-icon color="secondary">info</mat-icon>About
            </button>
        </mat-menu>

        <button mat-icon-button class="neon-icon-button-large" [matMenuTriggerFor]="appMenu">
            <mat-icon class="neon-icon-large">menu</mat-icon>
        </button>
    </mat-toolbar>

    <div class="header-toggle-container">
        <div class="filters-container" id="filters" *ngIf="createFiltersComponent">
            <app-filters [widgets]="widgets" (closeDialog)="toggleFiltersDialog()"></app-filters>
            <div class="header-toggle-footer">
            </div>
        </div>
    </div>

    <div class="neon-dash" mat-fill layout="col">
        <mat-tab-group *ngIf="tabbedGrid.length > 1" [(selectedIndex)]="selectedTabIndex">
            <mat-tab class="tab" *ngFor="let tab of tabbedGrid" [label]="tab.name"></mat-tab>
        </mat-tab-group>

        <div class="neon-grid">
        <div [ngGrid]="gridConfig" #grid>
                <div *ngFor="let widgetGridItem of tabbedGrid[selectedTabIndex].list; let i = index;" [(ngGridItem)]="widgetGridItem.config"
                    name="widgetGridItem.id" id="widgetGridItem.id" (onResizeStart)="onResizeStart(i, $event)"
                    (onResizeStop)="onResizeStop(i, $event)" (onDragStop)="onDragStop(i, $event)">
                <app-visualization-container [visualization]="widgetGridItem"></app-visualization-container>
                <ng-content></ng-content>
            </div>
        </div>
    </div>
    </div>
</mat-sidenav-container>
