<mat-sidenav-container class="neon-gtd-sidenav" [class.neon-green-dark-theme]="themesService.getCurrentTheme().id === 'neon-green-dark-theme'">
    <mat-sidenav #sidenav class="neon-gtd-sidenav" mat-fill align="start">
        <mat-toolbar color="primary">
            <span class="mat-36">Datasets</span>
        </mat-toolbar>
        <app-dataset-selector (activeDatasetChanged)="sidenav.toggle()" >
        </app-dataset-selector>
    </mat-sidenav>
    <mat-sidenav #sidenavright class="neon-gtd-sidenav-about-neon" mat-fill align="end">
        <mat-toolbar color="primary">
            <span class="mat-36">{{ (showAbout) ? 'About...' : 'Options...' }}</span>
        </mat-toolbar>
        <app-about-neon *ngIf="showAbout"></app-about-neon>
        <app-dashboard-options #mainDashboardOptions *ngIf="!showAbout"></app-dashboard-options>
        <button mat-button (click)="sidenavright.close()">Close</button>
    </mat-sidenav>
    <mat-toolbar color="primary" layout-align="space-between center" flex>
        <button mat-button [attr.aria-label]="datasetService.getName() || 'Choose Data'" style="margin-right: 10px;" (click)="sidenav.toggle()"
            matTooltip="Selects one of the available datasets." tooltip-position="below" class="neon-gtd-text-button">
            <i class="material-icons mat-24" style="vertical-align: sub">menu</i>&nbsp;{{ datasetService.getName() || "Choose Data..." }}
        </button>
        <button mat-mini-fab aria-label="Add Visualization" matTooltip="Add a new visualization to the current dashboard." tooltip-position="below"
            (click)="openAddVisualizationDialog()" *ngIf="showAddVisualizationButton">
            <mat-icon class="mat-24">add</mat-icon>
        </button>
        <span class="fill-remaining"></span>
        <button mat-icon-button aria-label="Show Filters" matTooltip="Show Filters" tooltip-position="below" (click)="openFilterTrayDialog()"
            *ngIf="showFilterTrayButton">
            <mat-icon class="mat-24">notifications</mat-icon>
        </button>
        <button mat-icon-button aria-label="Settings" (click)="toggleDashboardOptions(); sidenavright.toggle();" matTooltip="Change the settings for the dashboard."
            tooltip-position="below">
            <mat-icon class="mat-24">settings</mat-icon>
        </button>
        <button mat-icon-button aria-label="About..." class="neon-gtd-text-button" (click)="showAbout = true; sidenavright.toggle()"
            matTooltip="Display information about this application." tooltip-position="below">
            i
        </button>
        <a mat-icon-button href="https://github.com/NextCenturyCorporation/neon-gtd/wiki/Neon-Dashboard-User-Guide" target="_blank"
            aria-label="Help" class="neon-gtd-anchor-button" matTooltip="Open the Users Guide" tooltip-position="below">
            ?
        </a>
    </mat-toolbar>
    <div class="neon-gtd-content" mat-fill layout="col">
        <div [ngGrid]="gridConfig" #grid >
            <div *ngFor="let item of gridItems; let i = index;" [(ngGridItem)]="item.gridConfig" (onResizeStop)="onResizeStop(i, $event)" name="item.id" id="item.id">
                <app-visualization-container [visualization]="gridItems[i]"></app-visualization-container>
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</mat-sidenav-container>
