<!-- beautify ignore:start -->

<div class="column">
    <next-century-example #vis1
        id="vis1"
        selection-field="fields._id"
        vis-title="Search Match All, Filter by ID"
    >
    </next-century-example>

    <next-century-search #search1
        id="search1"
        search-field-keys="es1.ldc_uyg_jul_18.ui_out.*"
        search-limit=10000
        sort-field-key="es1.ldc_uyg_jul_18.ui_out.createdDate"
        sort-order="descending"
        vis-draw-function="drawData"
        vis-element-id="vis1"
    >
    </next-century-search>

    <next-century-filter #filter1A
        id="filter1A"
        filter-type="list"
        list-field-key="es1.ldc_uyg_jul_18.ui_out._id"
        list-operator="="
        search-element-id="search1"
        vis-element-id="vis1"
        vis-filter-input-function="changeSelectedText"
        vis-filter-output-event="dataSelected"
    ></next-century-filter>
</div>

<div class="column">
    <next-century-example #vis2
        id="vis2"
        selection-field="fields.topic"
        vis-title="Aggregate on Topic, Filter by Topic"
    >
    </next-century-example>

    <next-century-search #search2
        id="search2"
        enable-ignore-self-filter
        search-field-keys="es1.ldc_uyg_jul_18.ui_out.topic"
        search-limit=10000
        sort-aggregation="_records"
        sort-order="descending"
        vis-draw-function="drawData"
        vis-element-id="vis2"
    >
        <next-century-aggregation
            aggregation-field-key="es1.ldc_uyg_jul_18.ui_out.topic"
            aggregation-name="_records"
        ></next-century-aggregation>
        <next-century-group
            group-field-key="es1.ldc_uyg_jul_18.ui_out.topic"
        ></next-century-group>
    </next-century-search>

    <next-century-filter #filter2A
        id="filter2A"
        filter-type="list"
        list-field-key="es1.ldc_uyg_jul_18.ui_out.topic"
        list-operator="="
        search-element-id="search2"
        vis-element-id="vis2"
        vis-filter-input-function="changeSelectedText"
        vis-filter-output-event="dataSelected"
    ></next-century-filter>
</div>

<div class="column">
    <next-century-example #vis3
        id="vis3"
        selection-field="fields.translatedText"
        vis-title="Aggregate on Text, Filter by Text"
    >
    </next-century-example>

    <next-century-search #search3
        id="search3"
        enable-ignore-self-filter
        filter-type="list"
        search-field-keys="es1.ldc_uyg_jul_18.ui_out.translatedText"
        search-limit=10000
        sort-aggregation="_records"
        sort-order="descending"
        vis-draw-function="drawData"
        vis-element-id="vis3"
    >
        <next-century-aggregation
            aggregation-field-key="es1.ldc_uyg_jul_18.ui_out.translatedText"
            aggregation-name="_records"
        ></next-century-aggregation>
        <next-century-group
            group-field-key="es1.ldc_uyg_jul_18.ui_out.translatedText"
        ></next-century-group>
    </next-century-search>

    <next-century-filter #filter3A
        id="filter3A"
        filter-type="list"
        list-field-key="es1.ldc_uyg_jul_18.ui_out.translatedText"
        list-operator="="
        search-element-id="search3"
        vis-element-id="vis3"
        vis-filter-input-function="changeSelectedText"
        vis-filter-output-event="dataSelected"
    ></next-century-filter>
</div>

<div class="column">
    <next-century-example #vis4
        id="vis4"
        selection-field="aggregations._timeline"
        vis-title="Aggregate on Day, Filter by Day"
    >
    </next-century-example>

    <next-century-search #search4
        id="search4"
        enable-ignore-self-filter
        filter-type="list"
        search-field-keys="es1.ldc_uyg_jul_18.ui_out.createdDate"
        search-limit=10000
        sort-aggregation="_timeline"
        sort-order="ascending"
        vis-draw-function="drawData"
        vis-element-id="vis4"
    >
        <next-century-aggregation
            aggregation-field-key="es1.ldc_uyg_jul_18.ui_out.createdDate"
            aggregation-name="_timeline"
            aggregation-type="min"
        ></next-century-aggregation>
        <next-century-aggregation
            aggregation-group="_dayOfMonth"
            aggregation-name="_records"
        ></next-century-aggregation>
        <next-century-group
            group-field-key="es1.ldc_uyg_jul_18.ui_out.createdDate"
            group-type="dayOfMonth"
        ></next-century-group>
    </next-century-search>

    <next-century-filter #filter4A
        id="filter4A"
        domain-field-key="es1.ldc_uyg_jul_18.ui_out.createdDate"
        filter-type="domain"
        search-element-id="search4"
    ></next-century-filter>
</div>

<div class="column">
    <next-century-example #vis5
        id="vis5"
        vis-title="Total Count Query"
    >
    </next-century-example>

    <next-century-search #search5
        id="search5"
        search-field-keys="es1.ldc_uyg_jul_18.ui_out.*"
        search-limit=10000
        vis-draw-function="drawData"
        vis-element-id="vis5"
    >
        <next-century-aggregation
            aggregation-field-key="es1.ldc_uyg_jul_18.ui_out.*"
            aggregation-name="_records"
        ></next-century-aggregation>
    </next-century-search>
</div>

<div class="column">
    <next-century-text-cloud #textCloudWrapper1
        id="textCloudWrapper1"
        enable-ignore-self-filter
        text-field-key="es1.ldc_uyg_jul_18.ui_out.topic"
    >
    </next-century-text-cloud>
</div>

<div class="column">
    <next-century-text-cloud #textCloudWrapper2
        id="textCloudWrapper2"
        aggregation-field-key="es1.ldc_uyg_jul_18.ui_out.geoLocation.lat"
        aggregation-type="max"
        enable-ignore-self-filter
        text-field-key="es1.ldc_uyg_jul_18.ui_out.topic"
    >
    </next-century-text-cloud>
</div>

<div class="column">
    <app-next-century-angular-text-cloud
        id="testAngular1"
        [dataset]="dataset"
        [filterService]="filterService"
        [options]="textCloudOptions1"
        [searchService]="searchService"
    >
    </app-next-century-angular-text-cloud>
</div>

<div class="column">
    <app-next-century-angular-text-cloud
        id="testAngular2"
        [dataset]="dataset"
        [filterService]="filterService"
        [options]="textCloudOptions2"
        [searchService]="searchService"
    >
    </app-next-century-angular-text-cloud>
</div>

<div class="column">
    <next-century-base-text-cloud #textCloud1
        id="textCloud1"
        aggregation-field="aggregations._records"
        text-field="fields.topic"
    >
    </next-century-base-text-cloud>

    <next-century-search #textCloudSearch1
        id="textCloudSearch1"
        enable-ignore-self-filter
        search-field-keys="es1.ldc_uyg_jul_18.ui_out.topic"
        search-limit=10000
        sort-aggregation="_records"
        sort-order="descending"
        vis-draw-function="drawData"
        vis-element-id="textCloud1"
    >
        <next-century-aggregation
            aggregation-field-key="es1.ldc_uyg_jul_18.ui_out.topic"
            aggregation-name="_records"
        ></next-century-aggregation>
        <next-century-group
            group-field-key="es1.ldc_uyg_jul_18.ui_out.topic"
        ></next-century-group>
    </next-century-search>

    <next-century-filter #textCloudFilter1A
        id="textCloudFilter1A"
        list-field-key="es1.ldc_uyg_jul_18.ui_out.topic"
        list-operator="="
        filter-type="list"
        search-element-id="textCloudSearch1"
        vis-element-id="textCloud1"
        vis-filter-input-function="changeFilteredText"
        vis-filter-output-event="filter"
    ></next-century-filter>
</div>

<!-- beautify ignore:end -->
