//The custom color palette was made here instead of editing _theming.scss
//because that is 3 paths deep under dependencies which is in gitignore.

$black-87-opacity: rgba(black, 0.87);
$white-87-opacity: rgba(white, 0.87);
$black-12-opacity: rgba(black, 0.12);
$white-12-opacity: rgba(white, 0.12);
$black-6-opacity: rgba(black, 0.06);
$white-6-opacity: rgba(white, 0.06);

$mat-teal-custom:(
	50: #E5ECF0,
	100: #BECFD8,
	200: #93B0BF,
	300: #6890A5,
	400: #477891,
	500: #27607E,
	600: #394AAE,
	700: #3140A5,
	800: #29379D,
	900: #1B278D,
	A100: #C6CBFF,
	A200: #939DFF,
	A400: #606EFF,
	A700: #4757FF,
	contrast: (
		50: $black-87-opacity,
	    100: $black-87-opacity,
	    200: $black-87-opacity,
	    300: $black-87-opacity,
	    400: $black-87-opacity,
	    500: white,
	    600: white,
	    700: white,
	    800: $white-87-opacity,
	    900: $white-87-opacity,
	    A100: $black-87-opacity,
	    A200: $black-87-opacity,
	    A400: $black-87-opacity,
	    A700: $black-87-opacity,
	)
);

$mat-grey1: (
	50: #EBEBEB,
	100: #CDCDCE,
	200: #ACACAD,
	300: #8A8B8C,
	400: #717274,
	500: #58595B,
	600: #505153,
	700: #474849,
	800: #3D3E40,
	900: #2D2E2F,
	contrast: (
	    0: $black-87-opacity,
	    50: $black-87-opacity,
	    100: $black-87-opacity,
	    200: $black-87-opacity,
	    300: $black-87-opacity,
	    400: $black-87-opacity,
	    500: $black-87-opacity,
	    600: $white-87-opacity,
	    700: $white-87-opacity,
	    800: $white-87-opacity,
	    900: $white-87-opacity,
	    1000: $white-87-opacity,
	    A100: $black-87-opacity,
	    A200: $black-87-opacity,
	    A400: $black-87-opacity,
	    A700: $white-87-opacity,
  	)	
);

$mat-grey2: (
	50: #F2F2F3,
	100: #DFDFE0,
	200: #C9CACC,
	300: #B3B5B7,
	400: #A3A5A7,
	500: #939598,
	600: #8B8D90,
	700: #808285,
	800: #76787B,
	900: #64676A,
	contrast: (
	    0: $black-87-opacity,
	    50: $black-87-opacity,
	    100: $black-87-opacity,
	    200: $black-87-opacity,
	    300: $black-87-opacity,
	    400: $black-87-opacity,
	    500: $black-87-opacity,
	    600: $white-87-opacity,
	    700: $white-87-opacity,
	    800: $white-87-opacity,
	    900: $white-87-opacity,
	    1000: $white-87-opacity,
	    A100: $black-87-opacity,
	    A200: $black-87-opacity,
	    A400: $black-87-opacity,
	    A700: $white-87-opacity,
  	)	
);

$mat-grey3: (
	50: #F7F7F7,
	100: #EBECEC,
	200: #DEDFE0,
	300: #D0D2D3,
	400: #C6C8C9,
	500: #BCBEC0,
	600: #B6B8BA,
	700: #ADAFB2,
	800: #A5A7AA,
	900: #97999C,
	contrast: (
	    0: $black-87-opacity,
	    50: $black-87-opacity,
	    100: $black-87-opacity,
	    200: $black-87-opacity,
	    300: $black-87-opacity,
	    400: $black-87-opacity,
	    500: $black-87-opacity,
	    600: $white-87-opacity,
	    700: $white-87-opacity,
	    800: $white-87-opacity,
	    900: $white-87-opacity,
	    1000: $white-87-opacity,
	    A100: $black-87-opacity,
	    A200: $black-87-opacity,
	    A400: $black-87-opacity,
	    A700: $white-87-opacity,
  	)	
);

$mat-grey4:(
	50: #FCFCFC,
	100: #F8F8F8,
	200: #F3F3F4,
	300: #EEEEEF,
	400: #EAEBEB,
	500: #E6E7E8,
	600: #E3E4E5,
	700: #DFE0E2,
	800: #DBDDDE,
	900: #D5D7D8,
	contrast:(
		0: $black-87-opacity,
	    50: $black-87-opacity,
	    100: $black-87-opacity,
	    200: $black-87-opacity,
	    300: $black-87-opacity,
	    400: $black-87-opacity,
	    500: $black-87-opacity,
	    600: $white-87-opacity,
	    700: $white-87-opacity,
	    800: $white-87-opacity,
	    900: $white-87-opacity,
	    1000: $white-87-opacity,
	    A100: $black-87-opacity,
	    A200: $black-87-opacity,
	    A400: $black-87-opacity,
	    A700: $white-87-opacity,
	)
);

$mat-white:(
	50: #FFFFFF,
	100: #FFFFFF,
	200: #FFFFFF,
	300: #FFFFFF,
	400: #FFFFFF,
	500: #FFFFFF,
	600: #FFFFFF,
	700: #FFFFFF,
	800: #FFFFFF,
	900: #FFFFFF,
	contrast:(
		0: #939598,
	    50: #939598,
	    100: #939598,
	    200: #939598,
	    300: #939598,
	    400: #939598,
	    500: #939598,
	    600: #939598,
	    700: #939598,
	    800: #939598,
	    900: #939598,
	    1000: #939598,
	    A100: #939598,
	    A200: #939598,
	    A400: #939598,
	    A700: #939598,
	)
);

