$dark-theme-primary: #515861;
$dark-theme-primary-lighter: #BCBEC1;
$dark-theme-primary-darker: #1C2531;

$dark-theme-accent: #01B7C1;
$dark-theme-accent-lighter: #5FEAF4;
$dark-theme-accent-darker: #008791;

// $dark-theme-black: #434B55;
$dark-theme-black-lighter: #7B8087;
$dark-theme-black-darker: #1C2531;

$dark-theme-white: #F1F1F1;
// $dark-theme-white-lighter: #FFFFFF;
// $dark-theme-white-darker: #CECFD1;

$dark-theme-base: (
    50: $dark-theme-primary-lighter,
    100: #A6A9AD,
    200: #91959A,
    300: #7B8087,
    400: #666C74,
    500: $dark-theme-primary,
    600: #434B55,
    700: #363E49,
    800: #29313D,
    900: $dark-theme-primary-darker,
    A100: $dark-theme-accent-lighter,
    A200: $dark-theme-accent-lighter,
    A400: $dark-theme-accent,
    A700: $dark-theme-accent-darker,
    contrast: (
        50: $dark-theme-black-darker,
        100: $dark-theme-black-darker,
        200: $dark-theme-black-darker,
        300: $dark-theme-white,
        400: $dark-theme-white,
        500: $dark-theme-white,
        600: $dark-theme-white,
        700: $dark-theme-white,
        800: $dark-theme-white,
        900: $dark-theme-white,
        A100: $dark-theme-black-darker,
        A200: $dark-theme-black-darker,
        A400: $dark-theme-white,
        A700: $dark-theme-white
    )
);

// Based on https://github.com/angular/components/blob/master/src/material/core/theming/_palette.scss#L691
$dark-theme-background: (
    status-bar:               $dark-theme-primary,
    app-bar:                  $dark-theme-primary,
    background:               $dark-theme-primary,
    hover:                    $dark-theme-accent,
    card:                     $dark-theme-primary,
    dialog:                   $dark-theme-primary,
    disabled-button:          $dark-theme-black-lighter,
    raised-button:            $dark-theme-black-darker,
    focused-button:           $dark-theme-black-lighter,
    selected-button:          $dark-theme-accent,
    selected-disabled-button: $dark-theme-black-lighter,
    disabled-button-toggle:   $dark-theme-black-lighter,
    unselected-chip:          $dark-theme-black-darker,
    disabled-list-option:     $dark-theme-black-lighter,
);

// Based on https://github.com/angular/components/blob/master/src/material/core/theming/_palette.scss#L691
$dark-theme-foreground: (
    base:              $dark-theme-white,
    divider:           $dark-theme-white,
    dividers:          $dark-theme-white,
    disabled:          $dark-theme-white,
    disabled-button:   $dark-theme-white,
    disabled-text:     $dark-theme-white,
    elevation:         $dark-theme-black-darker,
    hint-text:         $dark-theme-white,
    secondary-text:    $dark-theme-white,
    icon:              $dark-theme-white,
    icons:             $dark-theme-white,
    text:              $dark-theme-white,
    slider-min:        $dark-theme-white,
    slider-off:        $dark-theme-white,
    slider-off-active: $dark-theme-white,
);

$dark-theme-primary-palette: mat-palette($dark-theme-base, 500, 100, 700);
$dark-theme-accent-palette: mat-palette($dark-theme-base, A400, A200, A700);
$dark-theme-warn-palette: mat-palette($mat-red, A400, A200, A700);

$dark-theme: (
    primary: $dark-theme-primary-palette,
    accent: $dark-theme-accent-palette,
    warn: $dark-theme-warn-palette,
    is-dark: true,
    foreground: $dark-theme-foreground,
    background: $dark-theme-background
);

.neon-dark {
    @include angular-material-theme($dark-theme);

    /* DO NOT USE SASS VARIABLES ($VAR) HERE!  YOU MUST HARDCODE ALL COLORS! */
    --color-background: #515861; // $dark-theme-primary
    --color-background-contrast: #7B8087; // $dark-theme-black-lighter
    --color-body: #1C2531; // $dark-theme-black-darker
    --color-bolded: #01B7C1; // $dark-theme-accent
    --color-border: #01B7C1; // $dark-theme-accent
    --color-text: #F1F1F1; // $dark-theme-white

    --color-dash-item-selectable: #01B7C1; // $dark-theme-accent
    --color-dash-item-selectable-text: #F1F1F1; // $dark-theme-white
    --color-dash-item-unselected: #1C2531; // $dark-theme-black-darker
    --color-dash-item-unselected-text: #F1F1F1; // $dark-theme-white

    --color-data-item-selectable: #01B7C1; // $dark-theme-accent
    --color-data-item-selectable-dark: #008791; // $dark-theme-accent-darker
    --color-data-item-selectable-text: #F1F1F1; // $dark-theme-white
    --color-data-item-selected: #F1F1F1; // $dark-theme-accent-lighter
    --color-data-item-selected-area: rgba(95, 234, 244, 0.33); // $dark-theme-accent-lighter
    --color-data-item-selected-text: #1C2531; // $dark-theme-black-darker

    --color-set-1: rgb(255, 204, 0); // #5E508F yellow
    --color-set-2: rgb(130, 102, 225); // #F35870 purple
    --color-set-3: rgb(255, 102, 0); // #FF8737 orange
    --color-set-4: rgb(0, 142, 250); // #0099FF blue
    --color-set-5: rgb(255, 31, 43); // #B34F92 red
    --color-set-6: rgb(62, 178, 78); // #6ACC7F green
    --color-set-7: rgb(255, 102, 153); // #B1C236 pink
    --color-set-8: rgb(1, 183, 193); // #FFD600 teal

    --color-set-light-1: rgb(255, 255, 80); // #8D7CC0 yellow
    --color-set-light-2: rgb(182, 148, 255); // #FF8B9E purple
    --color-set-light-3: rgb(255, 152, 63); // #FFB866 orange
    --color-set-light-4: rgb(104, 190, 255); // #69CCFF blue
    --color-set-light-5: rgb(255, 99, 86); // #E77FC2 red
    --color-set-light-6: rgb(117, 229, 124); // #369A52 green
    --color-set-light-7: rgb(255, 153, 202); // #E6F569 pink
    --color-set-light-8: rgb(95, 234, 244); // #FFFF52 teal

    --color-set-dark-1: rgb(199, 156, 0); // #312761 yellow
    --color-set-dark-2: rgb(78, 58, 174); // #BB1E45 purple
    --color-set-dark-3: rgb(196, 51, 0); // #C65800 orange
    --color-set-dark-4: rgb(0, 97, 198); // #006CCB blue
    --color-set-dark-5: rgb(195, 0, 1); // #811D64 red
    --color-set-dark-6: rgb(0, 129, 32); // #369A52 green
    --color-set-dark-7: rgb(200, 48, 107); // #7E9200 pink
    --color-set-dark-8: rgb(0, 135, 145); // #C7A500 teal

    --color-set-1-transparency-medium: rgba(255, 204, 0, 0.66);
    --color-set-2-transparency-medium: rgba(130, 102, 225, 0.66);
    --color-set-3-transparency-medium: rgba(255, 102, 0, 0.66);
    --color-set-4-transparency-medium: rgba(0, 142, 250, 0.66);
    --color-set-5-transparency-medium: rgba(255, 31, 43, 0.66);
    --color-set-6-transparency-medium: rgba(62, 178, 78, 0.66);
    --color-set-7-transparency-medium: rgba(255, 102, 153, 0.66);
    --color-set-8-transparency-medium: rgba(1, 183, 193, 0.66);

    --color-set-light-1-transparency-medium: rgba(255, 255, 80, 0.66);
    --color-set-light-2-transparency-medium: rgba(182, 148, 255, 0.66);
    --color-set-light-3-transparency-medium: rgba(255, 152, 63, 0.66);
    --color-set-light-4-transparency-medium: rgba(104, 190, 255, 0.66);
    --color-set-light-5-transparency-medium: rgba(255, 99, 86, 0.66);
    --color-set-light-6-transparency-medium: rgba(117, 229, 124, 0.66);
    --color-set-light-7-transparency-medium: rgba(255, 153, 202, 0.66);
    --color-set-light-8-transparency-medium: rgba(95, 234, 244, 0.66);

    --color-set-dark-1-transparency-medium: rgba(199, 156, 0, 0.66);
    --color-set-dark-2-transparency-medium: rgba(78, 58, 174, 0.66);
    --color-set-dark-3-transparency-medium: rgba(196, 51, 0, 0.66);
    --color-set-dark-4-transparency-medium: rgba(0, 97, 198, 0.66);
    --color-set-dark-5-transparency-medium: rgba(195, 0, 1, 0.66);
    --color-set-dark-6-transparency-medium: rgba(0, 129, 32, 0.66);
    --color-set-dark-7-transparency-medium: rgba(200, 48, 107, 0.66);
    --color-set-dark-8-transparency-medium: rgba(0, 135, 145, 0.66);

    --color-set-1-transparency-high: rgba(255, 204, 0, 0.33);
    --color-set-2-transparency-high: rgba(130, 102, 225, 0.33);
    --color-set-3-transparency-high: rgba(255, 102, 0, 0.33);
    --color-set-4-transparency-high: rgba(0, 142, 250, 0.33);
    --color-set-5-transparency-high: rgba(255, 31, 43, 0.33);
    --color-set-6-transparency-high: rgba(62, 178, 78, 0.33);
    --color-set-7-transparency-high: rgba(255, 102, 153, 0.33);
    --color-set-8-transparency-high: rgba(1, 183, 193, 0.33);

    --color-set-light-1-transparency-high: rgba(255, 255, 80, 0.33);
    --color-set-light-2-transparency-high: rgba(182, 148, 255, 0.33);
    --color-set-light-3-transparency-high: rgba(255, 152, 63, 0.33);
    --color-set-light-4-transparency-high: rgba(104, 190, 255, 0.33);
    --color-set-light-5-transparency-high: rgba(255, 99, 86, 0.33);
    --color-set-light-6-transparency-high: rgba(117, 229, 124, 0.33);
    --color-set-light-7-transparency-high: rgba(255, 153, 202, 0.33);
    --color-set-light-8-transparency-high: rgba(95, 234, 244, 0.33);

    --color-set-dark-1-transparency-high: rgba(199, 156, 0, 0.33);
    --color-set-dark-2-transparency-high: rgba(78, 58, 174, 0.33);
    --color-set-dark-3-transparency-high: rgba(196, 51, 0, 0.33);
    --color-set-dark-4-transparency-high: rgba(0, 97, 198, 0.33);
    --color-set-dark-5-transparency-high: rgba(195, 0, 1, 0.33);
    --color-set-dark-6-transparency-high: rgba(0, 129, 32, 0.33);
    --color-set-dark-7-transparency-high: rgba(200, 48, 107, 0.33);
    --color-set-dark-8-transparency-high: rgba(0, 135, 145, 0.33);

    &.mat-autocomplete-panel {
        background: #303030; // $dark-theme-background.background
        color: white;
    }
}

