@import '~@angular/material/_theming';
@import './_custom-theming.scss';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
//$primary: mat-palette($mat-green, A400, A200, A700);
//$accent:  mat-palette($mat-deep-purple, 400, 200, 700);

$primary: mat-palette($mat-teal-custom, 500, 400, 900);
$accent:  mat-palette($mat-grey4, 500, 200, 600);
$header: mat-palette($mat-white, 500, 200, 900);
$header-text: mat-palette($mat-grey1, 500, 200, 600);
$fade: mat-palette($mat-grey2, 500, 400, 600);

//$background: mat-palette($mat-grey2, 500, 200, 600);
//$foreground: mat-palette($mat-grey4, 500, 200, 600);

// The warn palette is optional (defaults to red).
$warn:    mat-palette($mat-red, A400, A200, A700);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);

.neon-green-dark-theme {
  $dark-primary: mat-palette($mat-blue-grey, 700, 500, 900);
  $dark-accent:  mat-palette($mat-green, A400, A200, A700);
  $dark-warn:    mat-palette($mat-pink);

  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}
