@import '~@angular/material/_theming';

$teal-theme-primary: #367588;
$teal-theme-primary-lighter: #AFD4DE;
$teal-theme-primary-darker: #254855;

$teal-theme-accent: #54C8CD;
$teal-theme-accent-lighter: #8BFBFF;
$teal-theme-accent-darker: #00979C;

$teal-theme-grey: #666666;
$teal-theme-grey-lighter: #999999;
$teal-theme-grey-darker: #333333;

$teal-theme-white: #F2F2F2;
$teal-theme-white-lighter: #FFFFFF;
$teal-theme-white-darker: #D7D7D7;

$teal-theme-base: (
    50: $teal-theme-primary-lighter,
    100: $teal-theme-primary-lighter,
    200: $teal-theme-primary-lighter,
    300: $teal-theme-primary,
    400: $teal-theme-primary,
    500: $teal-theme-primary,
    600: $teal-theme-primary,
    700: $teal-theme-primary-darker,
    800: $teal-theme-primary-darker,
    900: $teal-theme-primary-darker,
    A100: $teal-theme-accent-lighter,
    A200: $teal-theme-accent-lighter,
    A400: $teal-theme-accent,
    A700: $teal-theme-accent-darker,
    contrast: (
        50: $teal-theme-grey-darker,
        100: $teal-theme-grey-darker,
        200: $teal-theme-grey-darker,
        300: $teal-theme-white-lighter,
        400: $teal-theme-white-lighter,
        500: $teal-theme-white-lighter,
        600: $teal-theme-white-lighter,
        700: $teal-theme-white-lighter,
        800: $teal-theme-white-lighter,
        900: $teal-theme-white-lighter,
        A100: $teal-theme-grey-darker,
        A200: $teal-theme-grey-darker,
        A400: $teal-theme-grey-darker,
        A700: $teal-theme-grey-lighter
    )
);

// https://github.com/angular/material2/blob/master/src/lib/core/theming/_palette.scss#L674
// TODO Update default angular material design light theme background as needed.
$teal-theme-background: (
    status-bar:               map_get($mat-grey, 300),
    app-bar:                  map_get($mat-grey, 100),
    background:               map_get($mat-grey, 50),
    hover:                    rgba(black, 0.04),
    card:                     white,
    dialog:                   white,
    disabled-button:          rgba(black, 0.12),
    raised-button:            white,
    focused-button:           $dark-focused,
    selected-button:          map_get($mat-grey, 300),
    selected-disabled-button: map_get($mat-grey, 400),
    disabled-button-toggle:   map_get($mat-grey, 200),
    unselected-chip:          map_get($mat-grey, 300),
    disabled-list-option:     map_get($mat-grey, 200),
);

// https://github.com/angular/material2/blob/master/src/lib/core/theming/_palette.scss#L710
// TODO Update default angular material design light theme foreground as needed.
$teal-theme-foreground: (
    base:              black,
    divider:           $dark-dividers,
    dividers:          $dark-dividers,
    disabled:          $dark-disabled-text,
    disabled-button:   rgba(black, 0.26),
    disabled-text:     $dark-disabled-text,
    elevation:         black,
    hint-text:         $dark-disabled-text,
    secondary-text:    $dark-secondary-text,
    icon:              rgba(black, 0.54),
    icons:             rgba(black, 0.54),
    text:              rgba(black, 0.87),
    slider-min:        rgba(black, 0.87),
    slider-off:        rgba(black, 0.26),
    slider-off-active: rgba(black, 0.38),
);

$teal-theme-primary-palette: mat-palette($teal-theme-base, 500, 100, 700);
$teal-theme-accent-palette: mat-palette($teal-theme-base, A400, A200, A700);
$teal-theme-warn-palette: mat-palette($mat-red, A400, A200, A700);

$teal-theme: (
    primary: $teal-theme-primary-palette,
    accent: $teal-theme-accent-palette,
    warn: $teal-theme-warn-palette,
    is-dark: false,
    foreground: $teal-theme-foreground,
    background: $teal-theme-background
);

.neon-teal {
    @include angular-material-theme($teal-theme);

    /* DO NOT USE SASS VARIABLES ($VAR) HERE!  YOU MUST HARDCODE ALL COLORS! */
    --color-accent: #54C8CD;
    --color-accent-contrast: #333333;
    --color-accent-opaque: rgb(84,200,205,0.4);
    --color-primary: #367588;  //change
    --color-primary-contrast: #F2F2F2;
    --color-primary-opaque: rgb(54, 117, 136, 0.4);  //change
    --color-background: #F2F2F2;
    --color-background-contrast: #D7D7D7;
    --color-text-header: #666666;
    --color-text-main: #333333;

    &.mat-autocomplete-panel {
        background: white;
        color: rgba(black, 0.87);
    }
}

