@import '~@angular/material/_theming';

// TODO THOR-853 Change to dark theme (currently just a copy of teal theme).

$dark-theme-primary: #27607E;
$dark-theme-primary-lighter: #598DAD;
$dark-theme-primary-darker: #003652;

$dark-theme-accent: #54C8CD;
$dark-theme-accent-lighter: #8BFBFF;
$dark-theme-accent-darker: #00979C;

$dark-theme-grey: #666666;
$dark-theme-grey-lighter: #999999;
$dark-theme-grey-darker: #333333;

$dark-theme-white: #F2F2F2;
$dark-theme-white-lighter: #FFFFFF;
$dark-theme-white-darker: #D7D7D7;

$dark-theme-base: (
    50: $dark-theme-primary-lighter,
    100: $dark-theme-primary-lighter,
    200: $dark-theme-primary-lighter,
    300: $dark-theme-primary,
    400: $dark-theme-primary,
    500: $dark-theme-primary,
    600: $dark-theme-primary,
    700: $dark-theme-primary-darker,
    800: $dark-theme-primary-darker,
    900: $dark-theme-primary-darker,
    A100: $dark-theme-accent-lighter,
    A200: $dark-theme-accent-lighter,
    A400: $dark-theme-accent,
    A700: $dark-theme-accent-darker,
    contrast: (
        50: $dark-theme-grey-darker,
        100: $dark-theme-grey-darker,
        200: $dark-theme-grey-darker,
        300: $dark-theme-white-lighter,
        400: $dark-theme-white-lighter,
        500: $dark-theme-white-lighter,
        600: $dark-theme-white-lighter,
        700: $dark-theme-white-lighter,
        800: $dark-theme-white-lighter,
        900: $dark-theme-white-lighter,
        A100: $dark-theme-grey-darker,
        A200: $dark-theme-grey-darker,
        A400: $dark-theme-grey-darker,
        A700: $dark-theme-grey-lighter
    )
);

// https://github.com/angular/material2/blob/master/src/lib/core/theming/_palette.scss#L692
// TODO Update default angular material design dark theme background as needed.
$dark-theme-background: (
    status-bar:               black,
    app-bar:                  map_get($mat-grey, 900),
    background:               #303030,
    hover:                    rgba(white, 0.04),
    card:                     map_get($mat-grey, 800),
    dialog:                   map_get($mat-grey, 800),
    disabled-button:          rgba(white, 0.12),
    raised-button:            map-get($mat-grey, 800),
    focused-button:           $light-focused,
    selected-button:          map_get($mat-grey, 900),
    selected-disabled-button: map_get($mat-grey, 800),
    disabled-button-toggle:   black,
    unselected-chip:          map_get($mat-grey, 700),
    disabled-list-option:     black,
);

// https://github.com/angular/material2/blob/master/src/lib/core/theming/_palette.scss#L729
// TODO Update default angular material design dark theme foreground as needed.
$dark-theme-foreground: (
    base:              white,
    divider:           $light-dividers,
    dividers:          $light-dividers,
    disabled:          $light-disabled-text,
    disabled-button:   rgba(white, 0.3),
    disabled-text:     $light-disabled-text,
    elevation:         black,
    hint-text:         $light-disabled-text,
    secondary-text:    $light-secondary-text,
    icon:              white,
    icons:             white,
    text:              white,
    slider-min:        white,
    slider-off:        rgba(white, 0.3),
    slider-off-active: rgba(white, 0.3),
);

$dark-theme-primary-palette: mat-palette($dark-theme-base, 500, 100, 700);
$dark-theme-accent-palette: mat-palette($dark-theme-base, A400, A200, A700);
$dark-theme-warn-palette: mat-palette($mat-red, A400, A200, A700);

$dark-theme: (
    primary: $dark-theme-primary-palette,
    accent: $dark-theme-accent-palette,
    warn: $dark-theme-warn-palette,
    is-dark: false,
    foreground: $dark-theme-foreground,
    background: $dark-theme-background
);

.neon-dark {
    @include angular-material-theme($dark-theme);

    /* DO NOT USE SASS VARIABLES ($VAR) HERE!  YOU MUST HARDCODE ALL COLORS! */
    --color-accent: #54C8CD;
    --color-accent-contrast: #333333;
    --color-accent-opaque: rgb(84,200,205,0.4);
    --color-primary: #27607E;
    --color-primary-contrast: #F2F2F2;
    --color-primary-opaque: rgb(39,96,126,0.4);
    --color-background: #F2F2F2;
    --color-background-contrast: #D7D7D7;
    --color-text-header: #666666;
    --color-text-main: #333333;

    &.mat-autocomplete-panel {
        background: #303030;
        color: white;
    }
}

