<div [class.neon-green-dark-theme]="themesService.getCurrentTheme().id === 'neon-green-dark-theme'">
    <mat-toolbar class="title" color="primary">
        <span>{{ rightPanelService.activePanel.title }}</span>
    </mat-toolbar>

    <div class="right-panel-container">
        <div class="about-neon-container" *ngIf="rightPanelService.showAboutNeon">
            <app-about-neon></app-about-neon>
        </div>
        <div class="add-visualization-container" *ngIf="rightPanelService.showAddVis">
            <app-add-visualization></app-add-visualization>
        </div>
        <div class="setting-container" *ngIf="rightPanelService.showSettings">
            <app-settings></app-settings>
        </div>
    </div>
</div>