<mat-toolbar color="primary">
    <span>Local Filter</span>
</mat-toolbar>

<mat-form-field>
    <mat-select placeholder="Filter Field" [(ngModel)]="meta.unsharedFilterField"
                required="false" [disabled]="meta.fields.length === 0"
                (ngModelChange)="handleChangeUnsharedFilterField()">
        <mat-option *ngFor="let field of meta.fields" [value]="field">{{ field.prettyName }}</mat-option>
    </mat-select>
</mat-form-field>
<p></p>

<div mat-fill class="flex center">
    <mat-form-field>
        <input matInput [placeholder]="'Filter for ' + meta.unsharedFilterField.prettyName + '...'" [(ngModel)]="meta.unsharedFilterValue"
              [disabled]="!(meta.unsharedFilterField.columnName)" (keyup.enter)="handleChangeUnsharedFilterValue()">
    </mat-form-field>

    <button mat-icon-button matTooltip="Remove Unshared Filter" tooltip-position="below" (click)="handleRemoveUnsharedFilter()"
        [disabled]="(meta.unsharedFilterField.columnName == undefined || meta.unsharedFilterValue == '')">
        <mat-icon svgIcon="neon:clear"></mat-icon>
    </button>

    <button mat-icon-button matTooltip="Set Unshared Filter" tooltip-position="below" (click)="handleChangeUnsharedFilterValue()">
        <mat-icon svgIcon="neon:refresh"></mat-icon>
    </button>
</div>
