<form class="gear-container" #optionsFOrm="ngForm">

    <mat-form-field class="widgetOption-container">
        <input matInput placeholder="Title" [(ngModel)]="options.title" name="Title" required="false">
    </mat-form-field>
    <p></p>

    <mat-form-field class="widgetOption-container">
        <mat-select placeholder="Database" [(ngModel)]="options.database" required="true" name="database" [disabled]="options.tables.length < 2">
            <mat-option *ngFor="let database of options.databases" [value]="database">{{ database.prettyName }}</mat-option>
        </mat-select>
    </mat-form-field>
    <p></p>

    <mat-form-field class="widgetOption-container">
        <mat-select placeholder="Table" [(ngModel)]="options.table" required="true" name="table" [disabled]="options.tables.length < 2">
            <mat-option *ngFor="let table of options.tables" [value]="table">{{ table.prettyName }}</mat-option>
        </mat-select>
    </mat-form-field>
    <p></p>

    <h4>Required Fields</h4>

    <div class="option-container" *ngFor="let requiredOption of requiredList">
        <!-- Select Option Type-->
        <mat-form-field class="widgetOption-container" *ngIf="checkOptionType(requiredOption.optionType, 'SELECT')">
            <mat-select requiredOption.prettyName placeholder={{requiredOption.prettyName}}
            [ngModel]="requiredOption.valueCurrent" name="requiredOption" (ngModelChange)="handleDataChange(requiredOption, $event)">
                <mat-option *ngFor="let choice of requiredOption.valueChoices" [value]="choice.variable">
                    {{ choice.prettyName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <!-- Field Option Type-->
        <mat-form-field class="widgetOption-container" *ngIf="checkOptionType(requiredOption.optionType, 'FIELD')">
            <mat-select requiredOption.prettyName placeholder={{requiredOption.prettyName}}
            [ngModel]="requiredOption.valueCurrent" name="requiredOption" (ngModelChange)="handleDataChange(requiredOption, $event)">
                <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}</mat-option>
            </mat-select>
        </mat-form-field>
        <!-- Free Text Option Type-->
        <div mat-fill class="flex center" *ngIf="checkOptionType(requiredOption.optionType, 'FREE_TEXT')">
            <mat-form-field class='widgetOption-container' requiredOption.prettyName>
                <input matInput placeholder={{optionalOption.prettyName}}
                [ngModel]="requiredOption.valueCurrent" name="requiredOption" (ngModelChange)="handleDataChange(requiredOption, $event)" required="false"
                (keyup.enter)="handleChangeLimit()">
            </mat-form-field>
        </div>
        <!-- Field Array Option Type
        <div mat-fill class="widgetOption-container" *ngIf="checkOptionType(requiredOption.optionType, 'FIELD_ARRAY')">
            <mat-form-field class='widgetOption-container' requiredOption.prettyName>
                
            </mat-form-field>
        </div> -->

    </div>

    <h4>Optional Fields</h4>

    <div class="option-container" *ngFor="let optionalOption of optionalList">

        <mat-form-field class="widgetOption-container" *ngIf="checkOptionType(optionalOption.optionType, 'SELECT')">
            <mat-select optionalOption.prettyName placeholder={{optionalOption.prettyName}} 
            [ngModel]="optionalOption.valueCurrent" name="optionalOption" (ngModelChange)="handleDataChange(optionalOption, $event)">
                <mat-option *ngFor="let choice of optionalOption.valueChoices" [value]="choice.variable">
                    {{ choice.prettyName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="widgetOption-container" *ngIf="checkOptionType(optionalOption.optionType, 'FIELD')">
            <mat-select placeholder={{optionalOption.prettyName}}>
                <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}</mat-option>
            </mat-select>
        </mat-form-field>
        <div mat-fill class="flex center" *ngIf="checkOptionType(optionalOption.optionType, 'FREE_TEXT')">
            <mat-form-field class='widgetOption-container'>
                <input matInput placeholder={{optionalOption.prettyName}} required="false"
                    (keyup.enter)="handleDataChange(optionalOption, $event)">
            </mat-form-field>
        </div>
    </div>

    <!--<p></p>
    <mat-form-field ngFor="let widget of _collection"> </ngFor>-->
    <!--    
    <h4>Local Filter</h4>
    <div class="option-container">
        <mat-form-field class="widgetOption-container">
            <mat-select [(ngModel)]="modelName" placeholder="">
                <mat-option [value]=""></mat-option>
            </mat-select>
            <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettName }}</mat-option>
        </mat-form-field>

    </div> -->
    <app-export-control [widgets]="this"></app-export-control>
</form>
