<mat-sidenav-container #visualization class="visualization-sidenav" [class.neon-green-dark-theme]="themesService.getCurrentTheme().id === 'neon-green-dark-theme'">
    <mat-toolbar class="neon-toolbar-thin" color="header" layout-align="space-between center" flex>
        <div #headerText class="header text pull-left" [title]="meta.title">{{ meta.title }}</div>
        <span class="fill-remaining"></span>
        <span #infoText class="info text">{{ getButtonText() }}</span>
        <button mat-icon-button aria-label="Settings" matTooltip="Open/Close the Options Menu" tooltip-position="below" (click)="optionsMenu.toggle();">
            <mat-icon>settings</mat-icon>
        </button>
    </mat-toolbar>

    <mat-sidenav #optionsMenu align="end" class="visualization-sidenav-options">
        <mat-card align="left">
            <mat-card-content>
                <div *ngIf="getButtonText()">
                    <label class="icon-with-text">
                        <mat-icon class="neon-icon-small">error</mat-icon>
                        <div>{{ getButtonText() }}</div>
                    </label>
                    <p></p>
                </div>

                <mat-form-field>
                    <input matInput placeholder="Title" [(ngModel)]="meta.title" required="false">
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Database" [(ngModel)]="meta.database" required="true" (ngModelChange)="handleChangeDatabase()" [disabled]="meta.databases.length < 2">
                        <mat-option *ngFor="let database of meta.databases" [value]="database">{{ database.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Table" [(ngModel)]="meta.table" required="true" (ngModelChange)="handleChangeTable()" [disabled]="meta.tables.length < 2">
                        <mat-option *ngFor="let table of meta.tables" [value]="table">{{ table.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Date Field" [(ngModel)]="active.dateField" required="true" (ngModelChange)="handleChangeDateField()"
                        [disabled]="meta.fields.length == 0">
                        <mat-option *ngFor="let field of meta.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Group Field" [(ngModel)]="active.groupField" required="true" (ngModelChange)="handleChangeGroupField()"
                        [disabled]="meta.fields.length == 0">
                        <mat-option *ngFor="let field of meta.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-button-toggle-group #hourGranularity="matButtonToggleGroup" [(ngModel)]="active.granularity" (ngModelChange)="handleChangeGranularity()">
                    <mat-button-toggle value="year">
                        Year
                    </mat-button-toggle>
                    <mat-button-toggle value="month">
                        Month
                    </mat-button-toggle>
                    <mat-button-toggle value="day">
                        Day
                    </mat-button-toggle>
                    <mat-button-toggle value="hour">
                        Hour
                    </mat-button-toggle>
                    <mat-button-toggle value="minute">
                        Minute
                    </mat-button-toggle>
                </mat-button-toggle-group>
                <p></p>

                <app-unshared-filter [(meta)]="meta"
                                     (unsharedFilterChanged)="unsharedFilterChanged()"
                                     (unsharedFilterRemoved)="unsharedFilterRemoved()"></app-unshared-filter>
                <p></p>

                <app-export-control [exportId]="exportId"></app-export-control>
            </mat-card-content>
        </mat-card>
    </mat-sidenav>

    <div [class.loading-overlay]="isLoading" [class.not-loading-overlay]="!isLoading">
        <mat-spinner></mat-spinner>
    </div>

    <div class="filter-container">
        <div class="filter-reset" *ngFor="let filter of getCloseableFilters()">
            <span class="filter-label" [title]="getFilterTitle('Date Filter')">{{ 'Date Filter' }}</span>
            <button mat-icon-button class="neon-icon-button-small" aria-label="Close" [matTooltip]="getRemoveFilterTooltip('Date Filter')"
                    tooltip-position="below" (click)="removeLocalFilterFromLocalAndNeon(filter, true)">
                <mat-icon class="neon-icon-small">close</mat-icon>
            </button>
        </div>
    </div>

    <div class="body-container" [class.with-filter]="getCloseableFilters().length">
        <!-- Timeline chart div -->
        <div #svg class="stacked-timeline-selector-chart">
        </div>
        <div class ="xlabel"> {{ active.granularity }}
        </div>
        <div class ="ylabel">{{ active.ylabel }}
        </div>
    </div>
</mat-sidenav-container>
