.fake-dropdown-span {
    padding: 0px;
    margin: 0px;
}

.fake-dropdown-arrow {
    padding: 0px;
    margin: 0px;
    height: 1px;
    width: 1px;
    right: 24px;
    position: relative;
}

.fake-dropdown-menu {
    width: 200px;
}

md-input {
    width: 200px;
}