.fake-dropdown-span {
    padding: 0px;
    margin: 0px;
}

.fake-dropdown-arrow {
    padding: 0px;
    margin: 0px;
    height: 1px;
    width: 1px;
    right: 24px;
    position: relative;
}

.fake-dropdown-menu {
    width: 200px;
}

.btn-open-config-edit {
    margin: 10px 10px 10px 20px;
}

.radio-container > * > * {
    margin: 0 5px 0 5px;
}

input {
    width: 200px;
}

md-toolbar {
    margin-top: 5px;
    margin-bottom: 5px;
}
