<form #optionsForm="ngForm">
    <mat-toolbar color="primary">
        <span>Export Format</span>
    </mat-toolbar>
    <p></p>
    <app-export-control [exportTarget]="exportTarget"></app-export-control>
    <p></p>

    <mat-toolbar color="primary">
        <span>Themes</span>
    </mat-toolbar>
    <p></p>
    <div class='radio-container' layout="row" mat-margin>
        <mat-radio-group [(ngModel)]="formData.currentTheme" name="currentThemeGroup" (change)="setCurrentTheme(formData.currentTheme)">
            <mat-radio-button *ngFor="let theme of themesService.getThemes()" [value]="theme.id">{{ theme.name }}</mat-radio-button>
        </mat-radio-group>
    </div>
    <p></p>

    <mat-toolbar color="primary">
        <span>Property Service Configuration</span>
    </mat-toolbar>
    <p></p>
    <button mat-raised-button class="neon-button-small btn-open-config-edit" color="primary" matTooltip="Open configuration editor."
            tooltip-position="below" (click)="openEditConfigDialog()">
        Edit Configuration
    </button>
    <p></p>

    <mat-toolbar color="primary">
        <span>Dashboard States</span>
    </mat-toolbar>
    <p></p>

    <div class="option-row">
        <mat-form-field class="add-margin-right">
            <input matInput placeholder="New State Name" maxlength="100" name="stateToSave" dividerColor="accent" [(ngModel)]="formData.stateToSave">
        </mat-form-field>

        <button mat-raised-button class="neon-button-small" color="accent" (click)="saveState(formData.stateToSave)">
                <span *ngIf="validateName(formData.stateToSave)">Save State</span>
                <span *ngIf="!validateName(formData.stateToSave)">Overwrite State</span>
            </button>
    </div>

    <div class="option-row">
        <span [mat-menu-trigger-for]="loadMenu" class="fake-dropdown-span">
            <mat-form-field>
              <input matInput  placeholder="Select a State to Load" maxlength="100" name="stateToLoad"
                [(ngModel)]="formData.stateToLoad">
            </mat-form-field>

            <mat-icon class="fake-dropdown-arrow">arrow_drop_down</mat-icon>
            <mat-menu #loadMenu="matMenu" y-position="below" name="loadMenu" class="fake-dropdown-span" overlapTrigger=false>
                <button mat-menu-item (click)="setStateToLoad('')"> None </button>
                <button mat-menu-item *ngFor="let name of stateNames" (click)="setStateToLoad(name)"> {{ name }} </button>
            </mat-menu>
        </span>

        <button mat-raised-button (click)="loadState(formData.stateToLoad)" class="neon-button-small" color="primary">Load State</button>
    </div>

    <div class="option-row">
        <span [mat-menu-trigger-for]="deleteMenu" class="fake-dropdown-span">
            <mat-form-field>
            <input matInput  placeholder="Select a State to Delete" maxlength="100" name="stateToDelete"
                [(ngModel)]="formData.stateToDelete">
            </mat-form-field>

            <mat-icon class="fake-dropdown-arrow">arrow_drop_down</mat-icon>
            <mat-menu #deleteMenu="matMenu" y-position="below" name="deleteMenu" class="fake-dropdown-span" overlapTrigger=false>
                <button mat-menu-item (click)="setStateToDelete('')"> None </button>
                <button mat-menu-item *ngFor="let name of stateNames"  (click)="setStateToDelete(name)"> {{ name }} </button>
            </mat-menu>
        </span>

        <button mat-raised-button (click)="openConfirmationDialog()" class="neon-button-small" color="warn">Delete State</button>
    </div>
</form>
