<div class="modal">
    <div class="modal__heading">
        Custom Dataset - {{ getCurrentStepTitle() }}
    </div>

    <div class="modal__content">
        <app-custom-connection-simple-setup-step #step [data]="data"></app-custom-connection-simple-setup-step>
    </div>

    <div class="modal__footer">
        <div>
            <button class="mat-raised-button mat-primary" (click)="dialogRef.close()">Cancel</button>
            <button class="mat-raised-button mat-primary" (click)="nextStep()" [disabled]="!validateStep()">
                Create
            </button>
        </div>
    </div>
</div>
