.modal__row {
  padding: 12px 0 6px 0;
}

.modal__row--slotted {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.modal__row--slotted div {
  flex-grow: 1;
}

.modal__row-label {
  display: block;
  padding-bottom: 3px;
  // font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.8);
}

.modal__row-label--info {
  padding-top: 6px;
  // font-size: 0.8rem;
  font-style: italic;
}

.modal__input--medium {
  width: 60%;
}

.modal__datasource-container {
  border: solid 1px rgba(0, 0, 0, 0.2);
  background-color: var(--color-background, white);
  border-radius: 2px;
  height: 140px;
  overflow-y: auto;
}

.modal__datasource-list-item {
  font-size: 14px;
  padding: 6px 6px 0 6px;
}

button {
    font-size: 14px;
    font-weight: 500;
}

select, input {
    font-size: 14px;
    font-weight: 400;
}
