<md-sidenav-container class="visualization-sidenav" [class.neon-green-dark-theme]="themesService.getCurrentTheme().id === 'neon-green-dark-theme'">
    <md-toolbar color="header" layout-align="space-between center" flex>
        <div class="header text pull-left" [title]="createTitle()">{{ createTitle() }}</div>
        <span class="fill-remaining"></span>
        <span class="text" title="Open/Close the Options Menu">{{ getButtonText() }}</span>
        <button md-icon-button aria-label="Settings" md-tooltip="Open/Close the Options Menu" tooltip-position="below" (click)="optionsMenu.toggle();">
            <md-icon class="mat-24">settings</md-icon>
        </button>
    </md-toolbar>

    <!-- Options menu -->
    <md-sidenav #optionsMenu align="end" class="visualization-sidenav-options">
        <md-card align="left">
            <md-card-content>
                <label style="display: inline;" *ngIf="getButtonText()">
                    <md-icon class="error-icon">error</md-icon>
                    {{ getButtonText() }}
                </label>
                <p></p>

                <!-- Database selector -->
                <md-select placeholder="Database" [(ngModel)]="meta.database" required="true" (ngModelChange)="handleChangeDatabase()" [disabled]="meta.databases.length < 2">
                    <md-option *ngFor="let database of meta.databases" [value]="database">{{ database.prettyName }}</md-option>
                </md-select>
                <p></p>

                <!-- Table selector -->
                <md-select placeholder="Table" [(ngModel)]="meta.table" required="true" (ngModelChange)="handleChangeTable()" [disabled]="meta.tables.length < 2">
                    <md-option *ngFor="let table of meta.tables" [value]="table">{{ table.prettyName }}</md-option>
                </md-select>
                <p></p>

                <!-- Text field selector -->
                <md-select placeholder="Text Field" [(ngModel)]="active.dataField" required="true" (ngModelChange)="handleChangeDataField()"
                    [disabled]="meta.fields.length == 0">
                    <md-option *ngFor="let field of meta.fields" [value]="field">{{ field.prettyName }}</md-option>
                </md-select>
                <p></p>

                <!-- Date field selector -->
                <md-select placeholder="Date Field" [(ngModel)]="active.dateField" required="false" (ngModelChange)="handleChangeDateField()"
                    [disabled]="meta.fields.length == 0">
                    <md-option *ngFor="let field of meta.fields" [value]="field">{{ field.prettyName }}</md-option>
                </md-select>
                <p></p>

                <!-- Limit selector -->
                <table cellspacing="0">
                    <tr>
                        <td>
                            <input mdInput placeholder="Text Limit" [(ngModel)]="active.limit" required="true">
                        </td>
                        <td>
                            <button md-icon-button aria-label="Refresh" md-tooltip="Refresh" tooltip-position="below" (click)="handleChangeLimit()">
                                <md-icon class="mat-24">refresh</md-icon>
                            </button>
                        </td>
                    </tr>
                </table>
                <p></p>

                <!-- Unshared filter -->
                <!--
                <md-toolbar class="mat-primary">
                    <span>Unshared Filter</span>
                </md-toolbar>
                <md-select placeholder="Filter Field" [(ngModel)]="meta.unsharedFilterField" required="false" [disabled]="meta.fields.length === 0"
                    (ngModelChange)="handleChangeUnsharedFilterField()">
                    <md-option *ngFor="let field of meta.fields" [value]="field">{{ field.prettyName }}</md-option>
                </md-select>
                <p></p>
                <table cellspacing="0">
                    <tr>
                        <td>
                            <input mdInput [placeholder]="'Filter for ' + meta.unsharedFilterField.prettyName + '...'" [(ngModel)]="meta.unsharedFilterValue"
                                [disabled]="!(meta.unsharedFilterField.columnName)">

                        </td>
                        <td>
                            <button md-icon-button md-tooltip="Remove Unshared Filter" tooltip-position="below" (click)="handleRemoveUnsharedFilter()"
                                [disabled]="(meta.unsharedFilterField.columnName == undefined || meta.unsharedFilterValue == '')">
                                <md-icon class="mat-16">clear</md-icon>
                            </button>
                        </td>
                        <td>
                            <button md-icon-button md-tooltip="Set Unshared Filter" tooltip-position="below" (click)="handleChangeUnsharedFilterValue()">
                                <md-icon class="mat-16">refresh</md-icon>
                            </button>
                        </td>
                    </tr>
                </table>
                <p></p>
                -->

                <!-- Export -->
                <!--
                <button md-raised-button color="primary" class="export" (click)="requestExport()">
                    Export to File
                </button>
                -->
            </md-card-content>
        </md-card>
    </md-sidenav>

    <!-- View documents -->
    <md-list class="document-viewer-list-container">
        <div class="document-viewer-list-item" *ngFor="let item of active.data">
            <div class="md-list-item-text" layout="column" (click)="openSingleRecord(item)">
                <p class="metadata-row" *ngFor="let row of active.metadataFields">
                    <span class="metadata-item" *ngFor="let metadataElement of row">
                        <span class="metadata-title">{{metadataElement.name}}: </span><span class="metadata-text">{{formatMetadataEntry(item, metadataElement)}}</span>
                    </span>
                </p>
                <p>{{item[active.dataField.columnName]}}</p>
            </div>
            <hr>
        </div>
    </md-list>
</md-sidenav-container>
