<mat-sidenav-container #visualization class="visualization-sidenav" [class.neon-green-dark-theme]="themesService.getCurrentTheme().id === 'neon-green-dark-theme'">
    <mat-toolbar class="neon-toolbar-thin" color="header" layout-align="space-between center" flex>
        <div #headerText class="header text pull-left" [matTooltip]="options.title" tooltip-position="below">{{ options.title }}</div>
        <span class="fill-remaining"></span>
        <span #infoText class="info text">
            <span class="error-message" *ngIf="errorMessage" [matTooltip]="errorMessage" tooltip-position="below">
                {{ errorMessage }}
            </span>
            <span *ngIf="!errorMessage" [matTooltip]="getButtonText()" tooltip-position="below">{{ getButtonText() }}</span>
        </span>
        <button mat-icon-button aria-label="Settings" matTooltip="Open/Close the Options Menu" tooltip-position="below" (click)="optionsMenu.toggle();">
            <mat-icon>settings</mat-icon>
        </button>
    </mat-toolbar>

    <!-- Options menu -->
    <mat-sidenav #optionsMenu align="end" class="visualization-sidenav-options">
        <mat-card align="left">
            <mat-card-content>
                <div *ngIf="errorMessage">
                    <label class="icon-with-text error-message" [matTooltip]="errorMessage" tooltip-position="below">
                        <mat-icon class="neon-icon-small">error</mat-icon>
                        <div>{{ errorMessage }}</div>
                    </label>
                    <p></p>
                </div>

                <div *ngIf="getButtonText()">
                    <label class="icon-with-text" [matTooltip]="getButtonText()" tooltip-position="below">
                        <mat-icon class="neon-icon-small">info</mat-icon>
                        <div>{{ getButtonText() }}</div>
                    </label>
                    <p></p>
                </div>

                <mat-form-field>
                    <input matInput placeholder="Title" [(ngModel)]="options.title" required="false">
                </mat-form-field>
                <p></p>

                <!-- Database selector -->
                <mat-form-field>
                    <mat-select placeholder="Database" [(ngModel)]="options.database" required="true" (ngModelChange)="handleChangeDatabase()" [disabled]="options.databases.length < 2">
                        <mat-option *ngFor="let database of options.databases" [value]="database">{{ database.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <!-- Table selector -->
                <mat-form-field>
                    <mat-select placeholder="Table" [(ngModel)]="options.table" required="true" (ngModelChange)="handleChangeTable()" [disabled]="options.tables.length < 2">
                        <mat-option *ngFor="let table of options.tables" [value]="table">{{ table.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <!-- Text field selector -->
                <mat-form-field>
                    <mat-select placeholder="Text Field" [(ngModel)]="options.dataField" required="true" (ngModelChange)="handleChangeData()"
                        [disabled]="options.fields.length == 0">
                        <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <!-- Date field selector -->
                <mat-form-field>
                    <mat-select placeholder="Date Field" [(ngModel)]="options.dateField" (ngModelChange)="handleChangeData()"
                        [disabled]="options.fields.length == 0">
                        <mat-option [value]="createEmptyField()">(None)</mat-option>
                        <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <!-- Sort field selector -->
                <mat-form-field>
                    <mat-select placeholder="Sort Field" [(ngModel)]="options.sortField" (ngModelChange)="handleChangeData()"
                        [disabled]="options.fields.length == 0">
                        <mat-option [value]="emptyField">(None)</mat-option>
                        <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>
                <span class="toggle-text">Sort Order:</span>
                <mat-button-toggle-group class="neon-button-toggle-group-small" [(ngModel)]="options.sortOrder" (ngModelChange)="handleChangeData()">
                    <mat-button-toggle value="ASCENDING">ASC</mat-button-toggle>
                    <mat-button-toggle value="DESCENDING">DESC</mat-button-toggle>
                </mat-button-toggle-group>
                <p></p>

                <div mat-fill class="flex center">
                    <mat-form-field>
                        <input matInput placeholder="Document Limit" [(ngModel)]="options.newLimit" required="true" (keyup.enter)="handleChangeLimit()">
                    </mat-form-field>

                    <button mat-icon-button aria-label="Refresh" matTooltip="Refresh" tooltip-position="below" (click)="handleChangeLimit()">
                        <mat-icon>refresh</mat-icon>
                    </button>
                </div>
                <p></p>

                <span class="toggle-text">Hide Main Document Text:</span>
                <mat-button-toggle-group class="neon-button-toggle-group-small" [(ngModel)]="options.showText">
                    <mat-button-toggle [value]="false">Yes</mat-button-toggle>
                    <mat-button-toggle [value]="true">No</mat-button-toggle>
                </mat-button-toggle-group>
                <p></p>

                <span class="toggle-text">Hide Select Button:</span>
                <mat-button-toggle-group class="neon-button-toggle-group-small" [(ngModel)]="options.showSelect">
                    <mat-button-toggle [value]="false">Yes</mat-button-toggle>
                    <mat-button-toggle [value]="true">No</mat-button-toggle>
                </mat-button-toggle-group>
                <p></p>

                <span class="toggle-text">Hide Source Button:</span>
                <mat-button-toggle-group class="neon-button-toggle-group-small" [(ngModel)]="options.hideSource">
                    <mat-button-toggle [value]="true">Yes</mat-button-toggle>
                    <mat-button-toggle [value]="false">No</mat-button-toggle>
                </mat-button-toggle-group>
                <p></p>

                <!-- ID field selector -->
                <mat-form-field>
                    <mat-select placeholder="ID Field" [(ngModel)]="options.idField" required="false" (ngModelChange)="handleChangeData()"
                        [disabled]="options.fields.length == 0">
                        <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <input matInput placeholder="Name (Left Column) Width CSS" [(ngModel)]="options.nameWidthCss" required="false">
                </mat-form-field>
                <p></p>
            </mat-card-content>
        </mat-card>
    </mat-sidenav>

    <mat-list class="document-viewer-list-container body-container" [class.with-footer]="docCount > options.limit">
        <div class="mat-list-item-text document-viewer-list-item" *ngFor="let activeItem of activeData">
            <table class="document-viewer-table" *ngIf="activeItem.rows.length > 0">
                <tr class="document-viewer-row" [ngClass]="{'document-viewer-even': i % 2 === 1}" *ngFor="let item of activeItem.rows; index as i">
                    <td class="document-viewer-name" [style.width]="options.nameWidthCss || '50%'">{{ item.name }}: </td>
                    <td class="document-viewer-text">{{ item.text }}</td>
                </tr>
            </table>

            <table class="document-viewer-table" *ngIf="options.showText">
                <tr class="document-viewer-row">
                    <td class="document-viewer-text">{{ activeItem.data[options.dataField.columnName] }}</td>
                </tr>
            </table>

            <table class="document-viewer-table" *ngIf="showSourceButton() || showSelectButton()">
                <tr class="document-viewer-row">
                    <td class="document-viewer-button" *ngIf="showSourceButton()">
                        <button mat-raised-button class="neon-button-small" color="primary" (click)="openSingleRecord(activeItem.data)">
                            View Source Text
                        </button>
                    </td>
                    <td class="document-viewer-button" *ngIf="showSelectButton()">
                        <button mat-raised-button class="neon-button-small" color="primary" (click)="selectSingleRecord(activeItem.data)">
                            Select
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </mat-list>

    <div class="footer" *ngIf="docCount > options.limit">
        <div class="footer-button-container">
            <button mat-raised-button [disabled]="page == 1" class="pagination-button" color="primary" (click)="previousPage()">
                Previous
            </button>
            <span class="pagination-button-spacer"></span>
            <button mat-raised-button [disabled]="page*options.limit >= docCount" class="pagination-button" color="primary"
                    (click)="nextPage()">
                Next
            </button>
        </div>
    </div>
</mat-sidenav-container>
