<mat-sidenav-container #visualization class="visualization-sidenav" [class.neon-green-dark-theme]="themesService.getCurrentTheme().id === 'neon-green-dark-theme'">
    <mat-toolbar class="neon-toolbar-thin" color="header" layout-align="space-between center" flex>
        <div #headerText class="header text pull-left" [title]="meta.title">{{ meta.title }}</div>
        <span class="fill-remaining"></span>
        <span #infoText class="info text">{{ getButtonText() }}</span>
        <button mat-icon-button aria-label="Settings" matTooltip="Open/Close the Options Menu" tooltip-position="below" (click)="optionsMenu.toggle();">
            <mat-icon>settings</mat-icon>
        </button>
    </mat-toolbar>

    <!-- Options menu -->
    <mat-sidenav #optionsMenu align="end" class="visualization-sidenav-options">
        <mat-card align="left">
            <mat-card-content>
                <div *ngIf="getButtonText()">
                    <label class="icon-with-text">
                        <mat-icon class="neon-icon-small">error</mat-icon>
                        <div>{{ getButtonText() }}</div>
                    </label>
                    <p></p>
                </div>

                <mat-form-field>
                    <input matInput placeholder="Title" [(ngModel)]="meta.title" required="false">
                </mat-form-field>
                <p></p>

                <!-- Database selector -->
                <mat-form-field>
                    <mat-select placeholder="Database" [(ngModel)]="meta.database" required="true" (ngModelChange)="handleChangeDatabase()" [disabled]="meta.databases.length < 2">
                        <mat-option *ngFor="let database of meta.databases" [value]="database">{{ database.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <!-- Table selector -->
                <mat-form-field>
                    <mat-select placeholder="Table" [(ngModel)]="meta.table" required="true" (ngModelChange)="handleChangeTable()" [disabled]="meta.tables.length < 2">
                        <mat-option *ngFor="let table of meta.tables" [value]="table">{{ table.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <!-- Text field selector -->
                <mat-form-field>
                    <mat-select placeholder="Text Field" [(ngModel)]="active.dataField" required="true" (ngModelChange)="handleChangeData()"
                        [disabled]="meta.fields.length == 0">
                        <mat-option *ngFor="let field of meta.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <!-- Text toggle -->
                <mat-button-toggle-group [(ngModel)]="optionsFromConfig.showText">
                    <mat-button-toggle [value]="true">Show</mat-button-toggle>
                    <mat-button-toggle [value]="false">Hide</mat-button-toggle>
                </mat-button-toggle-group>
                <p></p>

                <!-- Date field selector -->
                <mat-form-field>
                    <mat-select placeholder="Date Field" [(ngModel)]="active.dateField" (ngModelChange)="handleChangeData()"
                        [disabled]="meta.fields.length == 0">
                        <mat-option [value]="emptyField">(None)</mat-option>
                        <mat-option *ngFor="let field of meta.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <!-- ID field selector -->
                <mat-form-field>
                    <mat-select placeholder="ID Field" [(ngModel)]="active.idField" required="true" (ngModelChange)="handleChangeData()"
                        [disabled]="meta.fields.length == 0">
                        <mat-option *ngFor="let field of meta.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>
            </mat-card-content>
        </mat-card>
    </mat-sidenav>

    <!-- View documents -->
    <mat-list class="document-viewer-list-container body-container" [class.with-footer]="active.docCount > active.limit">
        <div class="mat-list-item-text document-viewer-list-item" layout="column">
            <table class="document-viewer-table">
                <ng-template ngFor let-item [ngForOf]="active.data">
                    <tr class="metadata-row" [ngClass]="{'document-viewer-even-row': i % 2 === 1}" *ngFor="let metadataElement of active.metadataFields; index as i">
                        <td class="metadata-bold">{{ metadataElement.name }}: </td>
                        <td>{{ formatMetadataEntry(item, metadataElement) }}</td>
                    </tr>
                    <tr>
                        <td class="document-viewer-button-cell" colspan="100%">
                            <div *ngIf="optionsFromConfig.showText" class="metadata-row metadata-text">
                                {{ item[active.dataField.columnName] }}
                            </div>
                            <div class="document-viewer-button-container">
                                <button mat-raised-button class="neon-button-small document-viewer-button" color="primary"
                                        *ngIf="!optionsFromConfig.showText" (click)="openSingleRecord(item)">View Source Text</button>
                                <span class="document-viewer-button-spacer"
                                        *ngIf="!optionsFromConfig.showText && optionsFromConfig.showSelect && active.idField.columnName"></span>
                                <button mat-raised-button class="neon-button-small document-viewer-button" color="primary"
                                        *ngIf="optionsFromConfig.showSelect && active.idField.columnName" (click)="selectSingleRecord(item)">
                                    Select
                                </button>
                            </div>
                            <hr/>
                        </td>
                    </tr>
                </ng-template>
            </table>
        </div>
    </mat-list>

    <div class="footer" *ngIf="active.docCount > active.limit">
        <div class="footer-button-container">
            <button mat-raised-button [disabled]="active.page == 1" class="pagination-button" color="primary" (click)="previousPage()">
                Previous
            </button>
            <span class="pagination-button-spacer"></span>
            <button mat-raised-button [disabled]="active.page*active.limit >= active.docCount" class="pagination-button" color="primary"
                    (click)="nextPage()">
                Next
            </button>
        </div>
    </div>
</mat-sidenav-container>
