<mat-sidenav-container #visualization class="visualization-sidenav">
    <mat-toolbar class="neon-toolbar-thin" color="header" layout-align="space-between center" flex>
        <div #headerText class="header text pull-left" [matTooltip]="options.title" tooltip-position="below">{{ options.title }}</div>
        <span class="fill-remaining"></span>
        <span #infoText class="info text">
            <span class="error-message" *ngIf="errorMessage" [matTooltip]="errorMessage" tooltip-position="below">
                {{ errorMessage }}
            </span>
            <span *ngIf="!errorMessage" [matTooltip]="getButtonText()" tooltip-position="below">{{ getButtonText() }}</span>
        </span>
        <button mat-icon-button aria-label="Settings" matTooltip="Open/Close the Options Menu" matTooltipPosition="below" (click)="toggleGear();">
            <mat-icon>settings</mat-icon>
        </button>
    </mat-toolbar>

    <div [class.loading-overlay]="loadingCount > 0" [class.not-loading-overlay]="loadingCount == 0">
        <mat-spinner></mat-spinner>
    </div>

    <div class="body-container" (click)="stopEventPropagation($event)" [class.with-contribution]="showContribution()">
        <div class="map-container" (click)="stopEventPropagation($event)" mouseWheel (mouseWheelUp)="mouseWheelUp($event)" (mouseWheelDown)="mouseWheelDown($event)">
            <div #mapOverlay class="overlay"> {{ getOverlayText() }} </div>
            <div #mapElement id="mapElement" (click)="stopEventPropagation($event)"></div>
            <div class="map-selection" *ngIf="false" [ngStyle]="{'width.px': selection.width, 'height.px': selection.height, 'left.px':selection.x, 'top.px':selection.y}"></div>
        </div>

        <div class=" legend-container ">
            <div *ngIf="!options.singleColor">
                <app-legend [colorKeys]="colorKeys" [disabledSets]="disabledSet" (itemSelected)="legendItemSelected($event)"></app-legend>
            </div>
        </div>
    </div>

    <div class="contribution-text" *ngIf="showContribution()">
        <div class="contribution-text-container">
            <a (click)="openContributionDialog()">
                {{ getContributorAbbreviations() }}
            </a>
        </div>
    </div>
</mat-sidenav-container>
