<mat-sidenav-container #visualization class="visualization-sidenav">
    <mat-toolbar class="neon-toolbar-thin" color="header" layout-align="space-between center" flex>
        <div #headerText class="header text pull-left" [matTooltip]="options.title" tooltip-position="below">{{ options.title }}</div>
        <span class="fill-remaining"></span>
        <span #infoText class="info text">
            <span class="error-message" *ngIf="errorMessage" [matTooltip]="errorMessage" tooltip-position="below">
                {{ errorMessage }}
            </span>
            <span *ngIf="!errorMessage" [matTooltip]="getButtonText()" tooltip-position="below">{{ getButtonText() }}</span>
        </span>
        <button mat-icon-button aria-label="Settings" matTooltip="Open/Close the Options Menu" tooltip-position="below" (click)="optionsMenu.toggle();">
            <mat-icon>settings</mat-icon>
        </button>
    </mat-toolbar>

    <mat-sidenav #optionsMenu align="end" class="visualization-sidenav-options">
        <mat-card align="left">
            <mat-card-content>
                <div *ngIf="errorMessage">
                    <label class="icon-with-text error-message" [matTooltip]="errorMessage" tooltip-position="below">
                        <mat-icon class="neon-icon-small">error</mat-icon>
                        <span>{{ errorMessage }}</span>
                    </label>
                    <p></p>
                </div>

                <div *ngIf="getButtonText()">
                    <label class="icon-with-text" [matTooltip]="getButtonText()" tooltip-position="below">
                        <mat-icon class="neon-icon-small">info</mat-icon>
                        <span>{{ getButtonText() }}</span>
                    </label>
                    <p></p>
                </div>

                <mat-form-field>
                    <input matInput placeholder="Title" [(ngModel)]="options.title" required="false">
                </mat-form-field>
                <p></p>

                <a class="icon-with-text tappable" (click)="addLayer()">
                    <mat-icon class="neon-icon-small">add_circle</mat-icon>
                    <div>Add Layer</div>
                </a>
                <p></p>

                <div *ngFor="let layer of options.layers">
                    <mat-toolbar style="cursor: pointer;" (click)="toggleFilter(layer)">
                        <span>{{ layer.title }}</span>
                        <span class="toolbar-spacer"></span>
                        <mat-icon class="neon-icon-small" *ngIf="options.layers.length > 1" (click)="removeLayer(layer)">delete</mat-icon>
                        <mat-icon class="neon-icon-small">{{ getIconForFilter(layer) }}</mat-icon>
                    </mat-toolbar>
                    <p></p>

                    <div [hidden]="!filterVisible.get(layer._id)">
                        <mat-form-field>
                            <input matInput placeholder="Layer Name" [(ngModel)]="layer.title" required="true">
                        </mat-form-field>
                        <p></p>

                        <mat-form-field>
                            <mat-select placeholder="Database" [(ngModel)]="layer.database" required="true"
                                        (ngModelChange)="handleChangeDatabase(layer)" [disabled]="layer.databases.length < 2">
                                <mat-option *ngFor="let database of layer.databases"
                                            [value]="database">{{ database.prettyName }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <p></p>

                        <mat-form-field>
                            <mat-select placeholder="Table" [(ngModel)]="layer.table" required="true"
                                        (ngModelChange)="handleChangeTable(layer)" [disabled]="layer.tables.length < 2">
                                <mat-option *ngFor="let table of layer.tables"
                                            [value]="table">{{ table.prettyName }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <p></p>

                        <mat-form-field>
                            <mat-select placeholder="ID Field" [(ngModel)]="layer.idField"
                                        required="true" (ngModelChange)="handleChangeFilterField(layer)"
                                        [disabled]="layer.fields.length == 0">
                                <mat-option *ngFor="let field of layer.fields"
                                            [value]="field">{{ field.prettyName }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <p></p>

                        <mat-form-field>
                            <mat-select placeholder="Latitude Field" [(ngModel)]="layer.latitudeField"
                                        required="true" (ngModelChange)="handleChangeFilterField(layer)"
                                        [disabled]="layer.fields.length == 0">
                                <mat-option *ngFor="let field of layer.fields"
                                            [value]="field">{{ field.prettyName }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <p></p>

                        <mat-form-field>
                            <mat-select placeholder="Longitude Field" [(ngModel)]="layer.longitudeField"
                                        required="true" (ngModelChange)="handleChangeFilterField(layer)"
                                        [disabled]="layer.fields.length == 0">
                                <mat-option *ngFor="let field of layer.fields"
                                            [value]="field">{{ field.prettyName }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <p></p>

                        <mat-form-field>
                            <mat-select placeholder="Color Field" [(ngModel)]="layer.colorField"
                                        (ngModelChange)="handleChangeData(layer)" [disabled]="layer.fields.length == 0">
                                <mat-option [value]="createEmptyField()">(None)</mat-option>
                                <mat-option *ngFor="let field of layer.fields"
                                            [value]="field">{{ field.prettyName }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <p></p>

                        <span class="toggle-text">Coordinates on Point Hover:</span>
                        <mat-button-toggle-group class="neon-button-toggle-group-small" [(ngModel)]="options.showPointDataOnHover"
                        (ngModelChange)="handleChangeData()">
                            <mat-button-toggle [value]="true">Show</mat-button-toggle>
                            <mat-button-toggle [value]="false">Hide</mat-button-toggle>
                        </mat-button-toggle-group>
                        <p></p>

                        <mat-form-field>
                            <mat-select placeholder="Hover Popup Field" [(ngModel)]="layer.hoverPopupField"
                                        (ngModelChange)="handleChangeData(layer)" [disabled]="layer.fields.length == 0">
                                <mat-option [value]="createEmptyField">(None)</mat-option>
                                <mat-option *ngFor="let field of layer.fields"
                                            [value]="field">{{ field.prettyName }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <p></p>
                    </div>
                    <p></p>
                </div>

                <mat-form-field>
                    <mat-select placeholder="Map Type" [ngModel]="options.type" (ngModelChange)="handleChangeMapType($event)">
                        <mat-option *ngFor="let type of mapTypes" [value]="type.value">{{ type.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <div mat-fill class="flex center">
                    <mat-form-field>
                        <input matInput placeholder="Point Limit" [(ngModel)]="newLimit" required="true" (keyup.enter)="handleChangeLimit()">
                    </mat-form-field>

                    <button mat-icon-button aria-label="Refresh" matTooltip="Refresh" tooltip-position="below" (click)="handleChangeLimit()">
                        <mat-icon>refresh</mat-icon>
                    </button>
                </div>
                <p></p>

                <app-export-control [widgets]="this"></app-export-control>
            </mat-card-content>
        </mat-card>
    </mat-sidenav>

    <div class="body-container" (click)="stopEventPropagation($event)">
        <div class="map-container" (click)="stopEventPropagation($event)" mouseWheel (mouseWheelUp)="mouseWheelUp($event)" (mouseWheelDown)="mouseWheelDown($event)">
            <div #mapOverlay class="overlay"> {{ getOverlayText() }} </div>
            <div #mapElement id="mapElement" (click)="stopEventPropagation($event)"></div>
            <div class="map-selection" *ngIf="false" [ngStyle]="{'width.px': selection.width, 'height.px': selection.height, 'left.px':selection.x, 'top.px':selection.y}"></div>
        </div>

        <div class=" legend-container ">
            <div *ngIf="!options.singleColor">
                <app-legend [colorKeys]="colorKeys" [disabledSets]="disabledSet" (itemSelected)="legendItemSelected($event)"></app-legend>
            </div>

            <div class="filter-reset" *ngFor="let filter of getCloseableFilters() ">
                <span class="filter-label" tooltip-position="below" [matTooltip]="getFilterText(filter) + getFilterDetail()">Map Filter</span>
                <button mat-icon-button class="neon-icon-button-small" aria-label="Close" tooltip-position="below"
                        [matTooltip]="'Delete Filter ' + getFilterText(filter)" (click)="handleRemoveFilter(filter)">
                    <mat-icon class="neon-icon-small">close</mat-icon>
                </button>
            </div>
        </div>
    </div>
</mat-sidenav-container>
