<md-sidenav-container class="visualization-sidenav" [class.neon-green-dark-theme]="themesService.getCurrentTheme().id === 'neon-green-dark-theme'">
    <md-toolbar color="header" layout-align="space-between center" flex>
        <div class="header text pull-left" [title]="createTitle()">{{ createTitle() }}</div>
        <span class="fill-remaining"></span>
        <span class="text" title="Open/Close the Options Menu">{{ getButtonText() }}</span>
        <button md-icon-button aria-label="Settings" md-tooltip="Open/Close the Options Menu" tooltip-position="below" (click)="optionsMenu.toggle();">
            <md-icon class="mat-24">settings</md-icon>
        </button>
    </md-toolbar>

    <md-sidenav #optionsMenu align="end" class="visualization-sidenav-options">
        <md-card align="left">
            <md-card-content>
                <label style="display: inline;" *ngIf="getButtonText()">
                    <md-icon class="error-icon">error</md-icon>
                    {{ getButtonText() }}
                </label>
                <p>
                    <a (click)="addEmptyLayer()">
                        <a md-mini-fab><md-icon>add</md-icon></a> Add Layer
                    </a>
                </p>
                <div *ngFor="let layer of meta.layers; let i = index">
                    <md-toolbar style="cursor: pointer;" (click)="toggleFilter(i)">
                        <span>{{active.layers[i].title}}</span>
                        <span class="toolbar-spacer"></span>
                        <md-icon *ngIf="meta.layers.length > 1" (click)="removeLayer(i)">delete</md-icon>
                        <md-icon>{{getIconForFilter(i)}}</md-icon>
                    </md-toolbar>
                    <div [hidden]="!filterVisible[i]" >
                        <md-input-container>
                            <input mdInput placeholder="Layer Name" [(ngModel)]="active.layers[i].title" required="true">
                        </md-input-container>
                        <br />

                        <md-select placeholder="Database" [(ngModel)]="meta.layers[i].database" required="true" (ngModelChange)="handleChangeDatabase(i)" [disabled]="meta.databases.length < 2">
                            <md-option *ngFor="let database of meta.databases" [value]="database">{{ database.prettyName }}</md-option>
                        </md-select>
                        <br />

                        <md-select placeholder="Table" [(ngModel)]="meta.layers[i].table" required="true" (ngModelChange)="handleChangeTable(i)" [disabled]="meta.layers[i].tables.length < 2">
                            <md-option *ngFor="let table of meta.layers[i].tables" [value]="table">{{ table.prettyName }}</md-option>
                        </md-select>
                        <br />

                        <md-select placeholder="Latitude Field" [(ngModel)]="active.layers[i].latitudeField" required="true" (ngModelChange)="handleChangeLatitudeField(i)"
                            [disabled]="meta.layers[i].fields.length == 0">
                            <md-option *ngFor="let field of meta.layers[i].fields" [value]="field">{{ field.prettyName }}</md-option>
                        </md-select>
                        <br />

                        <md-select placeholder="Longitude Field" [(ngModel)]="active.layers[i].longitudeField" required="true" (ngModelChange)="handleChangeLongitudeField(i)"
                            [disabled]="meta.layers[i].fields.length == 0">
                            <md-option *ngFor="let field of meta.layers[i].fields" [value]="field">{{ field.prettyName }}</md-option>
                        </md-select>
                        <br />

                        <md-select placeholder="Color Field" [(ngModel)]="active.layers[i].colorField" required="true" (ngModelChange)="handleChangeColorField(i)"
                            [disabled]="meta.layers[i].fields.length == 0">
                            <md-option *ngFor="let field of meta.layers[i].fields" [value]="field">{{ field.prettyName }}</md-option>
                        </md-select>
                    </div>
                </div>
                <table cellspacing="0">
                    <tr>
                        <td>
                            <md-input-container>
                                <input mdInput placeholder="Text Limit" [(ngModel)]="active.limit" required="true">
                            </md-input-container>
                        </td>
                        <td>
                            <button md-icon-button aria-label="Refresh" md-tooltip="Refresh" tooltip-position="below" (click)="handleChangeLimit()">
                                <md-icon class="mat-24">refresh</md-icon>
                            </button>
                        </td>
                    </tr>
                </table>
                <p></p>

                <app-export-control [exportId]="exportId"></app-export-control>
            </md-card-content>
        </md-card>
    </md-sidenav>
    <div class="body-container" (click)="stopEventPropagation($event)">
        <div class="map-container" (click)="stopEventPropagation($event)">

            <div #cesiumContainer id="cesiumContainer" (click)="stopEventPropagation($event)"></div>
            <div class="map-selection" *ngIf="selection.showSelection" [ngStyle]="{'width.px': selection.width, 'height.px': selection.height, 'left.px':selection.x, 'top.px':selection.y}"></div>
        </div>
        <div class=" legend-container " style="">
            <div>
                <app-legend [fieldNames]="colorByFields"></app-legend>
            </div>
            <div class="filter-reset " *ngFor="let value of getCloseableFilters() ">
                <span class="filter-label " [title]="getFilterTitle(value) ">{{ getFilterCloseText(value) }}</span>
                <button md-icon-button aria-label="Close " [md-tooltip]="getRemoveFilterTooltip(value) " tooltip-position="below" (click)="handleRemoveFilter(value)">
                    <md-icon class="mat-18 ">close</md-icon>
                  </button>
            </div>
        </div>
    </div>
</md-sidenav-container>
