
<mat-sidenav-container #visualization class="visualization-sidenav" [class.neon-green-dark-theme]="themesService.getCurrentTheme().id === 'neon-green-dark-theme'">
    <mat-toolbar class="neon-toolbar-thin" color="header" layout-align="space-between center" flex>
            <mat-tab-group (selectedTabChange)="selectionChange($event)">
                <mat-tab  class="header text" *ngFor="let routeLink of options.routeLinks;
                trackBy:trackByFunction" label="{{routeLink.label}}">
                </mat-tab>
            </mat-tab-group>
    </mat-toolbar>

    <div [class.loading-overlay]="isLoading" [class.not-loading-overlay]="!isLoading">
        <mat-spinner></mat-spinner>
    </div>
    <div class="body-container">
        <div class="display-container" *ngFor="let routeLink of options.routeLinks; trackBy:trackByFunction">
            <div  class="max-height-container" [hidden]="currentTab.label !== routeLink.label">
<!--                <iframe width="100%"height="100%" [src]="sanitize(routeLink.link)">
                    <app-network-graph [argOptions] = "routeLink.bindings"></app-network-graph>
                </iframe>-->
                <app-network-graph></app-network-graph>

            </div>

<!--            <div [hidden]="currentTab.label !== routeLink.label" [ngSwitch]="routeLink.component">
                <app-network-graph *ngSwitchCase="app-network-graph" ></app-network-graph>

                <app-map *ngSwitchCase="app-map"></app-map>

                <app-thumbnail-grid *ngSwitchCase="app-thumbnail-grid"></app-thumbnail-grid>
            </div>-->
        </div>

    </div>
</mat-sidenav-container>

