<md-sidenav-container class="visualization-sidenav" [class.neon-green-dark-theme]="themesService.getCurrentTheme().id === 'neon-green-dark-theme'">
    <md-toolbar color="header" layout-align="space-between center" flex>
        <div class="header text pull-left" [title]="createTitle()">{{ createTitle() }}</div>
        <span class="fill-remaining"></span>
        <span class="text" title="Open/Close the Options Menu">{{ getButtonText() }}</span>
        <button md-icon-button aria-label="Settings" md-tooltip="Open/Close the Options Menu" tooltip-position="below" (click)="optionsMenu.toggle();">
            <md-icon class="mat-24">settings</md-icon>
        </button>
    </md-toolbar>

    <md-sidenav #optionsMenu align="end" class="visualization-sidenav-options">
        <md-card align="left">
            <md-card-content>
                <label style="display: inline;">
                    <md-icon class="error-icon">error</md-icon>
                    {{ getButtonText() }}
                </label>
                <p></p>

                <md-select placeholder="Database" [(ngModel)]="meta.database" required="true" (ngModelChange)="handleChangeDatabase()" [disabled]="meta.databases.length < 2">
                    <md-option *ngFor="let database of meta.databases" [value]="database">{{ database.prettyName }}</md-option>
                </md-select>
                <p></p>

                <md-select placeholder="Table" [(ngModel)]="meta.table" required="true" (ngModelChange)="handleChangeTable()" [disabled]="meta.tables.length < 2">
                    <md-option *ngFor="let table of meta.tables" [value]="table">{{ table.prettyName }}</md-option>
                </md-select>
                <p></p>

                <md-select placeholder="Text Field" [(ngModel)]="active.dataField" required="true" (ngModelChange)="handleChangeDataField()"
                    [disabled]="meta.fields.length == 0">
                    <md-option *ngFor="let field of meta.fields" [value]="field">{{ field.prettyName }}</md-option>
                </md-select>
                <p></p>

                <md-select placeholder="Size Field" [(ngModel)]="active.sizeField"
                           (ngModelChange)="handleChangeSizeField()" [disabled]="meta.fields.length == 0">
                    <md-option [value]="emptyField">(None)</md-option>
                    <md-option *ngFor="let field of meta.fields" [value]="field">{{ field.prettyName }}</md-option>
                </md-select>
                <p></p>

                <md-select placeholder="Size Aggregation" [(ngModel)]="sizeAggregation"
                           (ngModelChange)="handleChangeSizeField()" [disabled]="meta.fields.length == 0"
                            *ngIf="active.sizeField.columnName != ''">
                    <md-option *ngFor="let aggregation of sizeAggregationTypes" [value]="aggregation.value">{{ aggregation.name }}</md-option>
                </md-select>
                <p></p>

                <table cellspacing="0">
                    <tr>
                        <td>
                            <md-input-container>
                                <input mdInput placeholder="Text Limit" [(ngModel)]="active.limit" required="true">
                            </md-input-container>
                        </td>
                        <td>
                            <button md-icon-button aria-label="Refresh" md-tooltip="Refresh" tooltip-position="below" (click)="handleChangeLimit()">
                                <md-icon class="mat-24">refresh</md-icon>
                            </button>
                        </td>
                    </tr>
                </table>
                <p></p>

                <md-toolbar class="mat-primary">
                    <span>Show Records With</span>
                </md-toolbar>
                <md-button-toggle-group name="filters" [(ngModel)]="active.andFilters" (change)="handleChangeAndFilters()">
                    <md-button-toggle [value]="true">All Filters</md-button-toggle>
                    <md-button-toggle [value]="false">Any Filters</md-button-toggle>
                </md-button-toggle-group>
                <p></p>

                <app-unshared-filter [(meta)]="meta"
                    (unsharedFilterChanged)="unsharedFilterChanged()"
                    (unsharedFilterRemoved)="unsharedFilterRemoved()"></app-unshared-filter>

                <app-export-control [exportId]="exportId"></app-export-control>
            </md-card-content>
        </md-card>
    </md-sidenav>
    <div [class.loading-overlay]="isLoading" [class.not-loading-overlay]="!isLoading">
        <md-spinner ></md-spinner>
    </div>
    <div class="filter-reset" *ngFor="let value of getFilterData()">
        <span class="filter-label" [title]="createFilterDesc(value)">{{ createFilterText(value) }}</span>
        <button md-icon-button aria-label="Close" [md-tooltip]="getRemoveDesc(value)" tooltip-position="below" (click)="removeLocalFilterFromLocalAndNeon(value, true, false)">
            <md-icon class="mat-18">close</md-icon>
        </button>
    </div>

    <div class="text-cloud" md-fill layout="col">
        <a (click)="onClick(item)" class="text" *ngFor="let item of active.data" title="{{item.value}}" [rel]="item.count" [ngStyle]="{'color': item.color, 'font-size': item.fontSize}">{{ item.key }}</a>
    </div>
</md-sidenav-container>
