<div class="about-container">
    <p>
        The Neon Dashboard is a highly configurable, open-source data analysis application that allows users to explore massive, complex
        datasets using a collection of data visualization widgets in a common web-based environment. The Neon Dashboard is powered by the
        Next Century Component Library, an open-source JavaScript library that offers aggregated search and filter behavior along with
        customizable data visualization components that operate directly on your own datastores and integrate into any JavaScript
        application.
    </p>
    <p><a href="https://github.com/NextCenturyCorporation/neon-dash-internal" target="_blank">Click here to visit our website</a></p>
    <p><img class="center" src="./assets/icons/dashboard/ncc_logo.png"></p>

    <hr>

    <div class="about-subheader">
        <H2>Technical Information</H2>
    </div>
    <p>Neon Dash Last Build Date: {{ dashBuildDate }}</p>
    <p>Neon Dash GIT Commit ID: {{ dashGitCommit }}</p>
    <p>Neon Server Last Build Date: {{ serverBuildDate }}</p>
    <p>Neon Server GIT Commit ID: {{ serverGitCommit }}</p>

    <hr>

    <div #customAboutTextDiv></div>
</div>
