<div class="about-container" align="left">
   <div class="subheader">Neon Framework</div>
   <div class="about-body-container">
        <p><a href="http://www.neonframework.org" target="_blank">www.neonframework.org</a></p>
        <p>Neon is an open-source framework used to develop custom data analysis applications. It is designed to help integrate your visualizations with your data. The Neon framework can incorporate a variety of data analysis and visualization widgets in a common webtop environment to allow analysts to explore complex data sets.</p>

        <div class="subheader">Installed Versions:</div>
        <ul>
            <li>Neon&nbsp;&nbsp;{{ serverVersionString }}</li>
            <li>Neon Dashboard&nbsp;&nbsp;{{ neonGTDVersionString }}</li>
        </ul>

        <p>For more information about Neon, please visit the <a href="http://www.neonframework.org" target="_blank">Neon Framework Page</a> or view the <a href="https://github.com/nextcenturycorporation/neon" target="_blank">Github Project</a>.</p>
    </div>
</div>
