<div class="header-container" ng-show="!(hideHeader)">
    <span class="header-text pull-left">{{options.table.prettyName}}</span>
    <options-menu parent-element="element" export-function="" ng-show="!(hideAdvancedOptions)">
        <div class="form-group">
            <label>Database</label>
            <select class="form-control" ng-model="options.database" ng-options="database.prettyName for database in databases" ng-required="true" ng-disabled="(databases.length < 2)" ng-change="updateTables()">
            </select>
        </div>
        <div class="form-group">
            <label>Table</label>
            <select class="form-control" ng-model="options.table" ng-options="table.prettyName for table in tables" ng-required="true" ng-disabled="(tables.length < 2)" ng-change="updateFields()">
            </select>
        </div>
        <div class="form-group">
            <label>X Attr (Sentiment)</label>
            <select class="form-control" ng-model="options.attrX" ng-options="field.prettyName for field in fields track by field.columnName" ng-required="true" ng-disabled="!(fields.length > 0)" ng-change="updateAttrX()">
            </select>
        </div>
        <div class="form-group">
            <label>Y Attr (Arousal)</label>
            <select class="form-control" ng-model="options.attrY" ng-options="field.prettyName for field in fields" ng-required="true" ng-disabled="!(fields.length > 0)" ng-change="updateAttrY()">
            </select>
        </div>
        <div class="form-group limit-count-field">
            <label>Point Limit</label>
            <div class="input-group">
                <input type="number" min="1" class="form-control" ng-model="options.limitCount" required>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default refresh" title="Refresh" ng-click="queryForData()">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                </div>
            </div>
        </div>
    </options-menu>
    <span class="header-text pull-right limit-text" ng-show="data.length >= options.limitCount" ng-bind="options.limitCount + ' point limit'"></span>
</div>

<div class="clearfix"></div>

<div class="header-container filter-container" ng-show="data.length === 0 || colorMappings.length > 1 || filteredNodes > 0">
    <div class="legend">
        <div class="filter-reset pull-right" ng-show="filteredNodes.length > 0" title="Filtered Tweets">
            <span class="filter-label">Filter</span>
            <span class="glyphicon glyphicon-remove" ng-click="clearFilters()"></span>
        </div>

        <div class="legend-item legend-item-clickable" title="{{colorMapping.series}} {{getLegendItemAggregationText(colorMapping)}}" ng-repeat="colorMapping in colorMappings" ng-click="toggleSeries(colorMapping.series)" ng-class="{true: 'legend-hidden', false: ''}[colorMapping.hidden]" ng-show="colorMappings.length > 1">
            <span class="legend-icon" style="background-color: {{colorMapping.color}}"></span>
            <span class="legend-text">{{colorMapping.series}}</span>
            <span class="legend-text legend-text-small">{{getLegendItemAggregationText(colorMapping)}}</span>
        </div>

        <span class="no-data pull-left" ng-show="data.length === 0">No data for current filters.</span>
    </div>
</div>

<div class="clearfix"></div>

<div class="scatterplot"></div>
