<mat-toolbar class="neon-toolbar-thin" layout-align="space-between center" flex>
    <div #headerText class="header text pull-left" [matTooltip]="options.title" tooltip-position="below">
        {{ options.title }}
    </div>
    <span class="fill-remaining"></span>
    <span #infoText class="info text">
        <span class="error-message" *ngIf="errorMessage" [matTooltip]="errorMessage" tooltip-position="below">
            {{ errorMessage }}
        </span>
        <span *ngIf="!errorMessage" class="data-info" [matTooltip]="getButtonText()" tooltip-position="below">
            {{ getButtonText() }}
        </span>
    </span>
</mat-toolbar>

<div [class.loading-overlay]="loadingCount > 0" [class.not-loading-overlay]="loadingCount == 0">
    <mat-spinner></mat-spinner>
</div>

<app-data-message *ngIf="showNoData"></app-data-message>

<div class="body-container">
    <div #taxonomyViewer class="taxonomy-viewer-container">
        <tree-root #treeRoot [nodes]="taxonomyGroups" [options]="testOptions">
            <ng-template #treeNodeFullTemplate let-node let-index="index" let-templates="templates">
                <div [ngClass]="setClassForTreePosition(node, 'tree-node tree-node-level-')" [class]="node.getClass()">
                    <div class="node-wrapper" [style.padding-left]="node.getNodePadding()">
                        <tree-node-expander [node]="node"></tree-node-expander>
                        <div class="node-content-wrapper" (click)="node.mouseAction('click', $event)"
                            (dblclick)="node.mouseAction('dblClick', $event)" [class.node-content-wrapper-active]="node.isActive"
                            [class.node-content-wrapper-focused]="node.isFocused">
                            <div *ngIf="node.data.description != options.valueField.columnName">
                                <input (change)="checkRelatedNodes( node, $event)" type="checkbox" [indeterminate]="node.data.indeterminate"
                                    [checked]="node.data.checked">
                                <span>{{ node.data.name }}
                                    <span *ngIf="node.data.nodeCount > 0"> ({{ node.data.nodeCount }})</span>
                                </span>
                            </div>
                            <div *ngIf="node.data.description === options.valueField.columnName">
                                <span>{{ node.data.name }}<span *ngIf="node.data.nodeCount > 0"></span></span>
                            </div>
                        </div>
                    </div>
                    <tree-node-children [node]="node" [templates]="templates"></tree-node-children>
                </div>
            </ng-template>
        </tree-root>
    </div>
</div>

<div class="contribution-text" *ngIf="showContribution()">
    <div class="contribution-text-container">
        <a (click)="openContributionDialog()">
            {{ getContributorAbbreviations() }}
        </a>
    </div>
</div>
