<mat-sidenav-container #visualization class="visualization-sidenav">
    <mat-toolbar class="neon-toolbar-thin" color="header" layout-align="space-between center" flex>
        <div #headerText class="header text pull-left" [matTooltip]="options.title" tooltip-position="below">{{ options.title }}
        </div>
        <span class="fill-remaining"></span>
        <span #infoText class="info text">
            <span class="error-message" *ngIf="errorMessage" [matTooltip]="errorMessage" tooltip-position="below">
                {{ errorMessage }}
            </span>
            <span *ngIf="!errorMessage" class="data-info" [matTooltip]="getButtonText()" tooltip-position="below">
                {{ getButtonText() }}
            </span>
        </span>
        <button mat-icon-button aria-label="Settings" matTooltip="Open/Close the Options Menu" tooltip-position="below"
                (click)="optionsMenu.toggle();">
            <mat-icon>settings</mat-icon>
        </button>
    </mat-toolbar>

    <mat-sidenav #optionsMenu align="end" class="visualization-sidenav-options">
        <mat-card align="left">
            <mat-card-content>
                <div *ngIf="errorMessage">
                    <label class="icon-with-text error-message" [matTooltip]="errorMessage" tooltip-position="below">
                        <mat-icon class="neon-icon-small">error</mat-icon>
                        <span>{{ errorMessage }}</span>
                    </label>
                    <p></p>
                </div>

                <div *ngIf="getButtonText()">
                    <label class="icon-with-text data-info" [matTooltip]="getButtonText()" tooltip-position="below">
                        <mat-icon class="neon-icon-small">info</mat-icon>
                        <span>{{ getButtonText() }}</span>
                    </label>
                    <p></p>
                </div>

                <mat-form-field>
                    <input matInput placeholder="Title" [(ngModel)]="options.title" required="false">
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Database" [(ngModel)]="options.database" required="true"
                                (ngModelChange)="handleChangeDatabase()" [disabled]="options.databases.length < 2">
                        <mat-option *ngFor="let database of options.databases" [value]="database">{{ database.prettyName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Table" [(ngModel)]="options.table" required="true"
                                (ngModelChange)="handleChangeTable()" [disabled]="options.tables.length < 2">
                        <mat-option *ngFor="let table of options.tables" [value]="table">{{ table.prettyName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Root Field" [(ngModel)]="options.categoryField" required="true"
                                (ngModelChange)="handleChangeData()" [disabled]="options.fields.length < 1">
                        <mat-option [value]="createEmptyField()">(None)</mat-option>
                        <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Node Field" [(ngModel)]="options.typeField" required="false"
                                (ngModelChange)="handleChangeData()" [disabled]="options.fields.length < 1">
                        <mat-option [value]="createEmptyField()">(None)</mat-option>
                        <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Leaf Field" [(ngModel)]="options.valueField" required="false"
                                (ngModelChange)="handleChangeData()" [disabled]="options.fields.length < 1">
                        <mat-option [value]="createEmptyField()">(None)</mat-option>
                        <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Filter Field" [(ngModel)]="options.filterFields" required="false"
                                (ngModelChange)="handleChangeData()" [disabled]="options.fields.length < 1">
                        <mat-option [value]="createEmptyField()">(None)</mat-option>
                        <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="ID Field" [(ngModel)]="options.idField" required="false"
                                (ngModelChange)="handleChangeData()" [disabled]="options.fields.length < 1">
                        <mat-option [value]="createEmptyField()">(None)</mat-option>
                        <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <!--TODO: Implement sub-child THOR-908
                <mat-form-field>
                                    <mat-select placeholder="Sub-child Field" [(ngModel)]="options.subTypeField" required="false" (ngModelChange)="handleChangeData()" [disabled]="options.fields.length < 1">
                        <mat-option [value]="emptyField">(None)</mat-option>
                        <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                                <p></p>-->

                <span class="toggle-text">Sort:</span>
                <mat-button-toggle-group class="neon-button-toggle-group-small" [(ngModel)]="options.ascending"
                                         (ngModelChange)="handleChangeData()">
                    <mat-button-toggle [value]="true">Ascending</mat-button-toggle>
                    <mat-button-toggle [value]="false">Descending</mat-button-toggle>
                </mat-button-toggle-group>
                <p></p>

                <app-export-control [widgets]="this"></app-export-control>
            </mat-card-content>
        </mat-card>
    </mat-sidenav>

    <div [class.loading-overlay]="loadingCount > 0" [class.not-loading-overlay]="loadingCount == 0">
        <mat-spinner></mat-spinner>
    </div>

    <div class="body-container">
        <div #taxonomyViewer class="taxonomy-viewer-container">
            <tree-root #treeRoot [nodes]="taxonomyGroups" [options]="testOptions">
                <ng-template #treeNodeFullTemplate let-node let-index="index" let-templates="templates">
                    <div [ngClass]="setClassForTreePosition(node, 'tree-node tree-node-level-')" [class]="node.getClass()">
                        <div class="node-wrapper" [style.padding-left]="node.getNodePadding()">
                            <tree-node-expander [node]="node"></tree-node-expander>
                            <div class="node-content-wrapper" (click)="node.mouseAction('click', $event)"
                                 (dblclick)="node.mouseAction('dblClick', $event)"
                                 [class.node-content-wrapper-active]="node.isActive"
                                 [class.node-content-wrapper-focused]="node.isFocused">
                                <div *ngIf="node.data.description != options.valueField.columnName">
                                    <input
                                        (change)="checkRelatedNodes( node, $event)"
                                        type="checkbox"
                                        [indeterminate]="node.data.indeterminate"
                                        [checked]="node.data.checked">
                                    <span>{{ node.data.name }}
                                        <span *ngIf="node.data.nodeCount > 0"> ({{ node.data.nodeCount }})</span>
                                    </span>
                                </div>
                                <div *ngIf="node.data.description === options.valueField.columnName">
                                    <span>{{ node.data.name }}<span *ngIf="node.data.nodeCount > 0"></span></span>
                                </div>
                            </div>
                        </div>
                        <tree-node-children [node]="node" [templates]="templates"></tree-node-children>
                    </div>
                </ng-template>
            </tree-root>
        </div>
    </div>

</mat-sidenav-container>
