<mat-sidenav-container #visualization class="visualization-sidenav">
    <mat-toolbar class="neon-toolbar-thin" color="header" layout-align="space-between center" flex>
        <div #headerText class="header text pull-left" [matTooltip]="options.title" tooltip-position="below">{{ options.title }}
        </div>
        <span class="fill-remaining"></span>
        <span #infoText class="info text">
            <span class="error-message" *ngIf="errorMessage" [matTooltip]="errorMessage" tooltip-position="below">
                {{ errorMessage }}
            </span>
            <span *ngIf="!errorMessage" class="data-info" [matTooltip]="getButtonText()" tooltip-position="below">
                {{ getButtonText() }}
            </span>
        </span>
        <button mat-icon-button aria-label="Settings" matTooltip="Open/Close the Options Menu" tooltip-position="below" (click)="toggleGear();">
            <mat-icon>settings</mat-icon>
        </button>
    </mat-toolbar>

    <div [class.loading-overlay]="loadingCount > 0" [class.not-loading-overlay]="loadingCount == 0">
        <mat-spinner></mat-spinner>
    </div>

    <div class="body-container" [class.with-contribution]="showContribution()">
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                <div class="mat-tree-node leaf-node level-{{node.level}}">
                    <label>
                        <input type="checkbox" [checked]="node.checked" (change)="checkRelatedNodes( node, $event.target)"
                            [class.indeterminate]="!!node.indeterminate">
                        {{node.name}}
                        <span *ngIf="node.duplicateLabel">[{{node.externalId}}]</span>
                        <span *ngIf="node.count">({{ node.count }})</span>
                    </label>
                </div>
            </mat-tree-node>
            <!-- This is the tree node template for expandable nodes -->
            <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                <div class="mat-tree-node level-{{node.level}}">
                    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name" [disableRipple]="true">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </button>
                    <label>
                        <input type="checkbox" [checked]="node.checked" (change)="checkRelatedNodes( node, $event.target)"
                            [class.indeterminate]="!!node.indeterminate">
                        {{node.name}} <span span *ngIf="node.count">({{ node.count }})</span>
                    </label>
                </div>
                <div class="children" [class.scrollable]="node.level > 1 && node.children.length > 10">
                    <ng-container *ngIf="treeControl.isExpanded(node)" matTreeNodeOutlet></ng-container>
                </div>
            </mat-nested-tree-node>
        </mat-tree>
    </div>

    <div class="contribution-text" *ngIf="showContribution()">
        <div class="contribution-text-container">
            <a (click)="openContributionDialog()">
                {{ getContributorAbbreviations() }}
            </a>
        </div>
    </div>
</mat-sidenav-container>
