<md-sidenav-container class="visualization-sidenav" [class.neon-green-dark-theme]="themesService.getCurrentTheme().id === 'neon-green-dark-theme'">
    <md-toolbar color="primary" layout-align="space-between center" flex>
        <div class="header text pull-left" [title]="createTitle()">{{ createTitle() }}</div>
        <span class="fill-remaining"></span>
        <span class="text" title="Open/Close the Options Menu">{{ getButtonText() }}</span>
        <button md-icon-button aria-label="Settings" md-tooltip="Open/Close the Options Menu" tooltip-position="below" (click)="optionsMenu.toggle();">
            <md-icon class="mat-24">settings</md-icon>
        </button>
    </md-toolbar>

    <md-sidenav #optionsMenu align="end" class="visualization-sidenav-options">
        <md-card align="left">
            <md-card-content>
                <label style="display: inline;" *ngIf="getButtonText()">
                    <md-icon class="error-icon">error</md-icon>
                    {{ getButtonText() }}
                </label>
                <p></p>

                <md-select placeholder="Database" [(ngModel)]="meta.database" required="true" (ngModelChange)="handleChangeDatabase()" [disabled]="meta.databases.length < 2">
                    <md-option *ngFor="let database of meta.databases" [value]="database">{{ database.prettyName }}</md-option>
                </md-select>
                <p></p>

                <md-select placeholder="Table" [(ngModel)]="meta.table" required="true" (ngModelChange)="handleChangeTable()" [disabled]="meta.tables.length < 2">
                    <md-option *ngFor="let table of meta.tables" [value]="table">{{ table.prettyName }}</md-option>
                </md-select>
                <p></p>

                <md-select placeholder="Date Field" [(ngModel)]="active.dateField" required="true" (ngModelChange)="handleChangeDateField()"
                    [disabled]="meta.fields.length == 0">
                    <md-option *ngFor="let field of meta.fields" [value]="field">{{ field.prettyName }}</md-option>
                </md-select>
                <p></p>

                <md-button-toggle-group #hourGranularity="mdButtonToggleGroup" [(ngModel)]="active.granularity" (ngModelChange)="handleChangeGranularity()">
                    <md-button-toggle value="year">
                        Year
                    </md-button-toggle>
                    <md-button-toggle value="month">
                        Month
                    </md-button-toggle>
                    <md-button-toggle value="day">
                        Day
                    </md-button-toggle>
                    <md-button-toggle value="hour">
                        Hour
                    </md-button-toggle>
                </md-button-toggle-group>
                <!--
                <table cellspacing="0">
                    <tr>
                        <td>
                            <input mdInput  placeholder="Text Limit" [(ngModel)]="active.limit" required="true"></input>
                        </td>
                        <td>
                            <button md-icon-button aria-label="Refresh" md-tooltip="Refresh" tooltip-position="below" (click)="handleChangeLimit()">
                                <md-icon class="mat-24">refresh</md-icon>
                            </button>
                        </td>
                    </tr>
                </table>
                <p></p>-->

                <!--<table cellspacing="0">
                    <tr>
                        <td>
                            <input mdInput  placeholder="Text Limit" [(ngModel)]="active.limit" required="true">
                        </td>
                        <td>
                            <button md-icon-button aria-label="Refresh" md-tooltip="Refresh" tooltip-position="below" (click)="handleChangeLimit()">
                                <md-icon class="mat-24">refresh</md-icon>
                            </button>
                        </td>
                    </tr>
                </table>
                <p></p>-->

                <!--<md-toolbar class="mat-primary">
                    <span>Show Records With</span>
                </md-toolbar>
                <md-button-toggle-group name="filters" [(ngModel)]="active.andFilters" (change)="handleChangeAndFilters()">
                    <md-button-toggle [value]="true">All Filters</md-button-toggle>
                    <md-button-toggle [value]="false">Any Filters</md-button-toggle>
                </md-button-toggle-group>
                <p></p>
                -->

                <!--
                <md-toolbar class="mat-primary">
                    <span>Unshared Filter</span>
                </md-toolbar>
                <md-select placeholder="Filter Field" [(ngModel)]="meta.unsharedFilterField" required="false" [disabled]="meta.fields.length === 0" (ngModelChange)="handleChangeUnsharedFilterField()">
                    <md-option *ngFor="let field of meta.fields" [value]="field">{{ field.prettyName }}</md-option>
                </md-select>
                <p></p>
                <table cellspacing="0">
                    <tr>
                        <td>
                            <input mdInput [placeholder]="'Filter for ' + meta.unsharedFilterField.prettyName + '...'" [(ngModel)]="meta.unsharedFilterValue" [disabled]="!(meta.unsharedFilterField.columnName)"></input>
                        </td>
                        <td>
                            <button md-icon-button md-tooltip="Remove Unshared Filter" tooltip-position="below" (click)="handleRemoveUnsharedFilter()" [disabled]="(meta.unsharedFilterField.columnName == undefined || meta.unsharedFilterValue == '')">
                                <md-icon class="mat-16">clear</md-icon>
                            </button>
                        </td>
                        <td>
                            <button md-icon-button md-tooltip="Set Unshared Filter" tooltip-position="below" (click)="handleChangeUnsharedFilterValue()">
                                <md-icon class="mat-16">refresh</md-icon>
                            </button>
                        </td>
                    </tr>
                </table>
                <p></p>
              -->

                <!--
                <button md-raised-button color="primary" class="export" (click)="requestExport()">
                    Export to File
                </button>
              -->
            </md-card-content>
        </md-card>
    </md-sidenav>
    <div class="body-container">
        <div class="text-container">
            <div class="filter-reset" *ngFor="let value of getCloseableFilters()">
                <span class="filter-label" [title]="getFilterTitle(value)">{{ getFilterCloseText(value) }}</span>
                <button md-icon-button aria-label="Close" [md-tooltip]="getRemoveFilterTooltip(value)" tooltip-position="below" (click)="removeLocalFilterFromLocalAndNeon(value, true)">
            <md-icon class="mat-18">close</md-icon>
        </button>
            </div>
        </div>
        <!--<div class="chart-container top-chart-container" (click)="stopEventPropagation($event)">
            <chart class="chart" #filterChart [type]="filterChart.type" [data]="filterChart.data" [options]="filterChart.options">
            </chart>
        </div>
        <div class="chart-container bottom-chart-container" (click)="stopEventPropagation($event)">
            <div class="chart-selection" *ngIf="selection.mouseDown" [ngStyle]="{'width.px': selection.width, 'height.px': selection.height, 'left.px':selection.x, 'top.px':selection.y}"></div>
            <chart class="chart" #overviewChart [type]="overviewChart.type" [data]="overviewChart.data" [options]="overviewChart.options">
            </chart>
        </div>-->
    </div>
    <div #svg class="timeline-selector-chart"></div>
    <!--<div class="text-cloud" md-fill layout="col">
        <a (click)="addFilter(item.key, item.keyTranslated)" class="text" *ngFor="let item of active.data" [rel]="item.count"
            [ngStyle]="{'color': item.color, 'font-size': item.fontSize}">
                <div>
                    {{ item.key }}
                </div>
            </a>
    </div>-->
</md-sidenav-container>
