<mat-sidenav-container class="neon-sidenav" [ngClass]="colorThemeService.getTheme()">
    <mat-sidenav class="neon-sidenav neon-sidenav-info" mat-fill position="end" (closed)="currentPanel = ''">
        <div>
            <mat-toolbar class="title">
                <span>{{ rightPanelTitle }}</span>
            </mat-toolbar>
            <div class="right-panel-container" [ngSwitch]="currentPanel">
                <wt-lazy *ngSwitchCase="'aboutNeon'" [location]="{moduleId:'about-neon', selector: 'app-about-neon'}">
                </wt-lazy>
                <wt-lazy *ngSwitchCase="'addVis'" [location]="{moduleId: 'add-visualization', selector: 'app-add-visualization'}"></wt-lazy>
                <wt-lazy *ngSwitchCase="'customConnection'" [location]="{moduleId: 'custom-connection', selector: 'app-custom-connection'}">
                </wt-lazy>
                <wt-lazy *ngSwitchCase="'gear'" [location]="{moduleId:'gear', selector: 'app-gear'}"
                    [inputs]="{sideNavRight: sideNavRight, comp: configurableComponent }">
                </wt-lazy>
                <wt-lazy *ngSwitchCase="'savedState'" [location]="{moduleId:'save-state', selector: 'app-save-state'}"
                    [inputs]="{sidenav: sideNavRight, gridState: gridState }">
                </wt-lazy>
                <wt-lazy *ngSwitchCase="'settings'" [location]="{moduleId:'settings', selector: 'app-settings'}"
                    [inputs]="{widgets:widgets}">
                </wt-lazy>
                <wt-lazy *ngSwitchCase="'importData'" [location]="{moduleId:'import-data', selector: 'app-import-data'}"
                    [inputs]="{sideNavRight: sideNavRight}">
                </wt-lazy>
                <wt-lazy *ngSwitchCase="'customRequests'" [location]="{moduleId:'custom-requests', selector: 'app-custom-requests'}">
                </wt-lazy>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="neon-toolbar-navbar" color="primary" layout-align="space-between center" flex>
            <div *ngIf="currentDashboard">
                <div class="dashboard-name" matBadge="x" matBadgePosition="above after" [matBadgeHidden]="!dashboardService.state.modified"
                    matBadgeColor="accent" matBadgeOverlap="false" matBadgeSize="small">
                    {{ retrieveFullDashboardTitle(currentDashboard.fullTitle) }}
                </div>
            </div>
            <div *ngIf="!currentDashboard">Choose Dashboard...</div>
            <span class="fill-remaining"></span>
            <button mat-icon-button class="neon-icon-button-large notify" aria-label="Notifications" matBadgePosition="above before"
                [matBadgeHidden]="updatedData === 0" matBadgeColor="warn" [matBadge]="updatedData | abbreviate: 1" matBadgeSize="large"
                (click)="refreshDashboard()" matTooltip="Refresh Data" tooltip-position="below">
                <mat-icon class="neon-icon-large">notifications</mat-icon>
            </button>
            <button mat-icon-button class="neon-icon-button-large" aria-label="Add Visualization" tooltip-position="below"
                id="showVisualizationsShortcutButton" matTooltip="Add a New Visualization" (click)="setPanel('addVis', 'Visualization');"
                *ngIf="showVisualizationsShortcut">
                <mat-icon class="neon-icon-large">add_circle</mat-icon>
            </button>
            <div class="simple-search-container">
                <app-simple-search-filter></app-simple-search-filter>
            </div>
            <button mat-icon-button class="neon-icon-button-large" aria-label="Show Dashboard Selector" matTooltipPosition="below"
                matTooltip="Show Dashboard Selector" (click)="toggleDashboardSelectorDialog()">
                <mat-icon class="neon-icon-large">dashboard</mat-icon>
            </button>
            <button mat-icon-button class="neon-icon-button-large" aria-label="Show Filters" matTooltipPosition="below"
                id="showFilterTrayButton" matTooltip="Show Filters" (click)="toggleFiltersDialog()" *ngIf="showFilterTray">
                <mat-icon class="neon-icon-large filter-icon" svgIcon="neon_filter"></mat-icon>
            </button>
            <button mat-icon-button class="neon-icon-button-large" matTooltip="Dashboard Menu" matTooltipPosition="below"
                [matMenuTriggerFor]="appMenu">
                <mat-icon class="neon-icon-large">menu</mat-icon>
            </button>

            <mat-menu #appMenu="matMenu" [backdropClass]="colorThemeService.getTheme()" yPosition="below" [overlapTrigger]="false">
                <button mat-menu-item (click)="setPanel('addVis', 'Add Visualizations');">
                    <mat-icon>add_circle</mat-icon>Add Visualizations
                </button>
                <button mat-menu-item (click)="setPanel('savedState', 'Create or Save Dashboard');">
                    <mat-icon>save</mat-icon>Saved Dashboards
                </button>
                <button mat-menu-item (click)="setPanel('settings', 'Dashboard Settings');">
                    <mat-icon>settings</mat-icon>Dashboard Settings
                </button>
                <button mat-menu-item *ngIf="showCustomRequestsMenuItem()" (click)="setPanel('customRequests', '');">
                    <mat-icon>save_alt</mat-icon>{{ retrieveCustomRequestsDisplayLabel() }}
                </button>
                <button mat-menu-item *ngIf="showImport" (click)="setPanel('importData', 'Import CSV');">
                    <mat-icon>cloud_upload</mat-icon>Import CSV
                </button>
                <button mat-menu-item (click)="toggleGlobalMoving()">
                    <mat-icon>grid_on</mat-icon>{{globalMoveWidgets ? 'End ':''}}Layout Dashboard
                </button>
                <button mat-menu-item (click)="openNeonTools()">
                    <mat-icon>build</mat-icon>Neon Tools
                </button>
                <button mat-menu-item (click)="setPanel('aboutNeon', 'About');">
                    <mat-icon>info</mat-icon>About This Neon Dashboard
                </button>
            </mat-menu>
        </mat-toolbar>

        <app-current-filters></app-current-filters>

        <app-filters (closeDialog)="toggleFiltersDialog()" [class.visible]="showFiltersComponent"></app-filters>

        <app-dashboard-selector (closeComponent)="toggleDashboardSelectorDialog()" [class.visible]="showDashboardSelector">
        </app-dashboard-selector>

        <div class="neon-dash" mat-fill layout="col" #scrollable [class.moving]="movingWidgets || globalMoveWidgets">
            <mat-tab-group *ngIf="gridState.tabs.length > 1" [(selectedIndex)]="gridState.tabIndex">
                <mat-tab class="tab" *ngFor="let tab of gridState.tabs" [label]="tab.name"></mat-tab>
            </mat-tab-group>
            <div class="neon-wrapper">
                <div class="neon-grid">
                    <div [ngGrid]="gridConfig" #grid>
                        <div *ngFor="let widgetGridItem of gridState.activeWidgetList; let i = index;" [(ngGridItem)]="widgetGridItem"
                            name="widgetGridItem.id" id="widgetGridItem.id" (onResizeStart)="onResizeStart(i, $event)"
                            [contextMenu]="vizMenu" [contextMenuSubject]="widgetGridItem" (onResize)="onResize(i, $event)"
                            (onResizeStop)="onResizeStop(i, $event)" (onDragStop)="onDragStop(i, $event)"
                            [class.moving]="movingWidgets || globalMoveWidgets">
                            <app-visualization-container [moving]="movingWidgets || globalMoveWidgets" [visualization]="widgetGridItem">
                            </app-visualization-container>
                            <ng-content></ng-content>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<context-menu #vizMenu (mouseout)="vizMenu.close()">
    <ng-template contextMenuItem (execute)="showVizSettings($event.item)">
        <mat-icon>more_vert</mat-icon> Settings
    </ng-template>
    <ng-template contextMenuItem (execute)="refreshViz($event.item)">
        <mat-icon>refresh</mat-icon> Refresh
    </ng-template>
    <ng-template contextMenuItem divider="true"></ng-template>
    <ng-template contextMenuItem (execute)="deleteWidget($event.item)">
        <mat-icon color="warn">close</mat-icon> Delete
    </ng-template>
</context-menu>
