<mat-sidenav-container class="neon-sidenav" [ngClass]="widgetService.getTheme()">
    <mat-sidenav #sideNavRight class="neon-sidenav neon-sidenav-info" mat-fill position="end">
        <div>
            <mat-toolbar class="title" color="primary">
                <span>{{ rightPanelTitle }}</span>
            </mat-toolbar>

            <div class="right-panel-container">
                <div id="aboutNeon" class="about-neon-container" *ngIf="createAboutNeon">
                    <wt-lazy [location]="{moduleId:'about-neon', selector: 'app-about-neon'}"></wt-lazy>
                </div>
                <div id="addVis" class="add-visualization-container" *ngIf="createAddVis">
                    <wt-lazy [location]="{moduleId: 'add-visualization', selector: 'app-add-visualization'}">
                    </wt-lazy>
                </div>
                <div id="gear" class="gear-container" *ngIf="createGear">
                    <wt-lazy [location]="{moduleId:'gear', selector: 'app-gear'}" [inputs]="{sideNavRight: sideNavRight}">
                    </wt-lazy>
                </div>
                <div id="savedState" class="saved-state-container" *ngIf="createSavedState">
                    <wt-lazy [location]="{moduleId:'save-state', selector: 'app-save-state'}"
                        [inputs]="{sidenav: sideNavRight, widgetGridItems: tabbedGrid[selectedTabIndex].list, widgets: widgets, current: currentDashboard}">
                    </wt-lazy>
                </div>
                <div id="settings" class="setting-container" *ngIf="createSettings">
                    <wt-lazy [location]="{moduleId:'settings', selector: 'app-settings'}" [inputs]="{widgets:widgets}"></wt-lazy>
                </div>
            </div>
        </div>
    </mat-sidenav>

    <mat-toolbar class="neon-toolbar-large neon-toolbar-wide titlebar-header-text" color="primary" layout-align="space-between center" flex>
        <div *ngIf="currentDashboard">
            <div class="dashboard-name" matBadge="x" matBadgePosition="above after" [matBadgeHidden]="!currentDashboard.modified"
                matBadgeColor="accent" matBadgeOverlap="false" matBadgeSize="small">
                {{ currentDashboard.name }}
                <small *ngIf="currentDashboard.fullTitle">- {{ currentDashboard.fullTitle }}</small>
            </div>
        </div>
        <div *ngIf="!currentDashboard">Choose Dashboard...</div>
        <span class="fill-remaining"></span>
        <button mat-icon-button class="neon-icon-button-large notify" aria-label="Notifications" matBadgePosition="above before"
            [matBadgeHidden]="updatedData === 0" matBadgeColor="warn" [matBadge]="updatedData | abbreviate: 1" matBadgeSize="large"
            (click)="refreshDashboard()" matTooltip="Refresh Data" tooltip-position="below">
            <mat-icon class="neon-icon-large">notifications</mat-icon>
        </button>
        <button mat-icon-button class="neon-icon-button-large" aria-label="Add Visualization" tooltip-position="below"
            id="showVisualizationsShortcutButton" matTooltip="Add a New Visualization"
            (click)="setPanel('addVis', 'Visualization'); sideNavRight.toggle()" *ngIf="showVisualizationsShortcut">
            <mat-icon class="neon-icon-large">add_circle</mat-icon>
        </button>
        <div class="simple-search-container">
            <app-simple-filter #simpleFilter></app-simple-filter>
        </div>
        <button mat-icon-button class="neon-icon-button-large" aria-label="Show Dashboard Selector" matTooltipPosition="below"
            matTooltip="Show Dashboard Selector" (click)="toggleDashboardSelectorDialog(!showDashboardSelector)">
            <mat-icon class="neon-icon-large">dashboard</mat-icon>
        </button>
        <button mat-icon-button class="neon-icon-button-large" aria-label="Show Filters" matTooltipPosition="below"
            id="showFilterTrayButton" matTooltip="Show Filters" (click)="toggleFiltersDialog()" *ngIf="showFilterTray">
            <mat-icon class="neon-icon-large" *ngIf="changeFilterTrayIcon()" svgIcon="{{filtersIcon}}"></mat-icon>
        </button>

        <mat-menu #appMenu="matMenu" [backdropClass]="widgetService.getTheme()" yPosition="below" [overlapTrigger]="false">
            <button mat-menu-item (click)="setPanel('addVis', 'Visualization'); sideNavRight.toggle()">
                <mat-icon color="secondary">add_circle</mat-icon>Visualizations
            </button>
            <button mat-menu-item (click)="setPanel('savedState', 'Save States'); sideNavRight.toggle()">
                <mat-icon color="secondary">save</mat-icon>Saved States
            </button>
            <button mat-menu-item (click)="setPanel('settings', 'Settings'); sideNavRight.toggle()">
                <mat-icon color="secondary">settings</mat-icon>Settings
            </button>
            <button mat-menu-item (click)="setPanel('aboutNeon', 'About Neon'); sideNavRight.toggle()">
                <mat-icon color="secondary">info</mat-icon>About
            </button>
        </mat-menu>

        <button mat-icon-button class="neon-icon-button-large" [matMenuTriggerFor]="appMenu">
            <mat-icon class="neon-icon-large">menu</mat-icon>
        </button>
    </mat-toolbar>

    <div class="header-toggle-container">
        <div class="filters-container" id="filters" *ngIf="createFiltersComponent">
            <app-filters (closeDialog)="toggleFiltersDialog()"></app-filters>
            <div class="header-toggle-footer">
            </div>
        </div>
    </div>

    <div class="header-toggle-container">
        <div class="dashboard-selector-container" id="dashboard.selector">
            <app-dashboard-selector [dashboards]="dashboards"></app-dashboard-selector>
            <div class="header-toggle-footer"></div>
        </div>
    </div>

    <div class="neon-dash" mat-fill layout="col">
        <mat-tab-group *ngIf="tabbedGrid.length > 1" [(selectedIndex)]="selectedTabIndex">
            <mat-tab class="tab" *ngFor="let tab of tabbedGrid" [label]="tab.name"></mat-tab>
        </mat-tab-group>

        <div class="neon-grid">
            <div [ngGrid]="gridConfig" #grid>
                <div *ngFor="let widgetGridItem of tabbedGrid[selectedTabIndex].list; let i = index;" [(ngGridItem)]="widgetGridItem"
                    name="widgetGridItem.id" id="widgetGridItem.id" (onResizeStart)="onResizeStart(i, $event)"
                    (onResizeStop)="onResizeStop(i, $event)" (onDragStop)="onDragStop(i, $event)">
                    <app-visualization-container [visualization]="widgetGridItem"></app-visualization-container>
                    <ng-content></ng-content>
                </div>
            </div>
        </div>
    </div>
</mat-sidenav-container>
