<mat-sidenav-container #visualization class="visualization-sidenav" [class.neon-green-dark-theme]="themesService.getCurrentTheme().id === 'neon-green-dark-theme'">
    <mat-toolbar class="neon-toolbar-thin" color="header" layout-align="space-between center" flex>
        <div #headerText class="header text pull-left" [title]="meta.title">{{ meta.title }}</div>
        <span class="fill-remaining"></span>
        <span #infoText class="info text">
            <span class="error-message" *ngIf="meta.errorMessage" [title]="meta.errorMessage">{{ meta.errorMessage }}</span>
            <span *ngIf="!meta.errorMessage" [title]="getButtonText()">{{ getButtonText() }}</span>
        </span>
        <button mat-icon-button aria-label="Settings" matTooltip="Open/Close the Options Menu" tooltip-position="below" (click)="optionsMenu.toggle();">
            <mat-icon>settings</mat-icon>
        </button>
    </mat-toolbar>

    <mat-sidenav #optionsMenu align="end" class="visualization-sidenav-options">
        <mat-card align="left">
            <mat-card-content>
                <div *ngIf="meta.errorMessage">
                    <label class="icon-with-text error-message" [title]="meta.errorMessage">
                        <mat-icon class="neon-icon-small">error</mat-icon>
                        <div>{{ meta.errorMessage }}</div>
                    </label>
                    <p></p>
                </div>

                <div *ngIf="getButtonText()">
                    <label class="icon-with-text" [title]="getButtonText()">
                        <mat-icon class="neon-icon-small">info</mat-icon>
                        <div>{{ getButtonText() }}</div>
                    </label>
                    <p></p>
                </div>

                <mat-form-field>
                    <input matInput placeholder="Title" [(ngModel)]="meta.title" required="false">
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Database" [(ngModel)]="meta.database"
                                required="true" (ngModelChange)="handleChangeDatabase()" [disabled]="meta.databases.length < 2">
                        <mat-option *ngFor="let database of meta.databases" [value]="database">{{ database.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Table" [(ngModel)]="meta.table" required="true"
                                (ngModelChange)="handleChangeTable()" [disabled]="meta.tables.length < 2">
                        <mat-option *ngFor="let table of meta.tables" [value]="table">{{ table.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Group Field" [(ngModel)]="active.dataField"
                                required="true" (ngModelChange)="handleChangeDataInBarChart()"
                                [disabled]="meta.fields.length == 0">
                        <mat-option *ngFor="let field of meta.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Aggregation" [(ngModel)]="active.aggregation"
                                required="true" (ngModelChange)="handleChangeAggregation()"
                                [disabled]="meta.fields.length == 0">
                        <mat-option value="count">Count</mat-option>
                        <mat-option value="sum">Sum</mat-option>
                        <mat-option value="average">Average</mat-option>
                        <mat-option value="min">Min</mat-option>
                        <mat-option value="max">Max</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field *ngIf="!active.aggregationFieldHidden">
                    <mat-select placeholder="Aggregation Field (Range)" [(ngModel)]="active.aggregationField"
                                required="true" (ngModelChange)="handleChangeDataInBarChart()" [disabled]="meta.fields.length == 0">
                        <mat-option *ngFor="let field of meta.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Color Field" [(ngModel)]="active.colorField"
                               (ngModelChange)="handleChangeDataInBarChart()" [disabled]="meta.fields.length == 0">
                        <mat-option [value]="emptyField">(None)</mat-option>
                        <mat-option *ngFor="let field of meta.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <table cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field>
                                <input matInput placeholder="Group Limit" [(ngModel)]="active.newLimit" required="true" (keyup.enter)="handleChangeLimit()">
                            </mat-form-field>
                        </td>
                        <td>
                            <button mat-icon-button aria-label="Refresh" matTooltip="Refresh" tooltip-position="below" (click)="handleChangeLimit()">
                                <mat-icon>refresh</mat-icon>
                            </button>
                        </td>
                    </tr>
                </table>
                <p></p>

                <label> Displayed Range </label>
                <div class='radio-container' layout="row" mat-margin>
                    <mat-radio-group ngDefaultControl [(ngModel)]="active.scaleManually" (change)="handleChangeScale()">
                        <mat-radio-button ngDefaultControl [value]="false" [(ngModel)]="active.scaleManually">Auto-scale</mat-radio-button>
                        <mat-radio-button ngDefaultControl [value]="true" [(ngModel)]="active.scaleManually" >Manual</mat-radio-button>
                    </mat-radio-group>

                    <table *ngIf="active.scaleManually">
                        <tr>
                            <td>
                                <mat-form-field *ngIf='active.chartType == "bar"'>
                                    <input matInput placeholder="Y maximum" [(ngModel)]="active.maxScale" required="false">
                                </mat-form-field>
                                <mat-form-field *ngIf='active.chartType == "horizontalBar"'>
                                    <input matInput placeholder="X maximum" [(ngModel)]="active.maxScale" required="false">
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field *ngIf='active.chartType == "bar"'>
                                    <input matInput placeholder="Y minimum" [(ngModel)]="active.minScale" required="false">
                                </mat-form-field>
                                <mat-form-field *ngIf='active.chartType == "horizontalBar"'>
                                    <input matInput placeholder="X minimum" [(ngModel)]="active.minScale" required="false">
                                </mat-form-field>
                            </td>
                            <td>
                                <button mat-icon-button aria-label="Refresh" matTooltip="Refresh" tooltip-position="below" (click)="handleChangeScale()">
                                    <mat-icon>refresh</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
                <p></p>

                <label> Chart Type </label>
                <div class='radio-container' layout="row" mat-margin>
                    <mat-radio-group ngDefaultControl [(ngModel)]="active.chartType" (change)="handleChangeChartType()">
                        <mat-radio-button ngDefaultControl value="horizontalBar" [(ngModel)]="active.chartType">Horizontal</mat-radio-button>
                        <mat-radio-button ngDefaultControl value="bar" [(ngModel)]="active.chartType">Vertical</mat-radio-button>
                    </mat-radio-group>
                </div>
                <p></p>
                
                <app-unshared-filter [(meta)]="meta"
                                     (unsharedFilterChanged)="unsharedFilterChanged()"
                                     (unsharedFilterRemoved)="unsharedFilterRemoved()"></app-unshared-filter>
                <p></p>

                <app-export-control [exportId]="exportId"></app-export-control>
            </mat-card-content>
        </mat-card>
    </mat-sidenav>

    <div [class.loading-overlay]="isLoading" [class.not-loading-overlay]="!isLoading">
        <mat-spinner></mat-spinner>
    </div>

    <div class="filter-container">
        <app-legend *ngIf="!!this.active.colorField.columnName" [activeList]="selectedLabels" [fieldNames]="colorFieldNames"></app-legend>

        <div class="filter-reset" *ngFor="let filter of getCloseableFilters()">
            <span class="filter-label" [title]="getFilterTitle(filter.value)">{{ getFilterCloseText(filter.value) }}</span>
            <button mat-icon-button class="neon-icon-button-small" aria-label="Close" tooltip-position="below"
                    [matTooltip]="getRemoveFilterTooltip(filter.value)" (click)="removeLocalFilterFromLocalAndNeon(filter, true, true)">
                <mat-icon class="neon-icon-small">close</mat-icon>
            </button>
        </div>
    </div>

    <div class="body-container" [class.with-filter]="!!this.active.colorField.columnName || getCloseableFilters().length" [class.with-footer]="active.bars.length > active.limit">
        <div #chartContainer class="chart-container" [style.minHeight.px]="this.active.minSize.height" [style.minWidth.px]="this.active.minSize.width">
            <app-chart class="chart" #barChart [type]="chartInfo.type" [data]="chartInfo.data" [options]="chartInfo.options"></app-chart>
        </div>
    </div>

    <div class="footer" *ngIf="active.bars.length > active.limit">
        <div class="footer-button-container">
            <button mat-raised-button [disabled]="active.page == 1" class="pagination-button previous-button" color="primary"
                (click)="previousPage()">
                Previous
            </button>
            <span class="pagination-button-spacer"></span>
            <button mat-raised-button [disabled]="active.lastPage" class="pagination-button next-button" color="primary"
                (click)="nextPage()">
                Next
            </button>
        </div>
    </div>

    <canvas #hiddenCanvas class="hidden-canvas"></canvas>
</mat-sidenav-container>
