<md-sidenav-container class="visualization-sidenav" [class.neon-green-dark-theme]="themesService.getCurrentTheme().id === 'neon-green-dark-theme'">
    <md-toolbar color="header" layout-align="space-between center" flex>
        <div class="header text pull-left" [title]="createTitle()">{{ createTitle() }}</div>
        <span class="fill-remaining"></span>
        <span class="text" title="Open/Close the Options Menu">{{ getButtonText() }}</span>
        <button md-icon-button aria-label="Settings" md-tooltip="Open/Close the Options Menu" tooltip-position="below" (click)="optionsMenu.toggle();">
            <md-icon class="mat-24">settings</md-icon>
        </button>
    </md-toolbar>

    <md-sidenav #optionsMenu align="end" class="visualization-sidenav-options">
        <md-card align="left">
            <md-card-content>
                <label style="display: inline;" *ngIf="getButtonText()">
                    <md-icon class="error-icon">error</md-icon>
                    {{ getButtonText() }}
                </label>
                <p></p>

                <md-select placeholder="Database" [(ngModel)]="meta.database" required="true" (ngModelChange)="handleChangeDatabase()" [disabled]="meta.databases.length < 2">
                    <md-option *ngFor="let database of meta.databases" [value]="database">{{ database.prettyName }}</md-option>
                </md-select>
                <p></p>

                <md-select placeholder="Table" [(ngModel)]="meta.table" required="true" (ngModelChange)="handleChangeTable()" [disabled]="meta.tables.length < 2">
                    <md-option *ngFor="let table of meta.tables" [value]="table">{{ table.prettyName }}</md-option>
                </md-select>
                <p></p>

                <md-select placeholder="Text Field" [(ngModel)]="active.dataField" required="true" (ngModelChange)="handleChangeDataField()"
                    [disabled]="meta.fields.length == 0">
                    <md-option *ngFor="let field of meta.fields" [value]="field">{{ field.prettyName }}</md-option>
                </md-select>
                <p></p>

                <md-select placeholder="Aggregation" [(ngModel)]="active.aggregation" required="true" (ngModelChange)="handleChangeAggregation()"
                    [disabled]="meta.fields.length == 0">
                    <md-option value="count">Count</md-option>
                    <md-option value="sum">Sum</md-option>
                    <md-option value="average">Average</md-option>
                </md-select>
                <p></p>

                <md-select *ngIf="!active.aggregationFieldHidden" placeholder="Aggregation Field (Y Axis)" [(ngModel)]="active.aggregationField"
                    required="true" (ngModelChange)="handleChangeAggregationField()" [disabled]="meta.fields.length == 0">
                    <md-option *ngFor="let field of meta.fields" [value]="field">{{ field.prettyName }}</md-option>
                </md-select>
                <p></p>

                <md-select placeholder="Color Field" [(ngModel)]="active.colorField"
                           (ngModelChange)="handleChangeColorField()" [disabled]="meta.fields.length == 0">
                    <md-option [value]="emptyField">(None)</md-option>
                    <md-option *ngFor="let field of meta.fields" [value]="field">{{ field.prettyName }}</md-option>
                </md-select>
                <p></p>

                <table cellspacing="0">
                    <tr>
                        <td>
                            <md-input-container>
                                <input mdInput placeholder="Text Limit" [(ngModel)]="active.limit" required="true">
                            </md-input-container>
                        </td>
                        <td>
                            <button md-icon-button aria-label="Refresh" md-tooltip="Refresh" tooltip-position="below" (click)="handleChangeLimit()">
                                <md-icon class="mat-24">refresh</md-icon>
                            </button>
                        </td>
                    </tr>
                </table>
                <p></p>

                <app-unshared-filter [(meta)]="meta"
                                     (unsharedFilterChanged)="unsharedFilterChanged()"
                                     (unsharedFilterRemoved)="unsharedFilterRemoved()"></app-unshared-filter>
                <p></p>
                <app-export-control [exportId]="exportId"></app-export-control>
            </md-card-content>
        </md-card>
    </md-sidenav>
    <div class="body-container">
        <div [class.loading-overlay]="isLoading" [class.not-loading-overlay]="!isLoading">
            <md-spinner ></md-spinner>
        </div>
        <div class="text-container">
            <div align="left">
                <app-legend *ngIf="active.colorField.columnName != ''" [activeList]="selectedLabels"
                            [fieldNames]="colorFieldNames"></app-legend>
            </div>
            <div class="filter-reset" *ngFor="let value of getCloseableFilters()">
                <span class="filter-label" [title]="getFilterTitle(value)">{{ getFilterCloseText(value) }}</span>
                <button md-icon-button aria-label="Close" [md-tooltip]="getRemoveFilterTooltip(value)" tooltip-position="below" (click)="removeLocalFilterFromLocalAndNeon(value, false, true)">
                  <md-icon class="mat-18">close</md-icon>
                </button>
            </div>
        </div>
        <div class="chart-container">
            <chart class="chart" #myChart [type]="chart.type" [data]="chart.data" [options]="chart.options"></chart>
        </div>
    </div>
    <!--<div class="text-cloud" md-fill layout="col">
        <a (click)="addFilter(item.key, item.keyTranslated)" class="text" *ngFor="let item of active.data" [revarl]="item.count"
            [ngStyle]="{'color': item.color, 'font-size': item.fontSize}">
                <div>
                    {{ item.key }}
                </div>
            </a>
    </div>-->
</md-sidenav-container>
