<form class="save-state-container" #optionsForm="ngForm">
    <div class="option-row flex">
        <mat-form-field class="text-input-container">
            <input matInput placeholder="New State Name" maxlength="100" name="stateToSave" dividerColor="accent" [(ngModel)]="formData.stateToSave">
        </mat-form-field>

        <button mat-flat-button class="neon-button-small save-button" color="accent" (click)="saveState(formData.stateToSave)">
            <span *ngIf="validateName(formData.stateToSave)">Save State</span>
            <span *ngIf="!validateName(formData.stateToSave)">Overwrite State</span>
        </button>
    </div>

    <div class="option-row" *ngFor="let name of stateNames">
        <div class="flex">
            <a class="state-name" (click)="loadState(name)"> {{ name }} </a> 

            <button mat-icon-button class="delete-button" (click)="setStateToDelete(name);openConfirmationDialog();">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
        <p class="date">Last Modified - mm/dd/yyyy</p>   
    </div>

</form>
