<form #optionsForm="ngForm">
    <mat-form-field class="expanded">
        <input #stateName matInput placeholder="Dashboard Name" maxlength="100" name="stateToSave" dividerColor="accent">
    </mat-form-field>

    <button mat-raised-button class="neon-button-small" (click)="saveState(stateName.value, false)" [disabled]="!stateName.value">
        <span>Save Current Dashboard</span>
    </button>

    <button mat-raised-button class="neon-button-small" (click)="createState(stateName.value)" [disabled]="!stateName.value">
        <span>Create New Dashboard</span>
    </button>

    <button mat-raised-button class="neon-button-small expanded" (click)="openConfigEditor()">
        <span>Edit Current Dashboard Configuration</span>
    </button>
</form>

<div class="option-row" *ngFor="let state of states.results">
    <a class="state-name" (click)="loadState(state.fileName)">
        <span [matBadgeHidden]="!(currentFilename === state.fileName && dashboardState.modified)" matBadge="x" mat-position="above after">
            {{ state.dashboards.name || state.fileName }}
        </span>
    </a>

    <div class="date">Last Modified - {{ state.lastModified ? (state.lastModified | date: 'yyyy-M-d h:mm') : "N/A" }}</div>
    <div class="actions">
        <button mat-icon-button class="update-button" matTooltip="Save Dashboard Changes" (click)="saveState(state.dashboards.name, true);"
            *ngIf="(currentFilename === state.fileName && dashboardState.modified)">
            <mat-icon>save</mat-icon>
        </button>
        <button mat-icon-button class="delete-button" matTooltip="Delete Saved Dashboard" (click)="deleteState(state.fileName, true);">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>
