<form #optionsForm="ngForm" (submit)="saveState(stateName.value)">
    <mat-form-field>
        <input #stateName matInput placeholder="New State Name" maxlength="100" name="stateToSave" dividerColor="accent">
    </mat-form-field>

    <button mat-raised-button class="neon-button-small" color="accent" type="submit">
        <span>Save State</span>
    </button>
</form>

<div class="option-row" *ngFor="let state of states.results">
    <a class="state-name" (click)="loadState(state.fileName)">
        <span [matBadgeHidden]="!(current && current.fileName === state.fileName && current.modified)" matBadge="x" mat-position="above after">
            {{ state.dashboards.name || state.fileName }}

        </span>
    </a>

    <div class="date">Last Modified - {{ state.lastModified ? (state.lastModified | date: 'yyyy-M-d h:mm') : "N/A" }}</div>
    <div class="actions">
        <button mat-icon-button class="update-button" (click)="saveState(state.dashboards.name, true);"
            *ngIf="(current && current.fileName === state.fileName && current.modified)">
            <mat-icon>save</mat-icon>
        </button>
        <button mat-icon-button class="delete-button" (click)="deleteState(state.fileName, true);">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>
