:host {
    display: block;
    width: 100%;
}

.flex-grow {
    flex: 1 auto;
}

.title-bold {
    font-weight: bold;
}

.thumbnail-view {
    width: auto;
    height: fit-content;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    margin-right: 6px;
}

.detail-ellipses {
    flex: 1;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75px;
}

.detail-percentage {
    text-align: end;
    width: 35px;
}

.thumbnail-title {
    padding: 5px;

    .thumbnail-title-details {
        height: 20px;
        line-height: 20px;
        word-wrap: break-word;
        display: flex;
        flex-direction: column;
        flex-flow: row nowrap;
        font-size: 0.8em;
        margin: 0 5px;

        .detail-ellipses {
            width: unset;
            white-space: nowrap;
        }

        .detail-percentage {
            float: right;
            width: unset;
            white-space: nowrap;
        }

        .mat-icon-button {
            border-radius: 10px;
            margin: 0 5px 0 0 !important;

            &:hover {
                color: var(--color-data-item-selectable-contrast, white) !important;
            }

            &.flag {
                background-color: #FFFF00 !important;
                border-radius: 0;
            }
        }
    }

    .thumbnail-view {
        margin: 4px 2px 0;
    }
}

.with-border {
    border: 3px solid transparent;
}

.border-mat-grey {
    border: 3px solid #9E9E9E; /* mat-color-grey-500 */
}

.border-mat-blue {
    border: 3px solid #2196F3; /* mat-color-blue-500 */
}

.border-mat-red {
    border: 3px solid #F44336; /* mat-color-red-500 */
}

.selected .with-border, // sass-lint:disable-line force-element-nesting
.selectable:hover .with-border, // sass-lint:disable-line force-element-nesting, force-pseudo-nesting
.border-mat-yellow {
    border: 3px solid #FFEB3B; /* mat-color-yellow-500 */
}

.thumbnail-flags {
    display: flex;
    border-bottom: solid 1px darkgray;
    padding: 0.4em;
    flex: 1 1;
    max-height: 107px;
    flex-flow: row nowrap;
    min-width: 228px;
}

.thumbnail-flag-details {
    flex: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    p {
        font-size: 0.75em;
        margin: 4px;
        word-break: break-word;

        &:first-child {
            @extend .title-bold;
            font-size: 0.9em;
        }
    }
}

.flag-ellipses {
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (2) */
    max-height: 2.4em;
    /* place for '...' */
    margin-right: -1em;
    padding-right: 1em;

    &::before {
        content: '...';
        position: absolute;
        right: 0;
        bottom: 0;
    }

    &::after {
        content: '';
        position: absolute;
        right: 0;
        width: 1em;
        height: 1em;
        margin-top: 0.2em;
    }
}

.thumbnail-card {
    display: flex;
    background-color: var(--color-background, white);
    padding: 0.4em;
    flex: 1 1;
    width: 224px;
    flex-flow: column nowrap;
}

.thumbnail-card-title {
    max-width: 80%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    min-height: 60px;

    p {
        @extend .title-bold;
        font-size: 0.9em;
    }
}

.thumbnail-card-details {
    height: 80px;
    width: 98%;
    flex: auto;
    overflow-y: auto;
    word-break: break-word;

    p {
        font-size: 0.8em;
        margin: 6px;
    }
}

.thumbnail-card-canvas {
    align-self: center;
    margin-bottom: 1em;
}

.selected {
    background-color: var(--color-data-item-selected, dimgrey);
    color: var(--color-data-item-selected-text, white);

    /* Override custom subcomponent text colors */
    &.thumbnail-card,
    &.thumbnail-flags {
        p {
            color: var(--color-data-item-selected-text, white);

            &:first-child {
                color: var(--color-data-item-selected-text, white);
            }
        }
    }
}

.selectable {
    &:hover {
        background-color: var(--color-data-item-selectable, lightgrey);
        color: var(--color-data-item-selectable-text, dimgrey);
        cursor: pointer;

        /* Override custom subcomponent text colors */
        &.thumbnail-card,
        &.thumbnail-flags {
            p {
                color: var(--color-data-item-selectable-text, dimgrey);

                &:first-child {
                    color: var(--color-data-item-selectable-text, dimgrey);
                }
            }
        }

        &.thumbnail-title {
            cursor: unset;

            canvas {
                cursor: pointer;
            }
        }
    }
}
