
<div class="thumbnail-flags">
    <canvas class="thumbnail-view" [class.with-border]="options.border != ''" height="100" width="100"></canvas>
    <div class="thumbnail-flag-details">
        <p>{{ item[options.linkField.columnName] }}</p>
        <p class="flag-ellipses">These are the details and I am trying to max out the words so that I can see if the ellipses will work how I would like it to. This is still not long enough. How about now?</p>
        <p><span class="text-highlight">Jane Doe</span> - 8/12/2018</p>
    </div>
</div>
