<mat-sidenav-container #visualization class="visualization-sidenav" [class.neon-green-dark-theme]="themesService.getCurrentTheme().id === 'neon-green-dark-theme'">
    <mat-toolbar class="neon-toolbar-thin" color="header" layout-align="space-between center" flex>
        <div #headerText class="header text pull-left" [matTooltip]="meta.title" tooltip-position="below">{{ meta.title }}</div>
        <span class="fill-remaining"></span>
        <span #infoText class="info text">
            <span class="error-message" *ngIf="meta.errorMessage" [matTooltip]="meta.errorMessage" tooltip-position="below">
                {{ meta.errorMessage }}
            </span>
            <span *ngIf="!meta.errorMessage" [matTooltip]="getButtonText()" tooltip-position="below">{{ getButtonText() }}</span>
        </span>
        <button mat-icon-button aria-label="Settings" matTooltip="Open/Close the Options Menu" tooltip-position="below" (click)="optionsMenu.toggle();">
            <mat-icon>settings</mat-icon>
        </button>
    </mat-toolbar>

    <mat-sidenav #optionsMenu align="end" class="visualization-sidenav-options">
        <mat-card align="left">
            <mat-card-content>
                <div *ngIf="meta.errorMessage">
                    <label class="icon-with-text error-message" [matTooltip]="meta.errorMessage" tooltip-position="below">
                        <mat-icon class="neon-icon-small">error</mat-icon>
                        <span>{{ meta.errorMessage }}</span>
                    </label>
                    <p></p>
                </div>

                <div *ngIf="getButtonText()">
                    <label class="icon-with-text" [matTooltip]="getButtonText()" tooltip-position="below">
                        <mat-icon class="neon-icon-small">info</mat-icon>
                        <span>{{ getButtonText() }}</span>
                    </label>
                    <p></p>
                </div>

                <mat-form-field>
                    <input matInput placeholder="Title" [(ngModel)]="meta.title" required="false">
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Database" [(ngModel)]="meta.database" required="true" (ngModelChange)="handleChangeDatabase()" [disabled]="meta.databases.length < 2">
                        <mat-option *ngFor="let database of meta.databases" [value]="database">{{ database.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Table" [(ngModel)]="meta.table" required="true" (ngModelChange)="handleChangeTable()" [disabled]="meta.tables.length < 2">
                        <mat-option *ngFor="let table of meta.tables" [value]="table">{{ table.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="ID Field" [(ngModel)]="active.idField" required="true" (ngModelChange)="handleChangeData()" [disabled]="meta.fields.length < 1">
                        <mat-option *ngFor="let field of meta.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Link Field" [(ngModel)]="active.linkField" required="true" (ngModelChange)="handleChangeData()" [disabled]="meta.fields.length < 1">
                        <mat-option *ngFor="let field of meta.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Actual Name Field" [(ngModel)]="active.objectNameField" required="true" (ngModelChange)="handleChangeData()" [disabled]="meta.fields.length < 1">
                        <mat-option *ngFor="let field of meta.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Predicted Name Field" [(ngModel)]="active.predictedNameField" required="true" (ngModelChange)="handleChangeData()" [disabled]="meta.fields.length < 1">
                        <mat-option *ngFor="let field of meta.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Predicted Probability Field" [(ngModel)]="active.percentField" required="true" (ngModelChange)="handleChangeData()" [disabled]="meta.fields.length < 1">
                        <mat-option *ngFor="let field of meta.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <div mat-fill class="flex center">
                    <mat-form-field>
                        <input matInput placeholder="Row Limit" [(ngModel)]="meta.newLimit" required="true" (keyup.enter)="handleChangeLimit()">
                    </mat-form-field>

                    <button mat-icon-button aria-label="Refresh" matTooltip="Refresh" tooltip-position="below" (click)="handleChangeLimit()">
                        <mat-icon>refresh</mat-icon>
                    </button>
                </div>
                <p></p>

                Sort by Probability:
                <mat-button-toggle-group name="sorting" [(ngModel)]="active.ascending" (ngModelChange)="handleSortOrder()">
                    <mat-button-toggle [value]="true">
                        Asc
                    </mat-button-toggle>
                    <mat-button-toggle [value]="false">
                        Desc
                    </mat-button-toggle>
                </mat-button-toggle-group>
                <p></p>

                <app-export-control [exportId]="exportId"></app-export-control>
            </mat-card-content>
        </mat-card>
    </mat-sidenav>

    <div [class.loading-overlay]="isLoading" [class.not-loading-overlay]="!isLoading">
        <mat-spinner ></mat-spinner>
    </div>

    <div #thumbnailGrid class="thumbnail-grid">
       <div class="thumbnail-grid-container">
           <div class="thumbnail-grid-div" *ngFor="let item of active.pagingGrid; let i = index"  (click)="maximizeMedia(item[active.linkField.columnName])">
                   <div class="thumbnail-details">
                       <p [title]="getThumbnailTitle(item[active.objectNameField.columnName],item[active.predictedNameField.columnName], item[active.percentField.columnName])">
                           <span class="detail-ellipses">{{ item[active.predictedNameField.columnName] }}</span>
                           <span>{{ getThumbnailTitle("", "", item[active.percentField.columnName]) }}</span>
                       </p>
                   </div>
                    <canvas class="thumbnail-view"></canvas>
           </div>
       </div>
   </div>

    <div class="footer" *ngIf="active.gridArray.length > meta.limit">
        <div class="footer-button-container">
            <button mat-raised-button [disabled]="active.page == 1" class="pagination-button previous-button" color="primary"
                    (click)="previousPage()">
                Previous
            </button>
            <span class="pagination-button-spacer"></span>
            <button mat-raised-button [disabled]="active.lastPage" class="pagination-button next-button" color="primary"
                    (click)="nextPage()">
                Next
            </button>
        </div>
    </div>

</mat-sidenav-container>
