<mat-sidenav-container #visualization class="visualization-sidenav">
    <mat-toolbar class="neon-toolbar-thin" color="header" layout-align="space-between center" flex>
        <div #headerText class="header text pull-left" [matTooltip]="options.title" tooltip-position="below">{{ options.title }}</div>
        <span class="fill-remaining"></span>
        <span #infoText class="info text">
            <span class="error-message" *ngIf="errorMessage" [matTooltip]="errorMessage" tooltip-position="below">
                {{ errorMessage }}
            </span>
            <span *ngIf="!errorMessage" class="data-info" [matTooltip]="getButtonText()" tooltip-position="below">
                {{ getButtonText() }}
            </span>
        </span>
        <button mat-icon-button aria-label="Settings" matTooltip="Open/Close the Options Menu" tooltip-position="below" (click)="optionsMenu.toggle();">
            <mat-icon>settings</mat-icon>
        </button>
    </mat-toolbar>

    <mat-sidenav #optionsMenu align="end" class="visualization-sidenav-options">
        <mat-card align="left">
            <mat-card-content>
                <div *ngIf="errorMessage">
                    <label class="icon-with-text error-message" [matTooltip]="errorMessage" tooltip-position="below">
                        <mat-icon class="neon-icon-small">error</mat-icon>
                        <span>{{ errorMessage }}</span>
                    </label>
                    <p></p>
                </div>

                <div *ngIf="getButtonText()">
                    <label class="icon-with-text data-info" [matTooltip]="getButtonText()" tooltip-position="below">
                        <mat-icon class="neon-icon-small">info</mat-icon>
                        <span>{{ getButtonText() }}</span>
                    </label>
                    <p></p>
                </div>

                <mat-form-field>
                    <input matInput placeholder="Title" [(ngModel)]="options.title" required="false">
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Database" [(ngModel)]="options.database" required="true" (ngModelChange)="handleChangeDatabase()" [disabled]="options.databases.length < 2">
                        <mat-option *ngFor="let database of options.databases" [value]="database">{{ database.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Table" [(ngModel)]="options.table" required="true" (ngModelChange)="handleChangeTable()" [disabled]="options.tables.length < 2">
                        <mat-option *ngFor="let table of options.tables" [value]="table">{{ table.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <div *ngIf="options.viewType === view.DETAILS">
                    <span class="toggle-text">Label Names:</span>
                    <mat-button-toggle-group class="neon-button-toggle-group-small" [(ngModel)]="options.showLabelName" (ngModelChange)="updatePageData()">
                        <mat-button-toggle [value]="true">On</mat-button-toggle>
                        <mat-button-toggle [value]="false">Off</mat-button-toggle>
                    </mat-button-toggle-group>
                    <p></p>

                    <mat-form-field>
                        <mat-select placeholder="Flag Label" [(ngModel)]="options.flagLabel" required="true" (ngModelChange)="handleChangeData()" [disabled]="options.fields.length < 1">
                            <mat-option [value]="createEmptyField()">(None)</mat-option>
                            <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <p></p>

                    <mat-form-field>
                        <mat-select placeholder="Flag Sub-Label 1" [(ngModel)]="options.flagSubLabel1" required="false" (ngModelChange)="handleChangeData()" [disabled]="options.fields.length < 1">
                            <mat-option [value]="createEmptyField()">(None)</mat-option>
                            <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <p></p>

                    <mat-form-field>
                        <mat-select placeholder="Flag Sub-Label 2" [(ngModel)]="options.flagSubLabel2" required="false" (ngModelChange)="handleChangeData()" [disabled]="options.fields.length < 1">
                            <mat-option [value]="createEmptyField()">(None)</mat-option>
                            <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <p></p>

                    <mat-form-field>
                        <mat-select placeholder="Flag Sub-Label 3" [(ngModel)]="options.flagSubLabel3" required="false" (ngModelChange)="handleChangeData()" [disabled]="options.fields.length < 1">
                            <mat-option [value]="createEmptyField()">(None)</mat-option>
                            <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <p></p>
                </div>

                <div *ngIf="options.viewType === view.TITLE">
                    <mat-form-field>
                        <mat-select placeholder="Name Field" [(ngModel)]="options.nameField" required="false" (ngModelChange)="handleChangeData()" [disabled]="options.fields.length < 1">
                            <mat-option [value]="createEmptyField()">(None)</mat-option>
                            <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <p></p>

                    <mat-form-field>
                        <mat-select placeholder="Actual Name Field" [(ngModel)]="options.objectNameField" required="false" (ngModelChange)="handleChangeData()" [disabled]="options.fields.length < 1">
                            <mat-option [value]="createEmptyField()">(None)</mat-option>
                            <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <p></p>

                    <mat-form-field>
                        <mat-select placeholder="Predicted Name Field" [(ngModel)]="options.predictedNameField" required="false" (ngModelChange)="handleChangeData()" [disabled]="options.fields.length < 1">
                            <mat-option [value]="createEmptyField()">(None)</mat-option>
                            <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <p></p>

                    <mat-form-field>
                        <mat-select placeholder="Predicted Probability Field" [(ngModel)]="options.percentField" required="false" (ngModelChange)="handleChangeData()" [disabled]="options.fields.length < 1">
                            <mat-option [value]="createEmptyField()">(None)</mat-option>
                            <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <p></p>

                    <mat-form-field>
                        <mat-select placeholder="Category Field" [(ngModel)]="options.categoryField" required="false" (ngModelChange)="handleChangeData()" [disabled]="options.fields.length < 1">
                            <mat-option [value]="createEmptyField()">(None)</mat-option>
                            <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <p></p>

                    <mat-form-field>
                        <mat-select placeholder="Comparison Field" [(ngModel)]="options.compareField" required="false" (ngModelChange)="handleChangeData()" [disabled]="options.fields.length < 1">
                            <mat-option [value]="createEmptyField()">(None)</mat-option>
                            <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <p></p>
                </div>

                <mat-form-field>
                    <mat-select placeholder="Filter Field" [(ngModel)]="options.filterField" required="false" (ngModelChange)="handleChangeData()" [disabled]="options.fields.length < 1">
                        <mat-option [value]="createEmptyField()">(None)</mat-option>
                        <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="ID Field" [(ngModel)]="options.idField" required="false" (ngModelChange)="handleChangeData()" [disabled]="options.fields.length < 1">
                        <mat-option [value]="createEmptyField()">(None)</mat-option>
                        <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Link Field" [(ngModel)]="options.linkField" required="true" (ngModelChange)="handleChangeData()" [disabled]="options.fields.length < 1">
                        <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Sort Field" [(ngModel)]="options.sortField" required="true" (ngModelChange)="handleChangeData()" [disabled]="options.fields.length < 1">
                        <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Type Field" [(ngModel)]="options.typeField" required="false" (ngModelChange)="handleChangeData()" [disabled]="options.fields.length < 1">
                        <mat-option [value]="createEmptyField()">(None)</mat-option>
                        <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <div mat-fill class="flex center">
                    <mat-form-field>
                        <input matInput placeholder="Thumbnail Limit" [(ngModel)]="newLimit" required="true" (keyup.enter)="handleChangeLimit()">
                    </mat-form-field>

                    <button mat-icon-button aria-label="Refresh" matTooltip="Refresh" tooltip-position="below" (click)="handleChangeLimit()">
                        <mat-icon>refresh</mat-icon>
                    </button>
                </div>
                <p></p>

                <mat-select placeholder="Border" [(ngModel)]="options.border" required="true" (ngModelChange)="updatePageData()">
                    <mat-option [value]="''">Off</mat-option>
                    <mat-option [value]="'valueCompare'">Comparison Field (Blue / Red)</mat-option>
                    <mat-option [value]="'percentCompare'">Comparison and Probability Fields (Blue / Red)</mat-option>
                    <mat-option [value]="'percentField'">Probability Field (Blue / Red)</mat-option>
                    <mat-option [value]="'blue'">Blue</mat-option>
                    <mat-option [value]="'grey'">Grey</mat-option>
                    <mat-option [value]="'red'">Red</mat-option>
                    <mat-option [value]="'yellow'">Yellow</mat-option>
                </mat-select>
                <p></p>

                <mat-form-field *ngIf="options.border === 'percentCompare' || options.border === 'valueCompare'">
                    <input matInput placeholder="Border Comparison Field Equals..." [(ngModel)]="options.borderCompareValue" required="false">
                </mat-form-field>
                <p *ngIf="options.border === 'percentCompare' || options.border === 'valueCompare'"></p>

                <mat-form-field *ngIf="options.border === 'percentCompare' || options.border === 'percentField'">
                    <input matInput placeholder="Border Probability Greater Than..." [(ngModel)]="options.borderPercentThreshold" required="false">
                </mat-form-field>
                <p *ngIf="options.border === 'percentCompare' || options.border === 'percentField'"></p>

                <mat-form-field>
                    <input matInput placeholder="Link Prefix" [(ngModel)]="options.linkPrefix" required="false">
                </mat-form-field>
                <p></p>

                <span class="toggle-text">Crop or Scale:</span>
                <mat-button-toggle-group class="neon-button-toggle-group-small" [(ngModel)]="options.cropAndScale" (ngModelChange)="updatePageData()">
                    <mat-button-toggle value="">None</mat-button-toggle>
                    <mat-button-toggle value="scale">Scale</mat-button-toggle>
                    <mat-button-toggle value="crop">Crop</mat-button-toggle>
                    <mat-button-toggle value="both">Both</mat-button-toggle>
                </mat-button-toggle-group>
                <p></p>

                <span class="toggle-text">Ignore Own Filters:</span>
                <mat-button-toggle-group class="neon-button-toggle-group-small" [(ngModel)]="options.ignoreSelf" (ngModelChange)="handleFiltersChangedEvent()">
                    <mat-button-toggle [value]="true">Yes</mat-button-toggle>
                    <mat-button-toggle [value]="false">No</mat-button-toggle>
                </mat-button-toggle-group>
                <p></p>

                <span class="toggle-text">Open Media on Mouse Click:</span>
                <mat-button-toggle-group class="neon-button-toggle-group-small" [(ngModel)]="options.openOnMouseClick">
                    <mat-button-toggle [value]="true">Yes</mat-button-toggle>
                    <mat-button-toggle [value]="false">No</mat-button-toggle>
                </mat-button-toggle-group>
                <p></p>

                <span class="toggle-text">Sort:</span>
                <mat-button-toggle-group class="neon-button-toggle-group-small" [(ngModel)]="options.sortDescending" (ngModelChange)="handleChangeData()">
                    <mat-button-toggle [value]="false">Ascending</mat-button-toggle>
                    <mat-button-toggle [value]="true">Descending</mat-button-toggle>
                </mat-button-toggle-group>
                <p></p>

                <app-unshared-filter [(meta)]="options" (unsharedFilterChanged)="handleChangeData()" (unsharedFilterRemoved)="handleChangeData()"></app-unshared-filter>
                <p></p>

                <app-export-control [widgets]="this"></app-export-control>
            </mat-card-content>
        </mat-card>
    </mat-sidenav>

    <div [class.loading-overlay]="isLoading" [class.not-loading-overlay]="!isLoading">
        <mat-spinner></mat-spinner>
    </div>

    <div class="filter-container" *ngIf="getCloseableFilters().length">
        <div class="filter-reset" *ngFor="let filter of getCloseableFilters()">
            <span class="filter-label" tooltip-position="below" [matTooltip]="getFilterText(filter)">{{ filter.value }}</span>
            <button mat-icon-button class="neon-icon-button-small" aria-label="Close" tooltip-position="below"
                    [matTooltip]="'Delete Filter ' + getFilterText(filter)" (click)="removeLocalFilterFromLocalAndNeon(filter, true, true)">
                <mat-icon class="neon-icon-small">close</mat-icon>
            </button>
        </div>
    </div>

    <div #thumbnailGrid class="body-container thumbnail-grid" [class.with-filter]="getCloseableFilters().length" [class.with-footer]="gridArray.length > pagingGrid.length">
        <div class="thumbnail-grid-container" *ngIf="showGrid">
            <div class="thumbnail-grid-div" *ngFor="let item of pagingGrid" [matTooltip]="getThumbnailTitle(item)"
                [class.with-text]="getThumbnailLabel(item) != '' || getThumbnailPercent(item) != ''">
                <app-subcomponent-title-thumbnail *ngIf="!options.viewType || options.viewType === view.TITLE" [item]="item" [options]="options">
                </app-subcomponent-title-thumbnail>
                <app-subcomponent-details-thumbnail class="flex-grow" *ngIf="options.viewType === view.DETAILS" [item]="item" [options]="options">
                </app-subcomponent-details-thumbnail>
                <app-subcomponent-card-thumbnail class="flex-grow" *ngIf="options.viewType === view.CARD" [item]="item" [options]="options">
                </app-subcomponent-card-thumbnail>
            </div>
        </div>
    </div>

    <div class="footer" *ngIf="gridArray.length > pagingGrid.length">
        <div class="footer-button-container">
            <button mat-raised-button [disabled]="page == 1" class="pagination-button previous-button" color="primary"
                    (click)="goToPreviousPage()">
                Previous
            </button>
            <span class="pagination-button-spacer"></span>
            <button mat-raised-button [disabled]="lastPage" class="pagination-button next-button" color="primary"
                    (click)="goToNextPage()">
                Next
            </button>
        </div>
    </div>

</mat-sidenav-container>
