<mat-sidenav-container #visualization class="visualization-sidenav" [class.neon-green-dark-theme]="themesService.getCurrentTheme().id === 'neon-green-dark-theme'">
    <mat-toolbar class="neon-toolbar-thin" color="header" layout-align="space-between center" flex>
        <div #headerText class="header text pull-left" [matTooltip]="options.title" tooltip-position="below">{{ options.title }}</div>
        <span class="fill-remaining"></span>
        <span #infoText class="info text">
            <span class="error-message" *ngIf="errorMessage" [matTooltip]="errorMessage" tooltip-position="below">
                {{ errorMessage }}
            </span>
            <span *ngIf="!errorMessage" [matTooltip]="getButtonText()" tooltip-position="below">{{ getButtonText() }}</span>
        </span>
        <button mat-icon-button aria-label="Settings" matTooltip="Open/Close the Options Menu" tooltip-position="below" (click)="optionsMenu.toggle();">
            <mat-icon>settings</mat-icon>
        </button>
    </mat-toolbar>

    <mat-sidenav #optionsMenu align="end" class="visualization-sidenav-options">
        <mat-card align="left">
            <mat-card-content>
                <div *ngIf="errorMessage">
                    <label class="icon-with-text error-message" [matTooltip]="errorMessage" tooltip-position="below">
                        <mat-icon class="neon-icon-small">error</mat-icon>
                        <span>{{ errorMessage }}</span>
                    </label>
                    <p></p>
                </div>

                <div *ngIf="getButtonText()">
                    <label class="icon-with-text" [matTooltip]="getButtonText()" tooltip-position="below">
                        <mat-icon class="neon-icon-small">info</mat-icon>
                        <span>{{ getButtonText() }}</span>
                    </label>
                    <p></p>
                </div>

                <mat-form-field>
                    <input matInput placeholder="Title" [(ngModel)]="options.title" required="false">
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Database" [(ngModel)]="options.database" required="true" (ngModelChange)="handleChangeDatabase()" [disabled]="options.databases.length < 2">
                        <mat-option *ngFor="let database of options.databases" [value]="database">{{ database.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Table" [(ngModel)]="options.table" required="true" (ngModelChange)="handleChangeTable()" [disabled]="options.tables.length < 2">
                        <mat-option *ngFor="let table of options.tables" [value]="table">{{ table.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Actual ID Field" [(ngModel)]="options.objectIdField" required="false" (ngModelChange)="handleChangeData()" [disabled]="options.fields.length < 1">
                        <mat-option [value]="emptyField">(None)</mat-option>
                        <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Actual Name Field" [(ngModel)]="options.objectNameField" required="false" (ngModelChange)="handleChangeData()" [disabled]="options.fields.length < 1">
                        <mat-option [value]="emptyField">(None)</mat-option>
                        <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Category Field" [(ngModel)]="options.categoryField" required="false" (ngModelChange)="handleChangeData()" [disabled]="options.fields.length < 1">
                        <mat-option [value]="emptyField">(None)</mat-option>
                        <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Filter Field" [(ngModel)]="options.filterField" required="false" (ngModelChange)="handleChangeData()" [disabled]="options.fields.length < 1">
                        <mat-option [value]="emptyField">(None)</mat-option>
                        <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="ID Field" [(ngModel)]="options.idField" required="false" (ngModelChange)="handleChangeData()" [disabled]="options.fields.length < 1">
                        <mat-option [value]="emptyField">(None)</mat-option>
                        <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Link Field" [(ngModel)]="options.linkField" required="true" (ngModelChange)="handleChangeData()" [disabled]="options.fields.length < 1">
                        <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Name Field" [(ngModel)]="options.nameField" required="false" (ngModelChange)="handleChangeData()" [disabled]="options.fields.length < 1">
                        <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Predicted Name Field" [(ngModel)]="options.predictedNameField" required="false" (ngModelChange)="handleChangeData()" [disabled]="options.fields.length < 1">
                        <mat-option [value]="emptyField">(None)</mat-option>
                        <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Predicted Probability Field" [(ngModel)]="options.percentField" required="false" (ngModelChange)="handleChangeData()" [disabled]="options.fields.length < 1">
                        <mat-option [value]="emptyField">(None)</mat-option>
                        <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Sort Field" [(ngModel)]="options.sortField" required="true" (ngModelChange)="handleChangeData()" [disabled]="options.fields.length < 1">
                        <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Type Field" [(ngModel)]="options.typeField" required="false" (ngModelChange)="handleChangeData()" [disabled]="options.fields.length < 1">
                        <mat-option [value]="emptyField">(None)</mat-option>
                        <mat-option *ngFor="let field of options.fields" [value]="field">{{ field.prettyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <div mat-fill class="flex center">
                    <mat-form-field>
                        <input matInput placeholder="Row Limit" [(ngModel)]="options.newLimit" required="true" (keyup.enter)="handleChangeLimit()">
                    </mat-form-field>

                    <button mat-icon-button aria-label="Refresh" matTooltip="Refresh" tooltip-position="below" (click)="handleChangeLimit()">
                        <mat-icon>refresh</mat-icon>
                    </button>
                </div>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Crop and/or Scale" [(ngModel)]="options.cropAndScale" required="true" (ngModelChange)="updatePageData()">
                        <mat-option [value]="''">None</mat-option>
                        <mat-option [value]="'scale'">Scale</mat-option>
                        <mat-option [value]="'crop'">Crop</mat-option>
                        <mat-option [value]="'both'">Both</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Open Image/Video on Mouse Click" [(ngModel)]="options.openOnMouseClick" required="true">
                        <mat-option [value]="true">Yes</mat-option>
                        <mat-option [value]="false">No</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <mat-form-field>
                    <mat-select placeholder="Sort" [(ngModel)]="options.ascending" required="true" (ngModelChange)="handleSortOrder()">
                        <mat-option [value]="true">Ascending</mat-option>
                        <mat-option [value]="false">Descending</mat-option>
                    </mat-select>
                </mat-form-field>
                <p></p>

                <app-export-control [exportId]="exportId"></app-export-control>
            </mat-card-content>
        </mat-card>
    </mat-sidenav>

    <div [class.loading-overlay]="isLoading" [class.not-loading-overlay]="!isLoading">
        <mat-spinner ></mat-spinner>
    </div>

    <div class="filter-container">
        <div class="filter-reset" *ngFor="let filter of getCloseableFilters()">
            <span class="filter-label" tooltip-position="below" [matTooltip]="getFilterText(filter)">{{ filter.value }}</span>
            <button mat-icon-button class="neon-icon-button-small" aria-label="Close" tooltip-position="below"
                    [matTooltip]="'Delete Filter ' + getFilterText(filter)" (click)="removeLocalFilterFromLocalAndNeon(filter, true, true)">
                <mat-icon class="neon-icon-small">close</mat-icon>
            </button>
        </div>
    </div>

    <div #thumbnailGrid class="body-container thumbnail-grid" [class.with-filter]="getCloseableFilters().length" [class.with-footer]="gridArray.length > options.limit">
       <div class="thumbnail-grid-container" [class.style2]="options.styleClass == 'style2'">
           <div class="thumbnail-grid-div" *ngFor="let item of pagingGrid; let i = index" [matTooltip]="getThumbnailTitle(item)"
               tooltip-position="below" (click)="selectGridItem(item)" [class.selectable]="isSelectable()"
               [class.selected]="isSelected(item)" [class.with-text]="getThumbnailLabel(item) != '' || getThumbnailPercent(item) != ''">
               <div class="thumbnail-details" *ngIf="getThumbnailLabel(item) != '' || getThumbnailPercent(item) != ''">
                   <p>
                       <span class="detail-ellipses">{{ getThumbnailLabel(item) }}</span>
                       <span class="detail-percentage">{{ getThumbnailPercent(item) }}</span>
                   </p>
               </div>
                <canvas class="thumbnail-view" [class.with-border]="options.border != ''" height="100" width="100"></canvas>
           </div>
       </div>
   </div>

    <div class="footer" *ngIf="gridArray.length > options.limit">
        <div class="footer-button-container">
            <button mat-raised-button [disabled]="page == 1" class="pagination-button previous-button" color="primary"
                    (click)="previousPage()">
                Previous
            </button>
            <span class="pagination-button-spacer"></span>
            <button mat-raised-button [disabled]="lastPage" class="pagination-button next-button" color="primary"
                    (click)="nextPage()">
                Next
            </button>
        </div>
    </div>

</mat-sidenav-container>
