/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/prebuilt-themes/purple-green.css';
@import '~@angular/material/_theming';
@import 'themes/neon-green-theme.scss';
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(assets/Material/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(assets/Material/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2'),
  }
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
/* Rules for sizing the icons. */
.material-icons.mat-8 {
    font-size: 8px;
}

.material-icons.mat-12 {
    font-size: 12px;
}

.material-icons.mat-18 {
    font-size: 18px;
}

.material-icons.mat-24 {
    font-size: 24px;
}

.material-icons.mat-36 {
    font-size: 36px;
}

.material-icons.mat-48 {
    font-size: 48px;
}
/* Rules for using icons as black on a light background. */
.material-icons.mat-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.mat-dark.mat-inactive {
    color: rgba(0, 0, 0, 0.26);
}
/* Rules for using icons as white on a dark background. */
.material-icons.mat-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.mat-light.mat-inactive {
    color: rgba(255, 255, 255, 0.3);
}
/* General layout styles. */
.fill-remaining {
    flex: 1 1 auto;
}

.rounded {
    border-radius: 3px;
}

.rounded-left {
    border-radius: 3px 0 0 3px;
}

.rounded-right {
    border-radius: 0 3px 3px 0;
}
/* Angular2-Grid Overrides */
.grid {
    position: relative;
}

.grid-item {
    border-radius: 3px;
    position: absolute;
}

.grid-item.moving {
    z-index: z-index + 1;
}

.placeholder {
    position: absolute;
}

.grid-placeholder {
    background-color: gray;
    border: 2px dotted black;
    opacity: 0.3;
    z-index: 10;
}
/* Angular Material Overrides */
.mat-dialog-container {
    padding: 0;
}

.icon-BarChart64 {
    background-position: -192px -64px
}

.icon-Count64 {
    background-position: -192px -128px
}

.icon-CreateFilter64 {
    background-position: 0 -192px
}

.icon-DocumentViewer64 {
    background-position: -290px -256px
}

.icon-Gantt64 {
    background-position: -64px -192px
}

.icon-Graph64 {
    background-position: -128px -192px
}

.icon-LineChart64 {
    background-position: 0 0
}

.icon-Map64 {
    background-position: -256px 0
}

.icon-News64 {
    background-position: -256px -64px
}

.icon-OPS64 {
    background-position: -256px -128px
}

.icon-OpsClock64 {
    background-position: -256px -192px
}

.icon-PieChart64 {
    background-position: 0 -256px;
}

.icon-ScatterPlot64 {
    background-position: -64px -256px
}

.icon-Sunburst64 {
    background-position: -192px 0
}

.icon-TagCloud64 {
    background-position: -128px -128px
}

.icon-Timeline64 {
    background-position: -64px -128px
}

.icon-ViewData64 {
    background-position: 0 -128px
}

.icon-Bar-Chart {
    background-position: -128px -64px
}

.icon-Create-Filter {
    background-position: -128px 0
}

.icon-Graph {
    background-position: -64px -64px
}

.icon-LineChart {
    background-position: 0 -64px
}

.icon-PieChart {
    background-position: -64px 0
}

.icon-WikiViewer {
    background-position: -5px -320px
}

.icon-container {
    justify-content: center;
    display: flex;
}

.neon-sprite {
    display: inline-block;
    vertical-align: middle;
    background-image: url("assets/images/spritesheet.png");
    width: 64px;
    height: 64px;
}

.loading-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.1);
    z-index: 100;
}

.not-loading-overlay {
    position: absolute;
    display: none;
}

.data-area {
    position: relative;
    top: 64px;
    bottom: 0;
    width: 100%;
}

//TODO This is a hack
.mat-toolbar{
	min-height:56px !important;
	border-style:solid;
	border-color:  mat-color($header) mat-color($header) $accent-bright;
	//background-color: mat-color($header);
}

.mat-primary{
	border-color: mat-color($primary) mat-color($primary) $accent-bright;
}

//This is also a hack
.mat-toolbar-row{
	height: 48px !important;
}

// Styling for the tabs in the Wiki Viewer.
.mat-tab-label {
    height: 30px !important;
    min-width: unset !important;
    padding: 0 10px !important;
}

