@import '~@angular/material/_theming'; // sass-lint:disable-line clean-import-paths
@import 'themes/neon-dark-theme';
@import 'themes/neon-green-theme';
@import 'themes/neon-teal-theme';

@include mat-core(); // sass-lint:disable-line empty-args

body {
    background-color: var(--color-body, white);
    color: var(--color-text, dimgrey);
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    margin: 0;
}

.app-loading {
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;

    .spinner {
        height: 200px;
        width: 200px;
        animation: app-loading-rotate 2s linear infinite;
        transform-origin: center center;
        position: absolute;
        left: calc(50vw - 100px);
        top: calc(50vh - 100px);

        .path {
            stroke-dasharray: 89, 200;
            stroke-dashoffset: -35px;
            stroke-linecap: round;
            stroke: #DDDDDD;
        }
    }
}

@keyframes app-loading-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@font-face {
    font-family: 'Material Icons';
    src: url('assets/Material/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2'); /* For IE6-8 */
    src: local('Material Icons'), /* sass-lint:disable-line no-duplicate-properties */
    local('MaterialIcons-Regular'),
    url('assets/Material/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';

    /* Rules for using icons as black on a light background. */
    &.mat-dark {
        color: rgba(0, 0, 0, 0.54);

        &.mat-inactive {
            color: rgba(0, 0, 0, 0.26);
        }
    }

    /* Rules for using icons as white on a dark background. */
    &.mat-light {
        color: rgba(255, 255, 255, 1);

        &.mat-inactive {
            color: rgba(255, 255, 255, 0.3);
        }
    }
}

/* General layout styles. */
.flex {
    display: flex;
}

.center {
    align-items: center;
}

.fill-remaining {
    flex: 1 1 auto;
}

/* Angular2-Grid Overrides */
.grid {
    position: relative;
}

.grid-item {
    &.moving {
        z-index: z-index + 1;
    }

    .mat-toolbar {
        border-bottom: 2px solid var(--color-accent, lightgrey) !important;
    }
}

.placeholder {
    position: absolute;
}

.grid-placeholder {
    background-color: var(--color-text, dimgrey);
    border: 2px dotted black;
    opacity: 0.3;
    z-index: 10;
}

.icon-container {
    justify-content: center;
    display: flex;
}

.neon-svg-icon {
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 60px;
    margin: 5px;
}

.neon-icon-navBar { // sass-lint:disable-line class-name-format
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    margin: 5px;
}

/* Loading Spinner */
.loading-overlay {
    position: absolute;
    width: 100%;
    /* Subtract the height of the visualization toolbar. */
    height: calc(100% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.not-loading-overlay {
    position: absolute;
    display: none;
}

/* Angular Material Overrides */
.mat-button,
.mat-flat-button,
.mat-raised-button,
.mat-stroked-button {
    border-radius: 5px !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 20px !important;
    height: 30px !important;
    min-width: unset !important;
    padding: 5px 10px !important;

    > * { // sass-lint:disable-line no-universal-selectors
        vertical-align: bottom !important;
    }

    &.neon-button-small {
        font-size: 14px !important;
        font-weight: 500 !important;
        line-height: 15px !important;
        height: 25px !important;
    }

    &:not([disabled]) {
        background-color: var(--color-dash-item-unselected, lightgrey) !important;
        color: var(--color-dash-item-unselected-text, dimgrey) !important;

        &:hover {
            background-color: var(--color-dash-item-selectable, lightgrey) !important;
            color: var(--color-dash-item-selectable-text, dimgrey) !important;
        }
    }
}

.mat-button-focus-overlay {
    /* Hide the focus overlay because it sticks. */
    opacity: 0 !important;
}

.mat-button-toggle-group {
    border-radius: 10px !important;
    font-size: 12px !important;
    font-weight: 500 !important;

    .mat-button-toggle {
        &:first-child {
            border-radius: 10px 0 0 10px !important;
        }

        &:last-child {
            border-radius: 0 10px 10px 0 !important;
        }

        &:not(.mat-button-toggle-disabled) {
            &.mat-button-toggle-checked {
                background-color: var(--color-dash-item-unselected, lightgrey) !important;
                color: var(--color-dash-item-unselected-text, dimgrey) !important;
            }

            &:hover {
                background-color: var(--color-dash-item-selectable, lightgrey) !important;
                color: var(--color-dash-item-selectable-text, dimgrey) !important;
            }
        }
    }

    .mat-button-toggle-label-content {
        display: block !important;
        height: 20px !important;
        line-height: 20px !important;
        padding: 5px 10px !important;
    }

    &.neon-button-toggle-group-small {
        font-size: 12px !important;
        font-weight: 500px !important;

        .mat-button-toggle-label-content {
            height: 15px !important;
            line-height: 15px !important;
            padding: 5px 10px !important;
        }
    }
}

.mat-dialog-container {
    padding: 10px !important;
}

.mat-form-field {
    .mat-form-field-infix {
        border-top: 15px solid transparent !important;
        font-size: 14px !important;
        line-height: 15px !important;
        padding: 5px 0 !important;
        width: unset;
    }

    .mat-form-field-underline {
        bottom: 0 !important;
    }

    .mat-form-field-wrapper {
        padding: 0 !important;
    }

    &.neon-form-field-large {
        .mat-form-field-infix {
            font-size: 18px !important;
            height: 20px !important;
            line-height: 20px !important;
        }
    }

    &.neon-form-field-flex-5 {
        padding: 0 5px;
        width: calc(20% - 10px) !important;
    }
}

.mat-icon-button {
    line-height: 20px !important;
    height: 30px !important;
    width: 30px !important;
    margin: 0 !important;
    padding: 5px !important;

    &.neon-icon-button-large {
        line-height: 30px !important;
        height: 40px !important;
        width: 40px !important;
    }

    &.neon-icon-button-small {
        line-height: 16px !important;
        height: 16px !important;
        width: 16px !important;
        margin: 0 5px !important;
        padding: 0 !important;
    }

    &:not([disabled]) {
        &.active,
        &:hover {
            &:not(.mat-raised-button) {
                color: var(--color-dash-item-selectable, lightgrey) !important;

                &.neon-icon-button-contrast {
                    color: var(--color-data-item-selectable-contrast, lightgrey) !important;
                }
            }
        }
    }
}

.mat-icon {
    font-size: 20px !important;
    line-height: 20px !important;
    height: 20px !important;
    width: 20px !important;
    vertical-align: bottom;

    &.neon-icon-large {
        font-size: 30px !important;
        line-height: 30px !important;
        height: 30px !important;
        width: 30px !important;
    }

    &.neon-icon-small {
        font-size: 16px !important;
        line-height: 16px !important;
        height: 16px !important;
        width: 16px !important;
    }

    &:not([disabled]) {
        &.active {
            color: var(--color-dash-item-selectable, lightgrey) !important;
        }
    }
}

.mat-list,
.mat-nav-list,
.mat-selection-list {
    padding-top: 0 !important;
}

.mat-list-item {
    height: 40px !important;

    &.mat-2-line {
        height: 50px !important;
    }
}

.mat-list-item-content {
    padding: 5px 10px !important;
}

.mat-menu-content {
    padding: 0 !important;
}

.mat-menu-item,
.mat-option {
    line-height: 20px !important;
    height: 30px !important;
    padding: 5px 10px !important;
}

.mat-nav-list {
    .mat-list-item-content {
        padding: 5px 20px !important;
    }
}

.mat-select-panel {
    .mat-option {
        color: var(--color-text, dimgrey) !important;

        &:not(.mat-option-disabled) {
            &.mat-selectable,
            &:hover {
                background: var(--color-dash-item-selectable, lightgrey) !important;
                color: var(--color-dash-item-selectable-text, dimgrey) !important;
            }
        }
    }
}

.mat-slider {
    padding: 0 !important;
}

.mat-slider-horizontal {
    height: 30px !important;
    min-width: unset !important;

    .mat-slider-wrapper {
        /* Position the slider near the bottom and save 40px for the thumb-label. */
        top: 14px !important;
        /* Add the same margin to the left and right. */
        left: 10px !important;
        right: 10px !important;
    }
}

.mat-tab-label {
    height: 30px !important;
    min-width: unset !important;
    opacity: unset !important;
    padding: 5px 10px !important;
}

.mat-tab-label:hover, // sass-lint:disable-line force-pseudo-nesting
.mat-tab-label-active {
    background-color: var(--color-dash-item-selectable, lightgrey) !important;
    color: var(--color-dash-item-selectable-text, dimgrey) !important;
}

.mat-toolbar {
    &.titlebar-header-text {
        font-size: 20px;
        font-weight: 400;
    }

    &.widget-header-text {
        font-size: 14px;
        font-weight: 500;
    }
}

.mat-tooltip {
    background-color: grey;
    color: white;
    margin: 5px;
    padding: 5px;
}

.mat-snack-bar-container {
    background-color: var(--color-background, white) !important;
    color: var(--color-text, dimgrey) !important;
    margin: 30px !important;
    padding: 20px !important;
}

context-menu-content {
    background: var(--color-background, lightgray);
    min-width: 200px;
    filter: drop-shadow(0 0 10px rgba(128, 128, 128, 0.6));

    &:focus,
    ul,
    li {
        outline: none;
    }

    ul {
        list-style-position: inside;
        list-style-type: none;

        &,
        li {
            padding: 0;
            margin: 0;
        }

        li {
            font-size: 0.9em;
            padding: 0 1em;
            line-height: 2.5em;

            &:not(.header) {
                &:hover {
                    background: var(--color-background-contrast, gray);
                }
            }

            &.divider {
                border-bottom: 1px solid var(--color-background-contrast);
            }

            a {
                width: 100%;
                display: block;
                color: var(--color-text, black);
                text-decoration: none;

                .mat-icon {
                    vertical-align: middle;
                }
            }
        }
    }
}
