<mat-sidenav-container #visualization class="visualization-sidenav">
    <mat-toolbar class="neon-toolbar-thin" color="header" layout-align="space-between center" flex>
        <div #headerText class="header text pull-left" [matTooltip]="options.title" tooltip-position="below">{{ options.title }}</div>
        <span class="fill-remaining"></span>
        <span #infoText class="info text">
            <span class="error-message" *ngIf="errorMessage" [matTooltip]="errorMessage" tooltip-position="below">
                {{ errorMessage }}
            </span>
            <span *ngIf="!errorMessage" [matTooltip]="getButtonText()" tooltip-position="below">{{ getButtonText() }}</span>
        </span>
        <button mat-icon-button aria-label="Settings" matTooltip="Open/Close the Options Menu" tooltip-position="below" (click)="toggleGear();">
            <mat-icon>settings</mat-icon>
        </button>
    </mat-toolbar>

    <div [class.loading-overlay]="loadingCount > 0" [class.not-loading-overlay]="loadingCount == 0">
        <mat-spinner></mat-spinner>
    </div>

    <mat-tab-group *ngIf="getActiveData(options) != null">
        <mat-tab *ngFor="let item of getActiveData(options).data" [label]="item.name">
            <div class="wiki-text html" [innerHTML]="item.text"></div>
        </mat-tab>
    </mat-tab-group>
</mat-sidenav-container>
