<div [class.neon-green-dark-theme]="themesService.getCurrentTheme().id === 'neon-green-dark-theme'">
    <mat-toolbar color="primary">
        <span class="mat-36">Add Visualizations</span>
    </mat-toolbar>
    <div class="add-visualization-grid-container" mat-fill>
        <mat-grid-list cols="4" rowHeight="130px" gutterSize="5px">
            <mat-grid-tile *ngFor="let item of visualizations; let i = index;" [class.selected]="item.selected"
                [colspan]="1" [rowspan]="1" class="add-visualization-tile" matRipple>
                <a (click)="onItemSelected($event.shiftKey, i)">
                    <div class="neon-popup-thumbnail center-block text-center">
                        <div class="center-block">
                            <div class="center-block icon-container">
                                <div class="icon-{{item.icon}} neon-sprite"></div>
                            </div>
                            <div class="center-contents">
                                <span class="text-uppercase">{{ item.name }}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <mat-toolbar>
        <span class="fill-remaining"></span>
        <button mat-raised-button class="mat-primary" (click)="dialogRef.close('close')"> Close </button>
    </mat-toolbar>
</div>
