<div [class.neon-green-dark-theme]="themesService.getCurrentTheme().id === 'neon-green-dark-theme'">
	<div class="item" layout="column">
        <table>
            <tr class="metadata-row" *ngFor="let metadataElement of metadata">
                <td class="metadata-bold">{{ metadataElement.name }}: </td>
                <td >{{ formatMetadataEntry(data.item, metadataElement) }}</td>
            </tr>
        </table>
	    <p>{{ text }}</p>
	</div>
	<mat-toolbar class="rounded">
	    <span class="fill-remaining"></span>
	    <button mat-raised-button class="mat-primary" (click)="dialogRef.close('close')"> Close </button>
	</mat-toolbar>
</div>
