<div class="delete-all-filters" *ngIf="requiredFilters.length || optionalFilters.length">
    <button mat-icon-button aria-label="Reset" title="Remove All Filters"
            (click)="filterService.deleteFilters('FilterList', searchService)">
        <mat-icon>delete_sweep</mat-icon>
    </button>
    <div class="filter-text" style="display: inline-block; padding-left: 10px;">
        {{ requiredFilters.length + optionalFilters.length }} {{ 'Filter' + (requiredFilters.length + optionalFilters.length == 1 ? '' : 's') }}
    </div>
</div>

<div>
    <div mat-fill>
        <mat-list>
            <mat-list-item *ngFor="let filter of requiredFilters" class="current-filters-item filter-text">
                <button mat-icon-button title="Remove Filter" (click)="this.filterService.deleteFilter('FilterList', filter, searchService)">
                    <mat-icon>delete</mat-icon>
                </button>
                <mat-icon class="next-to-button" title="Required Filter">star</mat-icon>
                <div>{{ filter.name }}</div>
            </mat-list-item>
            <mat-list-item *ngFor="let filter of optionalFilters" class="current-filters-item filter-text">
                <button mat-icon-button title="Remove Filter" (click)="this.filterService.deleteFilter('FilterList', filter, searchService)">
                    <mat-icon>delete</mat-icon>
                </button>
                <mat-icon class="next-to-button" title="Optional Filter">star_border</mat-icon>
                <div>{{ filter.name }}</div>
            </mat-list-item>
            <mat-list-item *ngIf="!requiredFilters.length && !optionalFilters.length" class="filter-text">No Filters</mat-list-item>
        </mat-list>
    </div>

    <div mat-fill class="flex">
        <span class="fill-remaining"></span>
    </div>
</div>
