<div class="group remove-all">
    <button mat-icon-button mat-raised-button (click)="removeAll()" color="warn">
        <mat-icon (click)="removeAll()">clear_all</mat-icon>
    </button>
</div>
<div class="groupings">
    <span *ngFor="let group of groups" class="group">
        <span *ngIf="group.name != ''" class="group-name">{{group.name}}</span>
        <mat-chip-list>
            <mat-chip *ngFor="let filter of group.filters; let i = index" selected [style.display]="i < 5 ? 'inherit' : 'none'">
                <span [title]="filter.getLabel()">
                    <span>{{filter.getLabelForOperator()}} {{filter.getLabelForValue(true)}}</span>
                </span>
                <mat-icon matChipRemove (click)="remove(filter)">cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
        <span class="group-name" *ngIf="group.filters.length > 5">...and {{group.filters.length - 5}} more</span>
    </span>
</div>
