<div class="messages">
  <div class="messages-header">Messages:</div>
  <div class="message-body">
    <div class="message-category" *ngFor="let group of messages; let i = index">
      <div class="category-label">
        <span>{{ group.type }}</span>
        <!--<button class="close-button" mat-button (click)="close(i)" aria-label="Close">
          <mat-icon class="close-icon" svgIcon="neon:clear"></mat-icon>
        </button>-->
      </div>
      <ul class="category-list">
        <li class="category-item" *ngFor="let display of group.display">{{ display }}</li>
      </ul>
    </div>
  </div>
  <div class="messages-footer">
    <button mat-raised-button class="close-all" color="accent" (click)="closeAll()" aria-label="Close All">Close All</button>
  </div>
</div>
